In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None

In [2]:
obesity_csv = '../original_datasets/obesity.csv'
obesity = pd.read_csv(obesity_csv)

In [3]:
#obesity

In [4]:
obesity_df = obesity['Question'] == 'Percent of adults aged 18 years and older who have obesity'
clean_obesity_df = obesity[obesity_df]

In [5]:
clean_obesity_df.drop(columns = ['Datasource', 'Class', 'Data_Value_Unit',\
                                'Data_Value_Type', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol',\
                                'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit ',\
                                'Total', 'Age(years)', 'Education', 'Gender', 'Income', 'Race/Ethnicity',\
                                'ClassID', 'TopicID', 'QuestionID', 'DataValueTypeID', 'LocationID',\
                                'StratificationCategory1', 'Stratification1', 'StratificationCategoryId1',\
                                'StratificationID1'], axis=1, inplace=True)
#clean_obesity_df

In [6]:
year_2011 =  clean_obesity_df['Year']==2011
year_2011_df = clean_obesity_df[year_2011]
year_2011_df.reset_index(drop=True, inplace=True)
#year_2011_df

In [7]:
year_2012 =  clean_obesity_df['Year']==2012
year_2012_df = clean_obesity_df[year_2012]
year_2012_df.reset_index(drop=True, inplace=True)
#year_2012_df

In [8]:
year_2013 =  clean_obesity_df['Year']==2013
year_2013_df = clean_obesity_df[year_2013]
year_2013_df.reset_index(drop=True, inplace=True)
#year_2013_df

In [9]:
year_2014 =  clean_obesity_df['Year']==2014
year_2014_df = clean_obesity_df[year_2014]
year_2014_df.reset_index(drop=True, inplace=True)
#year_2014_df

In [10]:
year_2015 =  clean_obesity_df['Year']==2015
year_2015_df = clean_obesity_df[year_2015]
year_2015_df.reset_index(drop=True, inplace=True)
#year_2015_df

In [11]:
year_2016 =  clean_obesity_df['Year']==2016
year_2016_df = clean_obesity_df[year_2016]
year_2016_df.reset_index(drop=True, inplace=True)
#year_2016_df

In [12]:
year_2017 =  clean_obesity_df['Year']==2017
year_2017_df = clean_obesity_df[year_2017]
year_2017_df.reset_index(drop=True, inplace=True)
#year_2017_df

In [13]:
year_2018 =  clean_obesity_df['Year']==2018
year_2018_df = clean_obesity_df[year_2018]
year_2018_df.reset_index(drop=True, inplace=True)
#year_2018_df

In [14]:
alabama_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Alabama")]
alabama_2011_df.reset_index(drop=True, inplace=True)
alabama_2011_df['Sum'] = alabama_2011_df.Data_Value * alabama_2011_df.Sample_Size
Sum = alabama_2011_df['Sum'].sum()
Sum_Size = alabama_2011_df['Sample_Size'].sum()
alabama_2011_df['Sum_Sample_Size'] = Sum_Size
alabama_2011_df['Percentage'] = Sum/Sum_Size
alabama_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
alabama_2011_df=alabama_2011_df.drop(alabama_2011_df.index[1:28])
alabama_2011_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Alabama,2011,AL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(32.840571122, -86.631860762)",43662.0,32.095245

In [15]:
alabama_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Alabama")]
alabama_2012_df.reset_index(drop=True, inplace=True)
alabama_2012_df['Sum'] = alabama_2012_df.Data_Value * alabama_2012_df.Sample_Size
Sum = alabama_2012_df['Sum'].sum()
Sum_Size = alabama_2012_df['Sample_Size'].sum()
alabama_2012_df['Sum_Sample_Size'] = Sum_Size
alabama_2012_df['Percentage'] = Sum/Sum_Size
alabama_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
alabama_2012_df=alabama_2012_df.drop(alabama_2012_df.index[1:28])
alabama_2012_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Alabama,2012,AL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(32.840571122, -86.631860762)",51744.0,33.074615

In [16]:
alabama_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Alabama")]
alabama_2013_df.reset_index(drop=True, inplace=True)
alabama_2013_df['Sum'] = alabama_2013_df.Data_Value * alabama_2013_df.Sample_Size
Sum = alabama_2013_df['Sum'].sum()
Sum_Size = alabama_2013_df['Sample_Size'].sum()
alabama_2013_df['Sum_Sample_Size'] = Sum_Size
alabama_2013_df['Percentage'] = Sum/Sum_Size
alabama_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
alabama_2013_df=alabama_2013_df.drop(alabama_2013_df.index[1:28])
alabama_2013_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Alabama,2013,AL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(32.840571122, -86.631860762)",37297.0,32.590007

In [17]:
alabama_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Alabama")]
alabama_2014_df.reset_index(drop=True, inplace=True)
alabama_2014_df['Sum'] = alabama_2014_df.Data_Value * alabama_2014_df.Sample_Size
Sum = alabama_2014_df['Sum'].sum()
Sum_Size = alabama_2014_df['Sample_Size'].sum()
alabama_2014_df['Sum_Sample_Size'] = Sum_Size
alabama_2014_df['Percentage'] = Sum/Sum_Size
alabama_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
alabama_2014_df=alabama_2014_df.drop(alabama_2014_df.index[1:28])
alabama_2014_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Alabama,2014,AL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(32.840571122, -86.631860762)",48967.0,33.569185

In [18]:
alabama_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Alabama")]
alabama_2015_df.reset_index(drop=True, inplace=True)
alabama_2015_df['Sum'] = alabama_2015_df.Data_Value * alabama_2015_df.Sample_Size
Sum = alabama_2015_df['Sum'].sum()
Sum_Size = alabama_2015_df['Sample_Size'].sum()
alabama_2015_df['Sum_Sample_Size'] = Sum_Size
alabama_2015_df['Percentage'] = Sum/Sum_Size
alabama_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
alabama_2015_df=alabama_2015_df.drop(alabama_2015_df.index[1:28])
alabama_2015_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Alabama,2015,AL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(32.840571122, -86.631860762)",44128.0,35.670987

In [19]:
alabama_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Alabama")]
alabama_2016_df.reset_index(drop=True, inplace=True)
alabama_2016_df['Sum'] = alabama_2016_df.Data_Value * alabama_2016_df.Sample_Size
Sum = alabama_2016_df['Sum'].sum()
Sum_Size = alabama_2016_df['Sample_Size'].sum()
alabama_2016_df['Sum_Sample_Size'] = Sum_Size
alabama_2016_df['Percentage'] = Sum/Sum_Size
alabama_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
alabama_2016_df=alabama_2016_df.drop(alabama_2016_df.index[1:28])
alabama_2016_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Alabama,2016,AL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(32.840571122, -86.631860762)",39010.0,35.705029

In [20]:
alabama_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Alabama")]
alabama_2017_df.reset_index(drop=True, inplace=True)
alabama_2017_df['Sum'] = alabama_2017_df.Data_Value * alabama_2017_df.Sample_Size
Sum = alabama_2017_df['Sum'].sum()
Sum_Size = alabama_2017_df['Sample_Size'].sum()
alabama_2017_df['Sum_Sample_Size'] = Sum_Size
alabama_2017_df['Percentage'] = Sum/Sum_Size
alabama_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
alabama_2017_df=alabama_2017_df.drop(alabama_2017_df.index[1:28])
alabama_2017_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Alabama,2017,AL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(32.840571122, -86.631860762)",37287.0,36.312302

In [21]:
alabama_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Alabama")]
alabama_2018_df.reset_index(drop=True, inplace=True)
alabama_2018_df['Sum'] = alabama_2018_df.Data_Value * alabama_2018_df.Sample_Size
Sum = alabama_2018_df['Sum'].sum()
Sum_Size = alabama_2018_df['Sample_Size'].sum()
alabama_2018_df['Sum_Sample_Size'] = Sum_Size
alabama_2018_df['Percentage'] = Sum/Sum_Size
alabama_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
alabama_2018_df=alabama_2018_df.drop(alabama_2018_df.index[1:28])
alabama_2018_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Alabama,2018,AL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(32.84057112200048, -86.63186076199969)",36709.0,36.293735

In [22]:
alaska_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Alaska")]
alaska_2011_df.reset_index(drop=True, inplace=True)
alaska_2011_df['Sum'] = alaska_2011_df.Data_Value * alaska_2011_df.Sample_Size
Sum = alaska_2011_df['Sum'].sum()
Sum_Size = alaska_2011_df['Sample_Size'].sum()
alaska_2011_df['Sum_Sample_Size'] = Sum_Size
alaska_2011_df['Percentage'] = Sum/Sum_Size
alaska_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
alaska_2011_df=alaska_2011_df.drop(alaska_2011_df.index[1:28])
alaska_2011_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Alaska,2011,AK,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(64.845079957001, -147.722059036)",19851.0,27.483124

In [23]:
alaska_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Alaska")]
alaska_2012_df.reset_index(drop=True, inplace=True)
alaska_2012_df['Sum'] = alaska_2012_df.Data_Value * alaska_2012_df.Sample_Size
Sum = alaska_2012_df['Sum'].sum()
Sum_Size = alaska_2012_df['Sample_Size'].sum()
alaska_2012_df['Sum_Sample_Size'] = Sum_Size
alaska_2012_df['Percentage'] = Sum/Sum_Size
alaska_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
alaska_2012_df=alaska_2012_df.drop(alaska_2012_df.index[1:28])
alaska_2012_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Alaska,2012,AK,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(64.845079957001, -147.722059036)",24462.0,26.130132

In [24]:
alaska_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Alaska")]
alaska_2013_df.reset_index(drop=True, inplace=True)
alaska_2013_df['Sum'] = alaska_2013_df.Data_Value * alaska_2013_df.Sample_Size
Sum = alaska_2013_df['Sum'].sum()
Sum_Size = alaska_2013_df['Sample_Size'].sum()
alaska_2013_df['Sum_Sample_Size'] = Sum_Size
alaska_2013_df['Percentage'] = Sum/Sum_Size
alaska_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
alaska_2013_df=alaska_2013_df.drop(alaska_2013_df.index[1:28])
alaska_2013_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Alaska,2013,AK,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(64.845079957001, -147.722059036)",26254.0,28.377253

In [25]:
alaska_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Alaska")]
alaska_2014_df.reset_index(drop=True, inplace=True)
alaska_2014_df['Sum'] = alaska_2014_df.Data_Value * alaska_2014_df.Sample_Size
Sum = alaska_2014_df['Sum'].sum()
Sum_Size = alaska_2014_df['Sample_Size'].sum()
alaska_2014_df['Sum_Sample_Size'] = Sum_Size
alaska_2014_df['Percentage'] = Sum/Sum_Size
alaska_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
alaska_2014_df=alaska_2014_df.drop(alaska_2014_df.index[1:28])
alaska_2014_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Alaska,2014,AK,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(64.845079957001, -147.722059036)",24690.0,29.739441

In [26]:
alaska_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Alaska")]
alaska_2015_df.reset_index(drop=True, inplace=True)
alaska_2015_df['Sum'] = alaska_2015_df.Data_Value * alaska_2015_df.Sample_Size
Sum = alaska_2015_df['Sum'].sum()
Sum_Size = alaska_2015_df['Sample_Size'].sum()
alaska_2015_df['Sum_Sample_Size'] = Sum_Size
alaska_2015_df['Percentage'] = Sum/Sum_Size
alaska_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
alaska_2015_df=alaska_2015_df.drop(alaska_2015_df.index[1:28])
alaska_2015_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Alaska,2015,AK,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(64.845079957001, -147.722059036)",20496.0,30.057753

In [27]:
alaska_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Alaska")]
alaska_2016_df.reset_index(drop=True, inplace=True)
alaska_2016_df['Sum'] = alaska_2016_df.Data_Value * alaska_2016_df.Sample_Size
Sum = alaska_2016_df['Sum'].sum()
Sum_Size = alaska_2016_df['Sample_Size'].sum()
alaska_2016_df['Sum_Sample_Size'] = Sum_Size
alaska_2016_df['Percentage'] = Sum/Sum_Size
alaska_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
alaska_2016_df=alaska_2016_df.drop(alaska_2016_df.index[1:28])
alaska_2016_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Alaska,2016,AK,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(64.845079957001, -147.722059036)",16267.0,31.379836

In [28]:
alaska_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Alaska")]
alaska_2017_df.reset_index(drop=True, inplace=True)
alaska_2017_df['Sum'] = alaska_2017_df.Data_Value * alaska_2017_df.Sample_Size
Sum = alaska_2017_df['Sum'].sum()
Sum_Size = alaska_2017_df['Sample_Size'].sum()
alaska_2017_df['Sum_Sample_Size'] = Sum_Size
alaska_2017_df['Percentage'] = Sum/Sum_Size
alaska_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
alaska_2017_df=alaska_2017_df.drop(alaska_2017_df.index[1:28])
alaska_2017_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Alaska,2017,AK,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(64.845079957001, -147.722059036)",17994.0,34.318023

In [29]:
alaska_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Alaska")]
alaska_2018_df.reset_index(drop=True, inplace=True)
alaska_2018_df['Sum'] = alaska_2018_df.Data_Value * alaska_2018_df.Sample_Size
Sum = alaska_2018_df['Sum'].sum()
Sum_Size = alaska_2018_df['Sample_Size'].sum()
alaska_2018_df['Sum_Sample_Size'] = Sum_Size
alaska_2018_df['Percentage'] = Sum/Sum_Size
alaska_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
alaska_2018_df=alaska_2018_df.drop(alaska_2018_df.index[1:28])
alaska_2018_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Alaska,2018,AK,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(64.84507995700051, -147.72205903599973)",15458.0,29.309464

In [30]:
arizona_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Arizona")]
arizona_2011_df.reset_index(drop=True, inplace=True)
arizona_2011_df['Sum'] = arizona_2011_df.Data_Value * arizona_2011_df.Sample_Size
Sum = arizona_2011_df['Sum'].sum()
Sum_Size = arizona_2011_df['Sample_Size'].sum()
arizona_2011_df['Sum_Sample_Size'] = Sum_Size
arizona_2011_df['Percentage'] = Sum/Sum_Size
arizona_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
arizona_2011_df=arizona_2011_df.drop(arizona_2011_df.index[1:28])
arizona_2011_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Arizona,2011,AZ,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(34.86597028, -111.763811277)",36753.0,24.790004

In [31]:
arizona_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Arizona")]
arizona_2012_df.reset_index(drop=True, inplace=True)
arizona_2012_df['Sum'] = arizona_2012_df.Data_Value * arizona_2012_df.Sample_Size
Sum = arizona_2012_df['Sum'].sum()
Sum_Size = arizona_2012_df['Sample_Size'].sum()
arizona_2012_df['Sum_Sample_Size'] = Sum_Size
arizona_2012_df['Percentage'] = Sum/Sum_Size
arizona_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
arizona_2012_df=arizona_2012_df.drop(arizona_2012_df.index[1:28])
arizona_2012_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Arizona,2012,AZ,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(34.86597028, -111.763811277)",41477.0,25.789606

In [32]:
arizona_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Arizona")]
arizona_2013_df.reset_index(drop=True, inplace=True)
arizona_2013_df['Sum'] = arizona_2013_df.Data_Value * arizona_2013_df.Sample_Size
Sum = arizona_2013_df['Sum'].sum()
Sum_Size = arizona_2013_df['Sample_Size'].sum()
arizona_2013_df['Sum_Sample_Size'] = Sum_Size
arizona_2013_df['Percentage'] = Sum/Sum_Size
arizona_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
arizona_2013_df=arizona_2013_df.drop(arizona_2013_df.index[1:28])
arizona_2013_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Arizona,2013,AZ,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(34.86597028, -111.763811277)",24032.0,26.350545

In [33]:
arizona_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Arizona")]
arizona_2014_df.reset_index(drop=True, inplace=True)
arizona_2014_df['Sum'] = arizona_2014_df.Data_Value * arizona_2014_df.Sample_Size
Sum = arizona_2014_df['Sum'].sum()
Sum_Size = arizona_2014_df['Sample_Size'].sum()
arizona_2014_df['Sum_Sample_Size'] = Sum_Size
arizona_2014_df['Percentage'] = Sum/Sum_Size
arizona_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
arizona_2014_df=arizona_2014_df.drop(arizona_2014_df.index[1:28])
arizona_2014_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Arizona,2014,AZ,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(34.86597028, -111.763811277)",82746.0,28.45624

In [34]:
arizona_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Arizona")]
arizona_2015_df.reset_index(drop=True, inplace=True)
arizona_2015_df['Sum'] = arizona_2015_df.Data_Value * arizona_2015_df.Sample_Size
Sum = arizona_2015_df['Sum'].sum()
Sum_Size = arizona_2015_df['Sample_Size'].sum()
arizona_2015_df['Sum_Sample_Size'] = Sum_Size
arizona_2015_df['Percentage'] = Sum/Sum_Size
arizona_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
arizona_2015_df=arizona_2015_df.drop(arizona_2015_df.index[1:28])
arizona_2015_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Arizona,2015,AZ,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(34.86597028, -111.763811277)",42732.0,27.799455

In [35]:
arizona_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Arizona")]
arizona_2016_df.reset_index(drop=True, inplace=True)
arizona_2016_df['Sum'] = arizona_2016_df.Data_Value * arizona_2016_df.Sample_Size
Sum = arizona_2016_df['Sum'].sum()
Sum_Size = arizona_2016_df['Sample_Size'].sum()
arizona_2016_df['Sum_Sample_Size'] = Sum_Size
arizona_2016_df['Percentage'] = Sum/Sum_Size
arizona_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
arizona_2016_df=arizona_2016_df.drop(arizona_2016_df.index[1:28])
arizona_2016_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Arizona,2016,AZ,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(34.86597028, -111.763811277)",59966.0,28.596917

In [36]:
arizona_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Arizona")]
arizona_2017_df.reset_index(drop=True, inplace=True)
arizona_2017_df['Sum'] = arizona_2017_df.Data_Value * arizona_2017_df.Sample_Size
Sum = arizona_2017_df['Sum'].sum()
Sum_Size = arizona_2017_df['Sample_Size'].sum()
arizona_2017_df['Sum_Sample_Size'] = Sum_Size
arizona_2017_df['Percentage'] = Sum/Sum_Size
arizona_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
arizona_2017_df=arizona_2017_df.drop(arizona_2017_df.index[1:28])
arizona_2017_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Arizona,2017,AZ,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(34.86597028, -111.763811277)",84616.0,29.080858

In [37]:
arizona_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Arizona")]
arizona_2018_df.reset_index(drop=True, inplace=True)
arizona_2018_df['Sum'] = arizona_2018_df.Data_Value * arizona_2018_df.Sample_Size
Sum = arizona_2018_df['Sum'].sum()
Sum_Size = arizona_2018_df['Sample_Size'].sum()
arizona_2018_df['Sum_Sample_Size'] = Sum_Size
arizona_2018_df['Percentage'] = Sum/Sum_Size
arizona_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
arizona_2018_df=arizona_2018_df.drop(arizona_2018_df.index[1:28])
arizona_2018_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Arizona,2018,AZ,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(34.865970280000454, -111.76381127699972)",44502.0,29.496034

In [38]:
arkansas_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Arkansas")]
arkansas_2011_df.reset_index(drop=True, inplace=True)
arkansas_2011_df['Sum'] = arkansas_2011_df.Data_Value * arkansas_2011_df.Sample_Size
Sum = arkansas_2011_df['Sum'].sum()
Sum_Size = arkansas_2011_df['Sample_Size'].sum()
arkansas_2011_df['Sum_Sample_Size'] = Sum_Size
arkansas_2011_df['Percentage'] = Sum/Sum_Size
arkansas_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
arkansas_2011_df=arkansas_2011_df.drop(arkansas_2011_df.index[1:28])
arkansas_2011_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Arkansas,2011,AR,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(34.748650124, -92.274490743)",27045.0,30.942603

In [39]:
arkansas_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Arkansas")]
arkansas_2012_df.reset_index(drop=True, inplace=True)
arkansas_2012_df['Sum'] = arkansas_2012_df.Data_Value * arkansas_2012_df.Sample_Size
Sum = arkansas_2012_df['Sum'].sum()
Sum_Size = arkansas_2012_df['Sample_Size'].sum()
arkansas_2012_df['Sum_Sample_Size'] = Sum_Size
arkansas_2012_df['Percentage'] = Sum/Sum_Size
arkansas_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
arkansas_2012_df=arkansas_2012_df.drop(arkansas_2012_df.index[1:28])
arkansas_2012_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Arkansas,2012,AR,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(34.748650124, -92.274490743)",29467.0,34.254366

In [40]:
arkansas_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Arkansas")]
arkansas_2013_df.reset_index(drop=True, inplace=True)
arkansas_2013_df['Sum'] = arkansas_2013_df.Data_Value * arkansas_2013_df.Sample_Size
Sum = arkansas_2013_df['Sum'].sum()
Sum_Size = arkansas_2013_df['Sample_Size'].sum()
arkansas_2013_df['Sum_Sample_Size'] = Sum_Size
arkansas_2013_df['Percentage'] = Sum/Sum_Size
arkansas_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
arkansas_2013_df=arkansas_2013_df.drop(arkansas_2013_df.index[1:28])
arkansas_2013_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Arkansas,2013,AR,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(34.748650124, -92.274490743)",29992.0,34.214474

In [41]:
arkansas_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Arkansas")]
arkansas_2014_df.reset_index(drop=True, inplace=True)
arkansas_2014_df['Sum'] = arkansas_2014_df.Data_Value * arkansas_2014_df.Sample_Size
Sum = arkansas_2014_df['Sum'].sum()
Sum_Size = arkansas_2014_df['Sample_Size'].sum()
arkansas_2014_df['Sum_Sample_Size'] = Sum_Size
arkansas_2014_df['Percentage'] = Sum/Sum_Size
arkansas_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
arkansas_2014_df=arkansas_2014_df.drop(arkansas_2014_df.index[1:28])
arkansas_2014_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Arkansas,2014,AR,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(34.748650124, -92.274490743)",29182.0,35.663316

In [42]:
arkansas_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Arkansas")]
arkansas_2015_df.reset_index(drop=True, inplace=True)
arkansas_2015_df['Sum'] = arkansas_2015_df.Data_Value * arkansas_2015_df.Sample_Size
Sum = arkansas_2015_df['Sum'].sum()
Sum_Size = arkansas_2015_df['Sample_Size'].sum()
arkansas_2015_df['Sum_Sample_Size'] = Sum_Size
arkansas_2015_df['Percentage'] = Sum/Sum_Size
arkansas_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
arkansas_2015_df=arkansas_2015_df.drop(arkansas_2015_df.index[1:28])
arkansas_2015_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Arkansas,2015,AR,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(34.748650124, -92.274490743)",28744.0,34.36314

In [43]:
arkansas_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Arkansas")]
arkansas_2016_df.reset_index(drop=True, inplace=True)
arkansas_2016_df['Sum'] = arkansas_2016_df.Data_Value * arkansas_2016_df.Sample_Size
Sum = arkansas_2016_df['Sum'].sum()
Sum_Size = arkansas_2016_df['Sample_Size'].sum()
arkansas_2016_df['Sum_Sample_Size'] = Sum_Size
arkansas_2016_df['Percentage'] = Sum/Sum_Size
arkansas_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
arkansas_2016_df=arkansas_2016_df.drop(arkansas_2016_df.index[1:28])
arkansas_2016_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Arkansas,2016,AR,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(34.748650124, -92.274490743)",29049.0,35.458012

In [44]:
arkansas_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Arkansas")]
arkansas_2017_df.reset_index(drop=True, inplace=True)
arkansas_2017_df['Sum'] = arkansas_2017_df.Data_Value * arkansas_2017_df.Sample_Size
Sum = arkansas_2017_df['Sum'].sum()
Sum_Size = arkansas_2017_df['Sample_Size'].sum()
arkansas_2017_df['Sum_Sample_Size'] = Sum_Size
arkansas_2017_df['Percentage'] = Sum/Sum_Size
arkansas_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
arkansas_2017_df=arkansas_2017_df.drop(arkansas_2017_df.index[1:28])
arkansas_2017_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Arkansas,2017,AR,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(34.748650124, -92.274490743)",29173.0,34.945933

In [45]:
arkansas_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Arkansas")]
arkansas_2018_df.reset_index(drop=True, inplace=True)
arkansas_2018_df['Sum'] = arkansas_2018_df.Data_Value * arkansas_2018_df.Sample_Size
Sum = arkansas_2018_df['Sum'].sum()
Sum_Size = arkansas_2018_df['Sample_Size'].sum()
arkansas_2018_df['Sum_Sample_Size'] = Sum_Size
arkansas_2018_df['Percentage'] = Sum/Sum_Size
arkansas_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
arkansas_2018_df=arkansas_2018_df.drop(arkansas_2018_df.index[1:28])
arkansas_2018_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Arkansas,2018,AR,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(34.74865012400045, -92.27449074299966)",29650.0,36.84857

In [46]:
california_2011_df = year_2011_df[year_2011_df['Location'].str.contains("California")]
california_2011_df.reset_index(drop=True, inplace=True)
california_2011_df['Sum'] = california_2011_df.Data_Value * california_2011_df.Sample_Size
Sum = california_2011_df['Sum'].sum()
Sum_Size = california_2011_df['Sample_Size'].sum()
california_2011_df['Sum_Sample_Size'] = Sum_Size
california_2011_df['Percentage'] = Sum/Sum_Size
california_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
california_2011_df=california_2011_df.drop(california_2011_df.index[1:28])
california_2011_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,California,2011,CA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(37.638640123, -120.999999538)",102427.0,23.538072

In [47]:
california_2012_df = year_2012_df[year_2012_df['Location'].str.contains("California")]
california_2012_df.reset_index(drop=True, inplace=True)
california_2012_df['Sum'] = california_2012_df.Data_Value * california_2012_df.Sample_Size
Sum = california_2012_df['Sum'].sum()
Sum_Size = california_2012_df['Sample_Size'].sum()
california_2012_df['Sum_Sample_Size'] = Sum_Size
california_2012_df['Percentage'] = Sum/Sum_Size
california_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
california_2012_df=california_2012_df.drop(california_2012_df.index[1:28])
california_2012_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,California,2012,CA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(37.638640123, -120.999999538)",81767.0,24.695806

In [48]:
california_2013_df = year_2013_df[year_2013_df['Location'].str.contains("California")]
california_2013_df.reset_index(drop=True, inplace=True)
california_2013_df['Sum'] = california_2013_df.Data_Value * california_2013_df.Sample_Size
Sum = california_2013_df['Sum'].sum()
Sum_Size = california_2013_df['Sample_Size'].sum()
california_2013_df['Sum_Sample_Size'] = Sum_Size
california_2013_df['Percentage'] = Sum/Sum_Size
california_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
california_2013_df=california_2013_df.drop(california_2013_df.index[1:28])
california_2013_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,California,2013,CA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(37.638640123, -120.999999538)",63889.0,23.840001

In [49]:
california_2014_df = year_2014_df[year_2014_df['Location'].str.contains("California")]
california_2014_df.reset_index(drop=True, inplace=True)
california_2014_df['Sum'] = california_2014_df.Data_Value * california_2014_df.Sample_Size
Sum = california_2014_df['Sum'].sum()
Sum_Size = california_2014_df['Sample_Size'].sum()
california_2014_df['Sum_Sample_Size'] = Sum_Size
california_2014_df['Percentage'] = Sum/Sum_Size
california_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
california_2014_df=california_2014_df.drop(california_2014_df.index[1:28])
california_2014_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,California,2014,CA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(37.638640123, -120.999999538)",48002.0,24.511091

In [50]:
california_2015_df = year_2015_df[year_2015_df['Location'].str.contains("California")]
california_2015_df.reset_index(drop=True, inplace=True)
california_2015_df['Sum'] = california_2015_df.Data_Value * california_2015_df.Sample_Size
Sum = california_2015_df['Sum'].sum()
Sum_Size = california_2015_df['Sample_Size'].sum()
california_2015_df['Sum_Sample_Size'] = Sum_Size
california_2015_df['Percentage'] = Sum/Sum_Size
california_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
california_2015_df=california_2015_df.drop(california_2015_df.index[1:28])
california_2015_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,California,2015,CA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(37.638640123, -120.999999538)",68575.0,23.950023

In [51]:
california_2016_df = year_2016_df[year_2016_df['Location'].str.contains("California")]
california_2016_df.reset_index(drop=True, inplace=True)
california_2016_df['Sum'] = california_2016_df.Data_Value * california_2016_df.Sample_Size
Sum = california_2016_df['Sum'].sum()
Sum_Size = california_2016_df['Sample_Size'].sum()
california_2016_df['Sum_Sample_Size'] = Sum_Size
california_2016_df['Percentage'] = Sum/Sum_Size
california_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
california_2016_df=california_2016_df.drop(california_2016_df.index[1:28])
california_2016_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,California,2016,CA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(37.638640123, -120.999999538)",61846.0,24.822629

In [52]:
california_2017_df = year_2017_df[year_2017_df['Location'].str.contains("California")]
california_2017_df.reset_index(drop=True, inplace=True)
california_2017_df['Sum'] = california_2017_df.Data_Value * california_2017_df.Sample_Size
Sum = california_2017_df['Sum'].sum()
Sum_Size = california_2017_df['Sample_Size'].sum()
california_2017_df['Sum_Sample_Size'] = Sum_Size
california_2017_df['Percentage'] = Sum/Sum_Size
california_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
california_2017_df=california_2017_df.drop(california_2017_df.index[1:28])
california_2017_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,California,2017,CA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(37.638640123, -120.999999538)",50696.0,24.906454

In [53]:
california_2018_df = year_2018_df[year_2018_df['Location'].str.contains("California")]
california_2018_df.reset_index(drop=True, inplace=True)
california_2018_df['Sum'] = california_2018_df.Data_Value * california_2018_df.Sample_Size
Sum = california_2018_df['Sum'].sum()
Sum_Size = california_2018_df['Sample_Size'].sum()
california_2018_df['Sum_Sample_Size'] = Sum_Size
california_2018_df['Percentage'] = Sum/Sum_Size
california_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
california_2018_df=california_2018_df.drop(california_2018_df.index[1:28])
california_2018_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,California,2018,CA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(37.63864012300047, -120.99999953799971)",64896.0,25.763998

In [54]:
colorado_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Colorado")]
colorado_2011_df.reset_index(drop=True, inplace=True)
colorado_2011_df['Sum'] = colorado_2011_df.Data_Value * colorado_2011_df.Sample_Size
Sum = colorado_2011_df['Sum'].sum()
Sum_Size = colorado_2011_df['Sample_Size'].sum()
colorado_2011_df['Sum_Sample_Size'] = Sum_Size
colorado_2011_df['Percentage'] = Sum/Sum_Size
colorado_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
colorado_2011_df=colorado_2011_df.drop(colorado_2011_df.index[1:28])
colorado_2011_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Colorado,2011,CO,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(38.843840757, -106.133610921)",77639.0,20.643313

In [55]:
colorado_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Colorado")]
colorado_2012_df.reset_index(drop=True, inplace=True)
colorado_2012_df['Sum'] = colorado_2012_df.Data_Value * colorado_2012_df.Sample_Size
Sum = colorado_2012_df['Sum'].sum()
Sum_Size = colorado_2012_df['Sample_Size'].sum()
colorado_2012_df['Sum_Sample_Size'] = Sum_Size
colorado_2012_df['Percentage'] = Sum/Sum_Size
colorado_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
colorado_2012_df=colorado_2012_df.drop(colorado_2012_df.index[1:28])
colorado_2012_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Colorado,2012,CO,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(38.843840757, -106.133610921)",69578.0,20.422126

In [56]:
colorado_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Colorado")]
colorado_2013_df.reset_index(drop=True, inplace=True)
colorado_2013_df['Sum'] = colorado_2013_df.Data_Value * colorado_2013_df.Sample_Size
Sum = colorado_2013_df['Sum'].sum()
Sum_Size = colorado_2013_df['Sample_Size'].sum()
colorado_2013_df['Sum_Sample_Size'] = Sum_Size
colorado_2013_df['Percentage'] = Sum/Sum_Size
colorado_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
colorado_2013_df=colorado_2013_df.drop(colorado_2013_df.index[1:28])
colorado_2013_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Colorado,2013,CO,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(38.843840757, -106.133610921)",77210.0,21.035142

In [57]:
colorado_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Colorado")]
colorado_2014_df.reset_index(drop=True, inplace=True)
colorado_2014_df['Sum'] = colorado_2014_df.Data_Value * colorado_2014_df.Sample_Size
Sum = colorado_2014_df['Sum'].sum()
Sum_Size = colorado_2014_df['Sample_Size'].sum()
colorado_2014_df['Sum_Sample_Size'] = Sum_Size
colorado_2014_df['Percentage'] = Sum/Sum_Size
colorado_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
colorado_2014_df=colorado_2014_df.drop(colorado_2014_df.index[1:28])
colorado_2014_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Colorado,2014,CO,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(38.843840757, -106.133610921)",75064.0,21.263239

In [58]:
colorado_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Colorado")]
colorado_2015_df.reset_index(drop=True, inplace=True)
colorado_2015_df['Sum'] = colorado_2015_df.Data_Value * colorado_2015_df.Sample_Size
Sum = colorado_2015_df['Sum'].sum()
Sum_Size = colorado_2015_df['Sample_Size'].sum()
colorado_2015_df['Sum_Sample_Size'] = Sum_Size
colorado_2015_df['Percentage'] = Sum/Sum_Size
colorado_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
colorado_2015_df=colorado_2015_df.drop(colorado_2015_df.index[1:28])
colorado_2015_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Colorado,2015,CO,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(38.843840757, -106.133610921)",72762.0,20.191138

In [59]:
colorado_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Colorado")]
colorado_2016_df.reset_index(drop=True, inplace=True)
colorado_2016_df['Sum'] = colorado_2016_df.Data_Value * colorado_2016_df.Sample_Size
Sum = colorado_2016_df['Sum'].sum()
Sum_Size = colorado_2016_df['Sample_Size'].sum()
colorado_2016_df['Sum_Sample_Size'] = Sum_Size
colorado_2016_df['Percentage'] = Sum/Sum_Size
colorado_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
colorado_2016_df=colorado_2016_df.drop(colorado_2016_df.index[1:28])
colorado_2016_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Colorado,2016,CO,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(38.843840757, -106.133610921)",81433.0,22.212458

In [60]:
colorado_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Colorado")]
colorado_2017_df.reset_index(drop=True, inplace=True)
colorado_2017_df['Sum'] = colorado_2017_df.Data_Value * colorado_2017_df.Sample_Size
Sum = colorado_2017_df['Sum'].sum()
Sum_Size = colorado_2017_df['Sample_Size'].sum()
colorado_2017_df['Sum_Sample_Size'] = Sum_Size
colorado_2017_df['Percentage'] = Sum/Sum_Size
colorado_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
colorado_2017_df=colorado_2017_df.drop(colorado_2017_df.index[1:28])
colorado_2017_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Colorado,2017,CO,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(38.843840757, -106.133610921)",54072.0,22.536211

In [61]:
colorado_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Colorado")]
colorado_2018_df.reset_index(drop=True, inplace=True)
colorado_2018_df['Sum'] = colorado_2018_df.Data_Value * colorado_2018_df.Sample_Size
Sum = colorado_2018_df['Sum'].sum()
Sum_Size = colorado_2018_df['Sample_Size'].sum()
colorado_2018_df['Sum_Sample_Size'] = Sum_Size
colorado_2018_df['Percentage'] = Sum/Sum_Size
colorado_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
colorado_2018_df=colorado_2018_df.drop(colorado_2018_df.index[1:28])
colorado_2018_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Colorado,2018,CO,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(38.843840757000464, -106.13361092099967)",49070.0,22.90666

In [62]:
connecticut_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Connecticut")]
connecticut_2011_df.reset_index(drop=True, inplace=True)
connecticut_2011_df['Sum'] = connecticut_2011_df.Data_Value * connecticut_2011_df.Sample_Size
Sum = connecticut_2011_df['Sum'].sum()
Sum_Size = connecticut_2011_df['Sample_Size'].sum()
connecticut_2011_df['Sum_Sample_Size'] = Sum_Size
connecticut_2011_df['Percentage'] = Sum/Sum_Size
connecticut_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
connecticut_2011_df=connecticut_2011_df.drop(connecticut_2011_df.index[1:28])
connecticut_2011_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Connecticut,2011,CT,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(41.56266102, -72.649840952)",38614.0,24.288815

In [63]:
connecticut_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Connecticut")]
connecticut_2011_df.reset_index(drop=True, inplace=True)
connecticut_2011_df['Sum'] = connecticut_2011_df.Data_Value * connecticut_2011_df.Sample_Size
Sum = connecticut_2011_df['Sum'].sum()
Sum_Size = connecticut_2011_df['Sample_Size'].sum()
connecticut_2011_df['Sum_Sample_Size'] = Sum_Size
connecticut_2011_df['Percentage'] = Sum/Sum_Size
connecticut_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
connecticut_2011_df=connecticut_2011_df.drop(connecticut_2011_df.index[1:28])
connecticut_2011_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Connecticut,2011,CT,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(41.56266102, -72.649840952)",38614.0,24.288815

In [64]:
connecticut_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Connecticut")]
connecticut_2012_df.reset_index(drop=True, inplace=True)
connecticut_2012_df['Sum'] = connecticut_2012_df.Data_Value * connecticut_2012_df.Sample_Size
Sum = connecticut_2012_df['Sum'].sum()
Sum_Size = connecticut_2012_df['Sample_Size'].sum()
connecticut_2012_df['Sum_Sample_Size'] = Sum_Size
connecticut_2012_df['Percentage'] = Sum/Sum_Size
connecticut_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
connecticut_2012_df=connecticut_2012_df.drop(connecticut_2012_df.index[1:28])
connecticut_2012_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Connecticut,2012,CT,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(41.56266102, -72.649840952)",49572.0,25.52008

In [65]:
connecticut_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Connecticut")]
connecticut_2013_df.reset_index(drop=True, inplace=True)
connecticut_2013_df['Sum'] = connecticut_2013_df.Data_Value * connecticut_2013_df.Sample_Size
Sum = connecticut_2013_df['Sum'].sum()
Sum_Size = connecticut_2013_df['Sample_Size'].sum()
connecticut_2013_df['Sum_Sample_Size'] = Sum_Size
connecticut_2013_df['Percentage'] = Sum/Sum_Size
connecticut_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
connecticut_2013_df=connecticut_2013_df.drop(connecticut_2013_df.index[1:28])
connecticut_2013_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Connecticut,2013,CT,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(41.56266102, -72.649840952)",43673.0,24.908886

In [66]:
connecticut_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Connecticut")]
connecticut_2014_df.reset_index(drop=True, inplace=True)
connecticut_2014_df['Sum'] = connecticut_2014_df.Data_Value * connecticut_2014_df.Sample_Size
Sum = connecticut_2014_df['Sum'].sum()
Sum_Size = connecticut_2014_df['Sample_Size'].sum()
connecticut_2014_df['Sum_Sample_Size'] = Sum_Size
connecticut_2014_df['Percentage'] = Sum/Sum_Size
connecticut_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
connecticut_2014_df=connecticut_2014_df.drop(connecticut_2014_df.index[1:28])
connecticut_2014_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Connecticut,2014,CT,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(41.56266102, -72.649840952)",43243.0,26.269045

In [67]:
connecticut_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Connecticut")]
connecticut_2015_df.reset_index(drop=True, inplace=True)
connecticut_2015_df['Sum'] = connecticut_2015_df.Data_Value * connecticut_2015_df.Sample_Size
Sum = connecticut_2015_df['Sum'].sum()
Sum_Size = connecticut_2015_df['Sample_Size'].sum()
connecticut_2015_df['Sum_Sample_Size'] = Sum_Size
connecticut_2015_df['Percentage'] = Sum/Sum_Size
connecticut_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
connecticut_2015_df=connecticut_2015_df.drop(connecticut_2015_df.index[1:28])
connecticut_2015_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Connecticut,2015,CT,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(41.56266102, -72.649840952)",65175.0,25.241409

In [68]:
connecticut_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Connecticut")]
connecticut_2016_df.reset_index(drop=True, inplace=True)
connecticut_2016_df['Sum'] = connecticut_2016_df.Data_Value * connecticut_2016_df.Sample_Size
Sum = connecticut_2016_df['Sum'].sum()
Sum_Size = connecticut_2016_df['Sample_Size'].sum()
connecticut_2016_df['Sum_Sample_Size'] = Sum_Size
connecticut_2016_df['Percentage'] = Sum/Sum_Size
connecticut_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
connecticut_2016_df=connecticut_2016_df.drop(connecticut_2016_df.index[1:28])
connecticut_2016_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Connecticut,2016,CT,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(41.56266102, -72.649840952)",59544.0,25.795781

In [69]:
connecticut_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Connecticut")]
connecticut_2017_df.reset_index(drop=True, inplace=True)
connecticut_2017_df['Sum'] = connecticut_2017_df.Data_Value * connecticut_2017_df.Sample_Size
Sum = connecticut_2017_df['Sum'].sum()
Sum_Size = connecticut_2017_df['Sample_Size'].sum()
connecticut_2017_df['Sum_Sample_Size'] = Sum_Size
connecticut_2017_df['Percentage'] = Sum/Sum_Size
connecticut_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
connecticut_2017_df=connecticut_2017_df.drop(connecticut_2017_df.index[1:28])
connecticut_2017_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Connecticut,2017,CT,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(41.56266102, -72.649840952)",56771.0,26.683236

In [70]:
connecticut_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Connecticut")]
connecticut_2018_df.reset_index(drop=True, inplace=True)
connecticut_2018_df['Sum'] = connecticut_2018_df.Data_Value * connecticut_2018_df.Sample_Size
Sum = connecticut_2018_df['Sum'].sum()
Sum_Size = connecticut_2018_df['Sample_Size'].sum()
connecticut_2018_df['Sum_Sample_Size'] = Sum_Size
connecticut_2018_df['Percentage'] = Sum/Sum_Size
connecticut_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
connecticut_2018_df=connecticut_2018_df.drop(connecticut_2018_df.index[1:28])
connecticut_2018_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Connecticut,2018,CT,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(41.56266102000046, -72.64984095199964)",58093.0,27.366168

In [71]:
delaware_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Delaware")]
delaware_2011_df.reset_index(drop=True, inplace=True)
delaware_2011_df['Sum'] = delaware_2011_df.Data_Value * delaware_2011_df.Sample_Size
Sum = delaware_2011_df['Sum'].sum()
Sum_Size = delaware_2011_df['Sample_Size'].sum()
delaware_2011_df['Sum_Sample_Size'] = Sum_Size
delaware_2011_df['Percentage'] = Sum/Sum_Size
delaware_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
delaware_2011_df=delaware_2011_df.drop(delaware_2011_df.index[1:28])
delaware_2011_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Delaware,2011,DE,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(39.008830667, -75.577741168)",27061.0,28.840656

In [72]:
delaware_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Delaware")]
delaware_2012_df.reset_index(drop=True, inplace=True)
delaware_2012_df['Sum'] = delaware_2012_df.Data_Value * delaware_2012_df.Sample_Size
Sum = delaware_2012_df['Sum'].sum()
Sum_Size = delaware_2012_df['Sample_Size'].sum()
delaware_2012_df['Sum_Sample_Size'] = Sum_Size
delaware_2012_df['Percentage'] = Sum/Sum_Size
delaware_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
delaware_2012_df=delaware_2012_df.drop(delaware_2012_df.index[1:28])
delaware_2012_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Delaware,2012,DE,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(39.008830667, -75.577741168)",29516.0,26.981851

In [73]:
delaware_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Delaware")]
delaware_2013_df.reset_index(drop=True, inplace=True)
delaware_2013_df['Sum'] = delaware_2013_df.Data_Value * delaware_2013_df.Sample_Size
Sum = delaware_2013_df['Sum'].sum()
Sum_Size = delaware_2013_df['Sample_Size'].sum()
delaware_2013_df['Sum_Sample_Size'] = Sum_Size
delaware_2013_df['Percentage'] = Sum/Sum_Size
delaware_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
delaware_2013_df=delaware_2013_df.drop(delaware_2013_df.index[1:28])
delaware_2013_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Delaware,2013,DE,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(39.008830667, -75.577741168)",29236.0,31.015672

In [74]:
delaware_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Delaware")]
delaware_2014_df.reset_index(drop=True, inplace=True)
delaware_2014_df['Sum'] = delaware_2014_df.Data_Value * delaware_2014_df.Sample_Size
Sum = delaware_2014_df['Sum'].sum()
Sum_Size = delaware_2014_df['Sample_Size'].sum()
delaware_2014_df['Sum_Sample_Size'] = Sum_Size
delaware_2014_df['Percentage'] = Sum/Sum_Size
delaware_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
delaware_2014_df=delaware_2014_df.drop(delaware_2014_df.index[1:28])
delaware_2014_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Delaware,2014,DE,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(39.008830667, -75.577741168)",23775.0,30.847937

In [75]:
delaware_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Delaware")]
delaware_2015_df.reset_index(drop=True, inplace=True)
delaware_2015_df['Sum'] = delaware_2015_df.Data_Value * delaware_2015_df.Sample_Size
Sum = delaware_2015_df['Sum'].sum()
Sum_Size = delaware_2015_df['Sample_Size'].sum()
delaware_2015_df['Sum_Sample_Size'] = Sum_Size
delaware_2015_df['Percentage'] = Sum/Sum_Size
delaware_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
delaware_2015_df=delaware_2015_df.drop(delaware_2015_df.index[1:28])
delaware_2015_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Delaware,2015,DE,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(39.008830667, -75.577741168)",21905.0,29.882301

In [76]:
delaware_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Delaware")]
delaware_2016_df.reset_index(drop=True, inplace=True)
delaware_2016_df['Sum'] = delaware_2016_df.Data_Value * delaware_2016_df.Sample_Size
Sum = delaware_2016_df['Sum'].sum()
Sum_Size = delaware_2016_df['Sample_Size'].sum()
delaware_2016_df['Sum_Sample_Size'] = Sum_Size
delaware_2016_df['Percentage'] = Sum/Sum_Size
delaware_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
delaware_2016_df=delaware_2016_df.drop(delaware_2016_df.index[1:28])
delaware_2016_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Delaware,2016,DE,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(39.008830667, -75.577741168)",22064.0,30.658285

In [77]:
delaware_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Delaware")]
delaware_2017_df.reset_index(drop=True, inplace=True)
delaware_2017_df['Sum'] = delaware_2017_df.Data_Value * delaware_2017_df.Sample_Size
Sum = delaware_2017_df['Sum'].sum()
Sum_Size = delaware_2017_df['Sample_Size'].sum()
delaware_2017_df['Sum_Sample_Size'] = Sum_Size
delaware_2017_df['Percentage'] = Sum/Sum_Size
delaware_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
delaware_2017_df=delaware_2017_df.drop(delaware_2017_df.index[1:28])
delaware_2017_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Delaware,2017,DE,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(39.008830667, -75.577741168)",21696.0,31.955273

In [78]:
delaware_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Delaware")]
delaware_2018_df.reset_index(drop=True, inplace=True)
delaware_2018_df['Sum'] = delaware_2018_df.Data_Value * delaware_2018_df.Sample_Size
Sum = delaware_2018_df['Sum'].sum()
Sum_Size = delaware_2018_df['Sample_Size'].sum()
delaware_2018_df['Sum_Sample_Size'] = Sum_Size
delaware_2018_df['Percentage'] = Sum/Sum_Size
delaware_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
delaware_2018_df=delaware_2018_df.drop(delaware_2018_df.index[1:28])
delaware_2018_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Delaware,2018,DE,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(39.008830667000495, -75.57774116799965)",27566.0,33.614046

In [79]:
florida_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Florida")]
florida_2011_df.reset_index(drop=True, inplace=True)
florida_2011_df['Sum'] = florida_2011_df.Data_Value * florida_2011_df.Sample_Size
Sum = florida_2011_df['Sum'].sum()
Sum_Size = florida_2011_df['Sample_Size'].sum()
florida_2011_df['Sum_Sample_Size'] = Sum_Size
florida_2011_df['Percentage'] = Sum/Sum_Size
florida_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
florida_2011_df=florida_2011_df.drop(florida_2011_df.index[1:28])
florida_2011_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Florida,2011,FL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(28.932040377, -81.928960539)",70310.0,26.470731

In [80]:
florida_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Florida")]
florida_2012_df.reset_index(drop=True, inplace=True)
florida_2012_df['Sum'] = florida_2012_df.Data_Value * florida_2012_df.Sample_Size
Sum = florida_2012_df['Sum'].sum()
Sum_Size = florida_2012_df['Sample_Size'].sum()
florida_2012_df['Sum_Sample_Size'] = Sum_Size
florida_2012_df['Percentage'] = Sum/Sum_Size
florida_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
florida_2012_df=florida_2012_df.drop(florida_2012_df.index[1:28])
florida_2012_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Florida,2012,FL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(28.932040377, -81.928960539)",43425.0,25.132477

In [81]:
florida_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Florida")]
florida_2013_df.reset_index(drop=True, inplace=True)
florida_2013_df['Sum'] = florida_2013_df.Data_Value * florida_2013_df.Sample_Size
Sum = florida_2013_df['Sum'].sum()
Sum_Size = florida_2013_df['Sample_Size'].sum()
florida_2013_df['Sum_Sample_Size'] = Sum_Size
florida_2013_df['Percentage'] = Sum/Sum_Size
florida_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
florida_2013_df=florida_2013_df.drop(florida_2013_df.index[1:28])
florida_2013_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Florida,2013,FL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(28.932040377, -81.928960539)",194321.0,26.309692

In [82]:
florida_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Florida")]
florida_2014_df.reset_index(drop=True, inplace=True)
florida_2014_df['Sum'] = florida_2014_df.Data_Value * florida_2014_df.Sample_Size
Sum = florida_2014_df['Sum'].sum()
Sum_Size = florida_2014_df['Sample_Size'].sum()
florida_2014_df['Sum_Sample_Size'] = Sum_Size
florida_2014_df['Percentage'] = Sum/Sum_Size
florida_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
florida_2014_df=florida_2014_df.drop(florida_2014_df.index[1:28])
florida_2014_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Florida,2014,FL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(28.932040377, -81.928960539)",54601.0,25.89378

In [83]:
florida_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Florida")]
florida_2015_df.reset_index(drop=True, inplace=True)
florida_2015_df['Sum'] = florida_2015_df.Data_Value * florida_2015_df.Sample_Size
Sum = florida_2015_df['Sum'].sum()
Sum_Size = florida_2015_df['Sample_Size'].sum()
florida_2015_df['Sum_Sample_Size'] = Sum_Size
florida_2015_df['Percentage'] = Sum/Sum_Size
florida_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
florida_2015_df=florida_2015_df.drop(florida_2015_df.index[1:28])
florida_2015_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Florida,2015,FL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(28.932040377, -81.928960539)",53673.0,26.622631

In [84]:
florida_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Florida")]
florida_2016_df.reset_index(drop=True, inplace=True)
florida_2016_df['Sum'] = florida_2016_df.Data_Value * florida_2016_df.Sample_Size
Sum = florida_2016_df['Sum'].sum()
Sum_Size = florida_2016_df['Sample_Size'].sum()
florida_2016_df['Sum_Sample_Size'] = Sum_Size
florida_2016_df['Percentage'] = Sum/Sum_Size
florida_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
florida_2016_df=florida_2016_df.drop(florida_2016_df.index[1:28])
florida_2016_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Florida,2016,FL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(28.932040377, -81.928960539)",198449.0,27.479553

In [85]:
florida_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Florida")]
florida_2017_df.reset_index(drop=True, inplace=True)
florida_2017_df['Sum'] = florida_2017_df.Data_Value * florida_2017_df.Sample_Size
Sum = florida_2017_df['Sum'].sum()
Sum_Size = florida_2017_df['Sample_Size'].sum()
florida_2017_df['Sum_Sample_Size'] = Sum_Size
florida_2017_df['Percentage'] = Sum/Sum_Size
florida_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
florida_2017_df=florida_2017_df.drop(florida_2017_df.index[1:28])
florida_2017_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Florida,2017,FL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(28.932040377, -81.928960539)",118934.0,28.347661

In [86]:
florida_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Florida")]
florida_2018_df.reset_index(drop=True, inplace=True)
florida_2018_df['Sum'] = florida_2018_df.Data_Value * florida_2018_df.Sample_Size
Sum = florida_2018_df['Sum'].sum()
Sum_Size = florida_2018_df['Sample_Size'].sum()
florida_2018_df['Sum_Sample_Size'] = Sum_Size
florida_2018_df['Percentage'] = Sum/Sum_Size
florida_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
florida_2018_df=florida_2018_df.drop(florida_2018_df.index[1:28])
florida_2018_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Florida,2018,FL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(28.932040377000476, -81.92896053899966)",82552.0,30.46504

In [87]:
georgia_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Georgia")]
georgia_2011_df.reset_index(drop=True, inplace=True)
georgia_2011_df['Sum'] = georgia_2011_df.Data_Value * georgia_2011_df.Sample_Size
Sum = georgia_2011_df['Sum'].sum()
Sum_Size = georgia_2011_df['Sample_Size'].sum()
georgia_2011_df['Sum_Sample_Size'] = Sum_Size
georgia_2011_df['Percentage'] = Sum/Sum_Size
georgia_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
georgia_2011_df=georgia_2011_df.drop(georgia_2011_df.index[1:28])
georgia_2011_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Georgia,2011,GA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(32.839681093, -83.627580346)",55976.0,28.00361

In [88]:
georgia_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Georgia")]
georgia_2012_df.reset_index(drop=True, inplace=True)
georgia_2012_df['Sum'] = georgia_2012_df.Data_Value * georgia_2012_df.Sample_Size
Sum = georgia_2012_df['Sum'].sum()
Sum_Size = georgia_2012_df['Sample_Size'].sum()
georgia_2012_df['Sum_Sample_Size'] = Sum_Size
georgia_2012_df['Percentage'] = Sum/Sum_Size
georgia_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
georgia_2012_df=georgia_2012_df.drop(georgia_2012_df.index[1:28])
georgia_2012_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Georgia,2012,GA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(32.839681093, -83.627580346)",34264.0,29.140229

In [89]:
georgia_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Georgia")]
georgia_2013_df.reset_index(drop=True, inplace=True)
georgia_2013_df['Sum'] = georgia_2013_df.Data_Value * georgia_2013_df.Sample_Size
Sum = georgia_2013_df['Sum'].sum()
Sum_Size = georgia_2013_df['Sample_Size'].sum()
georgia_2013_df['Sum_Sample_Size'] = Sum_Size
georgia_2013_df['Percentage'] = Sum/Sum_Size
georgia_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
georgia_2013_df=georgia_2013_df.drop(georgia_2013_df.index[1:28])
georgia_2013_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Georgia,2013,GA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(32.839681093, -83.627580346)",45502.0,30.330128

In [90]:
georgia_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Georgia")]
georgia_2014_df.reset_index(drop=True, inplace=True)
georgia_2014_df['Sum'] = georgia_2014_df.Data_Value * georgia_2014_df.Sample_Size
Sum = georgia_2014_df['Sum'].sum()
Sum_Size = georgia_2014_df['Sample_Size'].sum()
georgia_2014_df['Sum_Sample_Size'] = Sum_Size
georgia_2014_df['Percentage'] = Sum/Sum_Size
georgia_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
georgia_2014_df=georgia_2014_df.drop(georgia_2014_df.index[1:28])
georgia_2014_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Georgia,2014,GA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(32.839681093, -83.627580346)",34890.0,30.626065

In [91]:
georgia_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Georgia")]
georgia_2015_df.reset_index(drop=True, inplace=True)
georgia_2015_df['Sum'] = georgia_2015_df.Data_Value * georgia_2015_df.Sample_Size
Sum = georgia_2015_df['Sum'].sum()
Sum_Size = georgia_2015_df['Sample_Size'].sum()
georgia_2015_df['Sum_Sample_Size'] = Sum_Size
georgia_2015_df['Percentage'] = Sum/Sum_Size
georgia_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
georgia_2015_df=georgia_2015_df.drop(georgia_2015_df.index[1:28])
georgia_2015_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Georgia,2015,GA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(32.839681093, -83.627580346)",25485.0,30.678925

In [92]:
georgia_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Georgia")]
georgia_2016_df.reset_index(drop=True, inplace=True)
georgia_2016_df['Sum'] = georgia_2016_df.Data_Value * georgia_2016_df.Sample_Size
Sum = georgia_2016_df['Sum'].sum()
Sum_Size = georgia_2016_df['Sample_Size'].sum()
georgia_2016_df['Sum_Sample_Size'] = Sum_Size
georgia_2016_df['Percentage'] = Sum/Sum_Size
georgia_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
georgia_2016_df=georgia_2016_df.drop(georgia_2016_df.index[1:28])
georgia_2016_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Georgia,2016,GA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(32.839681093, -83.627580346)",29138.0,31.530301

In [93]:
georgia_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Georgia")]
georgia_2017_df.reset_index(drop=True, inplace=True)
georgia_2017_df['Sum'] = georgia_2017_df.Data_Value * georgia_2017_df.Sample_Size
Sum = georgia_2017_df['Sum'].sum()
Sum_Size = georgia_2017_df['Sample_Size'].sum()
georgia_2017_df['Sum_Sample_Size'] = Sum_Size
georgia_2017_df['Percentage'] = Sum/Sum_Size
georgia_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
georgia_2017_df=georgia_2017_df.drop(georgia_2017_df.index[1:28])
georgia_2017_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Georgia,2017,GA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(32.839681093, -83.627580346)",32035.0,31.679875

In [94]:
georgia_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Georgia")]
georgia_2018_df.reset_index(drop=True, inplace=True)
georgia_2018_df['Sum'] = georgia_2018_df.Data_Value * georgia_2018_df.Sample_Size
Sum = georgia_2018_df['Sum'].sum()
Sum_Size = georgia_2018_df['Sample_Size'].sum()
georgia_2018_df['Sum_Sample_Size'] = Sum_Size
georgia_2018_df['Percentage'] = Sum/Sum_Size
georgia_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
georgia_2018_df=georgia_2018_df.drop(georgia_2018_df.index[1:28])
georgia_2018_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Georgia,2018,GA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(32.83968109300048, -83.62758034599966)",49141.0,32.300016

In [95]:
hawaii_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Hawaii")]
hawaii_2011_df.reset_index(drop=True, inplace=True)
hawaii_2011_df['Sum'] = hawaii_2011_df.Data_Value * hawaii_2011_df.Sample_Size
Sum = hawaii_2011_df['Sum'].sum()
Sum_Size = hawaii_2011_df['Sample_Size'].sum()
hawaii_2011_df['Sum_Sample_Size'] = Sum_Size
hawaii_2011_df['Percentage'] = Sum/Sum_Size
hawaii_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
hawaii_2011_df=hawaii_2011_df.drop(hawaii_2011_df.index[1:28])
hawaii_2011_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Hawaii,2011,HI,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(21.304850435, -157.857749403)",44272.0,21.534001

In [96]:
hawaii_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Hawaii")]
hawaii_2012_df.reset_index(drop=True, inplace=True)
hawaii_2012_df['Sum'] = hawaii_2012_df.Data_Value * hawaii_2012_df.Sample_Size
Sum = hawaii_2012_df['Sum'].sum()
Sum_Size = hawaii_2012_df['Sample_Size'].sum()
hawaii_2012_df['Sum_Sample_Size'] = Sum_Size
hawaii_2012_df['Percentage'] = Sum/Sum_Size
hawaii_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
hawaii_2012_df=hawaii_2012_df.drop(hawaii_2012_df.index[1:28])
hawaii_2012_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Hawaii,2012,HI,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(21.304850435, -157.857749403)",44068.0,23.347483

In [97]:
hawaii_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Hawaii")]
hawaii_2013_df.reset_index(drop=True, inplace=True)
hawaii_2013_df['Sum'] = hawaii_2013_df.Data_Value * hawaii_2013_df.Sample_Size
Sum = hawaii_2013_df['Sum'].sum()
Sum_Size = hawaii_2013_df['Sample_Size'].sum()
hawaii_2013_df['Sum_Sample_Size'] = Sum_Size
hawaii_2013_df['Percentage'] = Sum/Sum_Size
hawaii_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
hawaii_2013_df=hawaii_2013_df.drop(hawaii_2013_df.index[1:28])
hawaii_2013_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Hawaii,2013,HI,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(21.304850435, -157.857749403)",45495.0,21.645957

In [98]:
hawaii_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Hawaii")]
hawaii_2014_df.reset_index(drop=True, inplace=True)
hawaii_2014_df['Sum'] = hawaii_2014_df.Data_Value * hawaii_2014_df.Sample_Size
Sum = hawaii_2014_df['Sum'].sum()
Sum_Size = hawaii_2014_df['Sample_Size'].sum()
hawaii_2014_df['Sum_Sample_Size'] = Sum_Size
hawaii_2014_df['Percentage'] = Sum/Sum_Size
hawaii_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
hawaii_2014_df=hawaii_2014_df.drop(hawaii_2014_df.index[1:28])
hawaii_2014_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Hawaii,2014,HI,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(21.304850435, -157.857749403)",41292.0,21.986162

In [99]:
hawaii_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Hawaii")]
hawaii_2015_df.reset_index(drop=True, inplace=True)
hawaii_2015_df['Sum'] = hawaii_2015_df.Data_Value * hawaii_2015_df.Sample_Size
Sum = hawaii_2015_df['Sum'].sum()
Sum_Size = hawaii_2015_df['Sample_Size'].sum()
hawaii_2015_df['Sum_Sample_Size'] = Sum_Size
hawaii_2015_df['Percentage'] = Sum/Sum_Size
hawaii_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
hawaii_2015_df=hawaii_2015_df.drop(hawaii_2015_df.index[1:28])
hawaii_2015_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Hawaii,2015,HI,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(21.304850435, -157.857749403)",40795.0,22.407521

In [100]:
hawaii_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Hawaii")]
hawaii_2016_df.reset_index(drop=True, inplace=True)
hawaii_2016_df['Sum'] = hawaii_2016_df.Data_Value * hawaii_2016_df.Sample_Size
Sum = hawaii_2016_df['Sum'].sum()
Sum_Size = hawaii_2016_df['Sample_Size'].sum()
hawaii_2016_df['Sum_Sample_Size'] = Sum_Size
hawaii_2016_df['Percentage'] = Sum/Sum_Size
hawaii_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
hawaii_2016_df=hawaii_2016_df.drop(hawaii_2016_df.index[1:28])
hawaii_2016_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Hawaii,2016,HI,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(21.304850435, -157.857749403)",45820.0,23.566868

In [101]:
hawaii_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Hawaii")]
hawaii_2017_df.reset_index(drop=True, inplace=True)
hawaii_2017_df['Sum'] = hawaii_2017_df.Data_Value * hawaii_2017_df.Sample_Size
Sum = hawaii_2017_df['Sum'].sum()
Sum_Size = hawaii_2017_df['Sample_Size'].sum()
hawaii_2017_df['Sum_Sample_Size'] = Sum_Size
hawaii_2017_df['Percentage'] = Sum/Sum_Size
hawaii_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
hawaii_2017_df=hawaii_2017_df.drop(hawaii_2017_df.index[1:28])
hawaii_2017_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Hawaii,2017,HI,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(21.304850435, -157.857749403)",43810.0,23.613899

In [102]:
hawaii_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Hawaii")]
hawaii_2018_df.reset_index(drop=True, inplace=True)
hawaii_2018_df['Sum'] = hawaii_2018_df.Data_Value * hawaii_2018_df.Sample_Size
Sum = hawaii_2018_df['Sum'].sum()
Sum_Size = hawaii_2018_df['Sample_Size'].sum()
hawaii_2018_df['Sum_Sample_Size'] = Sum_Size
hawaii_2018_df['Percentage'] = Sum/Sum_Size
hawaii_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
hawaii_2018_df=hawaii_2018_df.drop(hawaii_2018_df.index[1:28])
hawaii_2018_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Hawaii,2018,HI,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(21.304850435000446, -157.85774940299973)",44665.0,24.703741

In [103]:
idaho_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Idaho")]
idaho_2011_df.reset_index(drop=True, inplace=True)
idaho_2011_df['Sum'] = idaho_2011_df.Data_Value * idaho_2011_df.Sample_Size
Sum = idaho_2011_df['Sum'].sum()
Sum_Size = idaho_2011_df['Sample_Size'].sum()
idaho_2011_df['Sum_Sample_Size'] = Sum_Size
idaho_2011_df['Percentage'] = Sum/Sum_Size
idaho_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
idaho_2011_df=idaho_2011_df.drop(idaho_2011_df.index[1:28])
idaho_2011_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Idaho,2011,ID,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(43.682630005, -114.363730042)",34297.0,27.03007

In [104]:
idaho_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Idaho")]
idaho_2012_df.reset_index(drop=True, inplace=True)
idaho_2012_df['Sum'] = idaho_2012_df.Data_Value * idaho_2012_df.Sample_Size
Sum = idaho_2012_df['Sum'].sum()
Sum_Size = idaho_2012_df['Sample_Size'].sum()
idaho_2012_df['Sum_Sample_Size'] = Sum_Size
idaho_2012_df['Percentage'] = Sum/Sum_Size
idaho_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
idaho_2012_df=idaho_2012_df.drop(idaho_2012_df.index[1:28])
idaho_2012_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Idaho,2012,ID,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(43.682630005, -114.363730042)",33265.0,26.87351

In [105]:
idaho_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Idaho")]
idaho_2013_df.reset_index(drop=True, inplace=True)
idaho_2013_df['Sum'] = idaho_2013_df.Data_Value * idaho_2013_df.Sample_Size
Sum = idaho_2013_df['Sum'].sum()
Sum_Size = idaho_2013_df['Sample_Size'].sum()
idaho_2013_df['Sum_Sample_Size'] = Sum_Size
idaho_2013_df['Percentage'] = Sum/Sum_Size
idaho_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
idaho_2013_df=idaho_2013_df.drop(idaho_2013_df.index[1:28])
idaho_2013_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Idaho,2013,ID,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(43.682630005, -114.363730042)",31743.0,29.614466

In [106]:
idaho_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Idaho")]
idaho_2014_df.reset_index(drop=True, inplace=True)
idaho_2014_df['Sum'] = idaho_2014_df.Data_Value * idaho_2014_df.Sample_Size
Sum = idaho_2014_df['Sum'].sum()
Sum_Size = idaho_2014_df['Sample_Size'].sum()
idaho_2014_df['Sum_Sample_Size'] = Sum_Size
idaho_2014_df['Percentage'] = Sum/Sum_Size
idaho_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
idaho_2014_df=idaho_2014_df.drop(idaho_2014_df.index[1:28])
idaho_2014_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Idaho,2014,ID,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(43.682630005, -114.363730042)",30606.0,28.797716

In [107]:
idaho_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Idaho")]
idaho_2015_df.reset_index(drop=True, inplace=True)
idaho_2015_df['Sum'] = idaho_2015_df.Data_Value * idaho_2015_df.Sample_Size
Sum = idaho_2015_df['Sum'].sum()
Sum_Size = idaho_2015_df['Sample_Size'].sum()
idaho_2015_df['Sum_Sample_Size'] = Sum_Size
idaho_2015_df['Percentage'] = Sum/Sum_Size
idaho_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
idaho_2015_df=idaho_2015_df.drop(idaho_2015_df.index[1:28])
idaho_2015_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Idaho,2015,ID,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(43.682630005, -114.363730042)",31986.0,28.596952

In [108]:
idaho_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Idaho")]
idaho_2016_df.reset_index(drop=True, inplace=True)
idaho_2016_df['Sum'] = idaho_2016_df.Data_Value * idaho_2016_df.Sample_Size
Sum = idaho_2016_df['Sum'].sum()
Sum_Size = idaho_2016_df['Sample_Size'].sum()
idaho_2016_df['Sum_Sample_Size'] = Sum_Size
idaho_2016_df['Percentage'] = Sum/Sum_Size
idaho_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
idaho_2016_df=idaho_2016_df.drop(idaho_2016_df.index[1:28])
idaho_2016_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Idaho,2016,ID,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(43.682630005, -114.363730042)",29145.0,27.394181

In [109]:
idaho_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Idaho")]
idaho_2017_df.reset_index(drop=True, inplace=True)
idaho_2017_df['Sum'] = idaho_2017_df.Data_Value * idaho_2017_df.Sample_Size
Sum = idaho_2017_df['Sum'].sum()
Sum_Size = idaho_2017_df['Sample_Size'].sum()
idaho_2017_df['Sum_Sample_Size'] = Sum_Size
idaho_2017_df['Percentage'] = Sum/Sum_Size
idaho_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
idaho_2017_df=idaho_2017_df.drop(idaho_2017_df.index[1:28])
idaho_2017_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Idaho,2017,ID,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(43.682630005, -114.363730042)",27567.0,29.24077

In [110]:
idaho_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Idaho")]
idaho_2018_df.reset_index(drop=True, inplace=True)
idaho_2018_df['Sum'] = idaho_2018_df.Data_Value * idaho_2018_df.Sample_Size
Sum = idaho_2018_df['Sum'].sum()
Sum_Size = idaho_2018_df['Sample_Size'].sum()
idaho_2018_df['Sum_Sample_Size'] = Sum_Size
idaho_2018_df['Percentage'] = Sum/Sum_Size
idaho_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
idaho_2018_df=idaho_2018_df.drop(idaho_2018_df.index[1:28])
idaho_2018_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Idaho,2018,ID,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(43.682630005000476, -114.3637300419997)",20376.0,28.339851

In [111]:
illinois_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Illinois")]
illinois_2011_df.reset_index(drop=True, inplace=True)
illinois_2011_df['Sum'] = illinois_2011_df.Data_Value * illinois_2011_df.Sample_Size
Sum = illinois_2011_df['Sum'].sum()
Sum_Size = illinois_2011_df['Sample_Size'].sum()
illinois_2011_df['Sum_Sample_Size'] = Sum_Size
illinois_2011_df['Percentage'] = Sum/Sum_Size
illinois_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
illinois_2011_df=illinois_2011_df.drop(illinois_2011_df.index[1:28])
illinois_2011_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Illinois,2011,IL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(40.485010283, -88.997710178)",32067.0,27.339258

In [112]:
illinois_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Illinois")]
illinois_2012_df.reset_index(drop=True, inplace=True)
illinois_2012_df['Sum'] = illinois_2012_df.Data_Value * illinois_2012_df.Sample_Size
Sum = illinois_2012_df['Sum'].sum()
Sum_Size = illinois_2012_df['Sample_Size'].sum()
illinois_2012_df['Sum_Sample_Size'] = Sum_Size
illinois_2012_df['Percentage'] = Sum/Sum_Size
illinois_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
illinois_2012_df=illinois_2012_df.drop(illinois_2012_df.index[1:28])
illinois_2012_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Illinois,2012,IL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(40.485010283, -88.997710178)",32620.0,28.183614

In [113]:
illinois_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Illinois")]
illinois_2013_df.reset_index(drop=True, inplace=True)
illinois_2013_df['Sum'] = illinois_2013_df.Data_Value * illinois_2013_df.Sample_Size
Sum = illinois_2013_df['Sum'].sum()
Sum_Size = illinois_2013_df['Sample_Size'].sum()
illinois_2013_df['Sum_Sample_Size'] = Sum_Size
illinois_2013_df['Percentage'] = Sum/Sum_Size
illinois_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
illinois_2013_df=illinois_2013_df.drop(illinois_2013_df.index[1:28])
illinois_2013_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Illinois,2013,IL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(40.485010283, -88.997710178)",32862.0,29.378194

In [114]:
illinois_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Illinois")]
illinois_2014_df.reset_index(drop=True, inplace=True)
illinois_2014_df['Sum'] = illinois_2014_df.Data_Value * illinois_2014_df.Sample_Size
Sum = illinois_2014_df['Sum'].sum()
Sum_Size = illinois_2014_df['Sample_Size'].sum()
illinois_2014_df['Sum_Sample_Size'] = Sum_Size
illinois_2014_df['Percentage'] = Sum/Sum_Size
illinois_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
illinois_2014_df=illinois_2014_df.drop(illinois_2014_df.index[1:28])
illinois_2014_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Illinois,2014,IL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(40.485010283, -88.997710178)",28934.0,29.297937

In [115]:
illinois_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Illinois")]
illinois_2015_df.reset_index(drop=True, inplace=True)
illinois_2015_df['Sum'] = illinois_2015_df.Data_Value * illinois_2015_df.Sample_Size
Sum = illinois_2015_df['Sum'].sum()
Sum_Size = illinois_2015_df['Sample_Size'].sum()
illinois_2015_df['Sum_Sample_Size'] = Sum_Size
illinois_2015_df['Percentage'] = Sum/Sum_Size
illinois_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
illinois_2015_df=illinois_2015_df.drop(illinois_2015_df.index[1:28])
illinois_2015_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Illinois,2015,IL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(40.485010283, -88.997710178)",30417.0,30.821245

In [116]:
illinois_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Illinois")]
illinois_2016_df.reset_index(drop=True, inplace=True)
illinois_2016_df['Sum'] = illinois_2016_df.Data_Value * illinois_2016_df.Sample_Size
Sum = illinois_2016_df['Sum'].sum()
Sum_Size = illinois_2016_df['Sample_Size'].sum()
illinois_2016_df['Sum_Sample_Size'] = Sum_Size
illinois_2016_df['Percentage'] = Sum/Sum_Size
illinois_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
illinois_2016_df=illinois_2016_df.drop(illinois_2016_df.index[1:28])
illinois_2016_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Illinois,2016,IL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(40.485010283, -88.997710178)",27049.0,31.550763

In [117]:
illinois_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Illinois")]
illinois_2017_df.reset_index(drop=True, inplace=True)
illinois_2017_df['Sum'] = illinois_2017_df.Data_Value * illinois_2017_df.Sample_Size
Sum = illinois_2017_df['Sum'].sum()
Sum_Size = illinois_2017_df['Sample_Size'].sum()
illinois_2017_df['Sum_Sample_Size'] = Sum_Size
illinois_2017_df['Percentage'] = Sum/Sum_Size
illinois_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
illinois_2017_df=illinois_2017_df.drop(illinois_2017_df.index[1:28])
illinois_2017_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Illinois,2017,IL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(40.485010283, -88.997710178)",31413.0,31.083131

In [118]:
illinois_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Illinois")]
illinois_2018_df.reset_index(drop=True, inplace=True)
illinois_2018_df['Sum'] = illinois_2018_df.Data_Value * illinois_2018_df.Sample_Size
Sum = illinois_2018_df['Sum'].sum()
Sum_Size = illinois_2018_df['Sample_Size'].sum()
illinois_2018_df['Sum_Sample_Size'] = Sum_Size
illinois_2018_df['Percentage'] = Sum/Sum_Size
illinois_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
illinois_2018_df=illinois_2018_df.drop(illinois_2018_df.index[1:28])
illinois_2018_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Illinois,2018,IL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(40.48501028300046, -88.99771017799969)",29709.0,31.778077

In [119]:
indiana_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Indiana")]
indiana_2011_df.reset_index(drop=True, inplace=True)
indiana_2011_df['Sum'] = indiana_2011_df.Data_Value * indiana_2011_df.Sample_Size
Sum = indiana_2011_df['Sum'].sum()
Sum_Size = indiana_2011_df['Sample_Size'].sum()
indiana_2011_df['Sum_Sample_Size'] = Sum_Size
indiana_2011_df['Percentage'] = Sum/Sum_Size
indiana_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
indiana_2011_df=indiana_2011_df.drop(indiana_2011_df.index[1:28])
indiana_2011_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Indiana,2011,IN,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(39.766910452, -86.149960194)",48082.0,30.948856

In [120]:
indiana_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Indiana")]
indiana_2012_df.reset_index(drop=True, inplace=True)
indiana_2012_df['Sum'] = indiana_2012_df.Data_Value * indiana_2012_df.Sample_Size
Sum = indiana_2012_df['Sum'].sum()
Sum_Size = indiana_2012_df['Sample_Size'].sum()
indiana_2012_df['Sum_Sample_Size'] = Sum_Size
indiana_2012_df['Percentage'] = Sum/Sum_Size
indiana_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
indiana_2012_df=indiana_2012_df.drop(indiana_2012_df.index[1:28])
indiana_2012_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Indiana,2012,IN,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(39.766910452, -86.149960194)",49103.0,31.483787

In [121]:
indiana_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Indiana")]
indiana_2013_df.reset_index(drop=True, inplace=True)
indiana_2013_df['Sum'] = indiana_2013_df.Data_Value * indiana_2013_df.Sample_Size
Sum = indiana_2013_df['Sum'].sum()
Sum_Size = indiana_2013_df['Sample_Size'].sum()
indiana_2013_df['Sum_Sample_Size'] = Sum_Size
indiana_2013_df['Percentage'] = Sum/Sum_Size
indiana_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
indiana_2013_df=indiana_2013_df.drop(indiana_2013_df.index[1:28])
indiana_2013_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Indiana,2013,IN,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(39.766910452, -86.149960194)",58449.0,31.883295

In [122]:
indiana_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Indiana")]
indiana_2014_df.reset_index(drop=True, inplace=True)
indiana_2014_df['Sum'] = indiana_2014_df.Data_Value * indiana_2014_df.Sample_Size
Sum = indiana_2014_df['Sum'].sum()
Sum_Size = indiana_2014_df['Sample_Size'].sum()
indiana_2014_df['Sum_Sample_Size'] = Sum_Size
indiana_2014_df['Percentage'] = Sum/Sum_Size
indiana_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
indiana_2014_df=indiana_2014_df.drop(indiana_2014_df.index[1:28])
indiana_2014_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Indiana,2014,IN,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(39.766910452, -86.149960194)",64459.0,32.749107

In [123]:
indiana_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Indiana")]
indiana_2015_df.reset_index(drop=True, inplace=True)
indiana_2015_df['Sum'] = indiana_2015_df.Data_Value * indiana_2015_df.Sample_Size
Sum = indiana_2015_df['Sum'].sum()
Sum_Size = indiana_2015_df['Sample_Size'].sum()
indiana_2015_df['Sum_Sample_Size'] = Sum_Size
indiana_2015_df['Percentage'] = Sum/Sum_Size
indiana_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
indiana_2015_df=indiana_2015_df.drop(indiana_2015_df.index[1:28])
indiana_2015_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Indiana,2015,IN,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(39.766910452, -86.149960194)",33720.0,31.313144

In [124]:
indiana_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Indiana")]
indiana_2016_df.reset_index(drop=True, inplace=True)
indiana_2016_df['Sum'] = indiana_2016_df.Data_Value * indiana_2016_df.Sample_Size
Sum = indiana_2016_df['Sum'].sum()
Sum_Size = indiana_2016_df['Sample_Size'].sum()
indiana_2016_df['Sum_Sample_Size'] = Sum_Size
indiana_2016_df['Percentage'] = Sum/Sum_Size
indiana_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
indiana_2016_df=indiana_2016_df.drop(indiana_2016_df.index[1:28])
indiana_2016_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Indiana,2016,IN,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(39.766910452, -86.149960194)",61757.0,32.545936

In [125]:
indiana_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Indiana")]
indiana_2017_df.reset_index(drop=True, inplace=True)
indiana_2017_df['Sum'] = indiana_2017_df.Data_Value * indiana_2017_df.Sample_Size
Sum = indiana_2017_df['Sum'].sum()
Sum_Size = indiana_2017_df['Sample_Size'].sum()
indiana_2017_df['Sum_Sample_Size'] = Sum_Size
indiana_2017_df['Percentage'] = Sum/Sum_Size
indiana_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
indiana_2017_df=indiana_2017_df.drop(indiana_2017_df.index[1:28])
indiana_2017_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Indiana,2017,IN,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(39.766910452, -86.149960194)",77592.0,33.705918

In [126]:
indiana_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Indiana")]
indiana_2018_df.reset_index(drop=True, inplace=True)
indiana_2018_df['Sum'] = indiana_2018_df.Data_Value * indiana_2018_df.Sample_Size
Sum = indiana_2018_df['Sum'].sum()
Sum_Size = indiana_2018_df['Sample_Size'].sum()
indiana_2018_df['Sum_Sample_Size'] = Sum_Size
indiana_2018_df['Percentage'] = Sum/Sum_Size
indiana_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
indiana_2018_df=indiana_2018_df.drop(indiana_2018_df.index[1:28])
indiana_2018_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Indiana,2018,IN,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(39.766910452000445, -86.14996019399968)",41182.0,34.193344

In [127]:
iowa_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Iowa")]
iowa_2011_df.reset_index(drop=True, inplace=True)
iowa_2011_df['Sum'] = iowa_2011_df.Data_Value * iowa_2011_df.Sample_Size
Sum = iowa_2011_df['Sum'].sum()
Sum_Size = iowa_2011_df['Sample_Size'].sum()
iowa_2011_df['Sum_Sample_Size'] = Sum_Size
iowa_2011_df['Percentage'] = Sum/Sum_Size
iowa_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
iowa_2011_df=iowa_2011_df.drop(iowa_2011_df.index[1:28])
iowa_2011_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Iowa,2011,IA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(42.469400913, -93.816490556)",41302.0,29.155675

In [128]:
iowa_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Iowa")]
iowa_2012_df.reset_index(drop=True, inplace=True)
iowa_2012_df['Sum'] = iowa_2012_df.Data_Value * iowa_2012_df.Sample_Size
Sum = iowa_2012_df['Sum'].sum()
Sum_Size = iowa_2012_df['Sample_Size'].sum()
iowa_2012_df['Sum_Sample_Size'] = Sum_Size
iowa_2012_df['Percentage'] = Sum/Sum_Size
iowa_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
iowa_2012_df=iowa_2012_df.drop(iowa_2012_df.index[1:28])
iowa_2012_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Iowa,2012,IA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(42.469400913, -93.816490556)",40481.0,30.570678

In [129]:
iowa_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Iowa")]
iowa_2013_df.reset_index(drop=True, inplace=True)
iowa_2013_df['Sum'] = iowa_2013_df.Data_Value * iowa_2013_df.Sample_Size
Sum = iowa_2013_df['Sum'].sum()
Sum_Size = iowa_2013_df['Sample_Size'].sum()
iowa_2013_df['Sum_Sample_Size'] = Sum_Size
iowa_2013_df['Percentage'] = Sum/Sum_Size
iowa_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
iowa_2013_df=iowa_2013_df.drop(iowa_2013_df.index[1:28])
iowa_2013_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Iowa,2013,IA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(42.469400913, -93.816490556)",45816.0,31.383244

In [130]:
iowa_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Iowa")]
iowa_2014_df.reset_index(drop=True, inplace=True)
iowa_2014_df['Sum'] = iowa_2014_df.Data_Value * iowa_2014_df.Sample_Size
Sum = iowa_2014_df['Sum'].sum()
Sum_Size = iowa_2014_df['Sample_Size'].sum()
iowa_2014_df['Sum_Sample_Size'] = Sum_Size
iowa_2014_df['Percentage'] = Sum/Sum_Size
iowa_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
iowa_2014_df=iowa_2014_df.drop(iowa_2014_df.index[1:28])
iowa_2014_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Iowa,2014,IA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(42.469400913, -93.816490556)",45329.0,31.108416

In [131]:
iowa_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Iowa")]
iowa_2015_df.reset_index(drop=True, inplace=True)
iowa_2015_df['Sum'] = iowa_2015_df.Data_Value * iowa_2015_df.Sample_Size
Sum = iowa_2015_df['Sum'].sum()
Sum_Size = iowa_2015_df['Sample_Size'].sum()
iowa_2015_df['Sum_Sample_Size'] = Sum_Size
iowa_2015_df['Percentage'] = Sum/Sum_Size
iowa_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
iowa_2015_df=iowa_2015_df.drop(iowa_2015_df.index[1:28])
iowa_2015_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Iowa,2015,IA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(42.469400913, -93.816490556)",33529.0,32.224943

In [132]:
iowa_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Iowa")]
iowa_2016_df.reset_index(drop=True, inplace=True)
iowa_2016_df['Sum'] = iowa_2016_df.Data_Value * iowa_2016_df.Sample_Size
Sum = iowa_2016_df['Sum'].sum()
Sum_Size = iowa_2016_df['Sample_Size'].sum()
iowa_2016_df['Sum_Sample_Size'] = Sum_Size
iowa_2016_df['Percentage'] = Sum/Sum_Size
iowa_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
iowa_2016_df=iowa_2016_df.drop(iowa_2016_df.index[1:28])
iowa_2016_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Iowa,2016,IA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(42.469400913, -93.816490556)",39723.0,31.971817

In [133]:
iowa_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Iowa")]
iowa_2017_df.reset_index(drop=True, inplace=True)
iowa_2017_df['Sum'] = iowa_2017_df.Data_Value * iowa_2017_df.Sample_Size
Sum = iowa_2017_df['Sum'].sum()
Sum_Size = iowa_2017_df['Sample_Size'].sum()
iowa_2017_df['Sum_Sample_Size'] = Sum_Size
iowa_2017_df['Percentage'] = Sum/Sum_Size
iowa_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
iowa_2017_df=iowa_2017_df.drop(iowa_2017_df.index[1:28])
iowa_2017_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Iowa,2017,IA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(42.469400913, -93.816490556)",42502.0,36.378222

In [134]:
iowa_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Iowa")]
iowa_2018_df.reset_index(drop=True, inplace=True)
iowa_2018_df['Sum'] = iowa_2018_df.Data_Value * iowa_2018_df.Sample_Size
Sum = iowa_2018_df['Sum'].sum()
Sum_Size = iowa_2018_df['Sample_Size'].sum()
iowa_2018_df['Sum_Sample_Size'] = Sum_Size
iowa_2018_df['Percentage'] = Sum/Sum_Size
iowa_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
iowa_2018_df=iowa_2018_df.drop(iowa_2018_df.index[1:28])
iowa_2018_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Iowa,2018,IA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(42.46940091300047, -93.81649055599968)",50397.0,35.366331

In [135]:
kansas_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Kansas")]
kansas_2011_df.reset_index(drop=True, inplace=True)
kansas_2011_df['Sum'] = kansas_2011_df.Data_Value * kansas_2011_df.Sample_Size
Sum = kansas_2011_df['Sum'].sum()
Sum_Size = kansas_2011_df['Sample_Size'].sum()
kansas_2011_df['Sum_Sample_Size'] = Sum_Size
kansas_2011_df['Percentage'] = Sum/Sum_Size
kansas_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
kansas_2011_df=kansas_2011_df.drop(kansas_2011_df.index[1:28])
kansas_2011_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Kansas,2011,KS,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(38.3477403, -98.200781227)",117621.0,29.659679

In [136]:
kansas_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Kansas")]
kansas_2012_df.reset_index(drop=True, inplace=True)
kansas_2012_df['Sum'] = kansas_2012_df.Data_Value * kansas_2012_df.Sample_Size
Sum = kansas_2012_df['Sum'].sum()
Sum_Size = kansas_2012_df['Sample_Size'].sum()
kansas_2012_df['Sum_Sample_Size'] = Sum_Size
kansas_2012_df['Percentage'] = Sum/Sum_Size
kansas_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
kansas_2012_df=kansas_2012_df.drop(kansas_2012_df.index[1:28])
kansas_2012_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Kansas,2012,KS,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(38.3477403, -98.200781227)",67285.0,29.609014

In [137]:
kansas_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Kansas")]
kansas_2013_df.reset_index(drop=True, inplace=True)
kansas_2013_df['Sum'] = kansas_2013_df.Data_Value * kansas_2013_df.Sample_Size
Sum = kansas_2013_df['Sum'].sum()
Sum_Size = kansas_2013_df['Sample_Size'].sum()
kansas_2013_df['Sum_Sample_Size'] = Sum_Size
kansas_2013_df['Percentage'] = Sum/Sum_Size
kansas_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
kansas_2013_df=kansas_2013_df.drop(kansas_2013_df.index[1:28])
kansas_2013_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Kansas,2013,KS,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(38.3477403, -98.200781227)",131764.0,29.94286

In [138]:
kansas_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Kansas")]
kansas_2014_df.reset_index(drop=True, inplace=True)
kansas_2014_df['Sum'] = kansas_2014_df.Data_Value * kansas_2014_df.Sample_Size
Sum = kansas_2014_df['Sum'].sum()
Sum_Size = kansas_2014_df['Sample_Size'].sum()
kansas_2014_df['Sum_Sample_Size'] = Sum_Size
kansas_2014_df['Percentage'] = Sum/Sum_Size
kansas_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
kansas_2014_df=kansas_2014_df.drop(kansas_2014_df.index[1:28])
kansas_2014_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Kansas,2014,KS,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(38.3477403, -98.200781227)",76777.0,31.358951

In [139]:
kansas_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Kansas")]
kansas_2015_df.reset_index(drop=True, inplace=True)
kansas_2015_df['Sum'] = kansas_2015_df.Data_Value * kansas_2015_df.Sample_Size
Sum = kansas_2015_df['Sum'].sum()
Sum_Size = kansas_2015_df['Sample_Size'].sum()
kansas_2015_df['Sum_Sample_Size'] = Sum_Size
kansas_2015_df['Percentage'] = Sum/Sum_Size
kansas_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
kansas_2015_df=kansas_2015_df.drop(kansas_2015_df.index[1:28])
kansas_2015_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Kansas,2015,KS,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(38.3477403, -98.200781227)",125319.0,34.154259

In [140]:
kansas_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Kansas")]
kansas_2016_df.reset_index(drop=True, inplace=True)
kansas_2016_df['Sum'] = kansas_2016_df.Data_Value * kansas_2016_df.Sample_Size
Sum = kansas_2016_df['Sum'].sum()
Sum_Size = kansas_2016_df['Sample_Size'].sum()
kansas_2016_df['Sum_Sample_Size'] = Sum_Size
kansas_2016_df['Percentage'] = Sum/Sum_Size
kansas_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
kansas_2016_df=kansas_2016_df.drop(kansas_2016_df.index[1:28])
kansas_2016_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Kansas,2016,KS,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(38.3477403, -98.200781227)",65549.0,31.177141

In [141]:
kansas_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Kansas")]
kansas_2017_df.reset_index(drop=True, inplace=True)
kansas_2017_df['Sum'] = kansas_2017_df.Data_Value * kansas_2017_df.Sample_Size
Sum = kansas_2017_df['Sum'].sum()
Sum_Size = kansas_2017_df['Sample_Size'].sum()
kansas_2017_df['Sum_Sample_Size'] = Sum_Size
kansas_2017_df['Percentage'] = Sum/Sum_Size
kansas_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
kansas_2017_df=kansas_2017_df.drop(kansas_2017_df.index[1:28])
kansas_2017_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Kansas,2017,KS,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(38.3477403, -98.200781227)",118371.0,32.311969

In [142]:
kansas_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Kansas")]
kansas_2018_df.reset_index(drop=True, inplace=True)
kansas_2018_df['Sum'] = kansas_2018_df.Data_Value * kansas_2018_df.Sample_Size
Sum = kansas_2018_df['Sum'].sum()
Sum_Size = kansas_2018_df['Sample_Size'].sum()
kansas_2018_df['Sum_Sample_Size'] = Sum_Size
kansas_2018_df['Percentage'] = Sum/Sum_Size
kansas_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
kansas_2018_df=kansas_2018_df.drop(kansas_2018_df.index[1:28])
kansas_2018_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Kansas,2018,KS,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(38.34774030000045, -98.20078122699965)",59264.0,34.348623

In [143]:
kentucky_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Kentucky")]
kentucky_2011_df.reset_index(drop=True, inplace=True)
kentucky_2011_df['Sum'] = kentucky_2011_df.Data_Value * kentucky_2011_df.Sample_Size
Sum = kentucky_2011_df['Sum'].sum()
Sum_Size = kentucky_2011_df['Sample_Size'].sum()
kentucky_2011_df['Sum_Sample_Size'] = Sum_Size
kentucky_2011_df['Percentage'] = Sum/Sum_Size
kentucky_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
kentucky_2011_df=kentucky_2011_df.drop(kentucky_2011_df.index[1:28])
kentucky_2011_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Kentucky,2011,KY,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(37.645970271, -84.774971048)",60489.0,30.615924

In [144]:
kentucky_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Kentucky")]
kentucky_2012_df.reset_index(drop=True, inplace=True)
kentucky_2012_df['Sum'] = kentucky_2012_df.Data_Value * kentucky_2012_df.Sample_Size
Sum = kentucky_2012_df['Sum'].sum()
Sum_Size = kentucky_2012_df['Sample_Size'].sum()
kentucky_2012_df['Sum_Sample_Size'] = Sum_Size
kentucky_2012_df['Percentage'] = Sum/Sum_Size
kentucky_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
kentucky_2012_df=kentucky_2012_df.drop(kentucky_2012_df.index[1:28])
kentucky_2012_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Kentucky,2012,KY,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(37.645970271, -84.774971048)",63144.0,31.448757

In [145]:
kentucky_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Kentucky")]
kentucky_2013_df.reset_index(drop=True, inplace=True)
kentucky_2013_df['Sum'] = kentucky_2013_df.Data_Value * kentucky_2013_df.Sample_Size
Sum = kentucky_2013_df['Sum'].sum()
Sum_Size = kentucky_2013_df['Sample_Size'].sum()
kentucky_2013_df['Sum_Sample_Size'] = Sum_Size
kentucky_2013_df['Percentage'] = Sum/Sum_Size
kentucky_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
kentucky_2013_df=kentucky_2013_df.drop(kentucky_2013_df.index[1:28])
kentucky_2013_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Kentucky,2013,KY,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(37.645970271, -84.774971048)",61801.0,33.361326

In [146]:
kentucky_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Kentucky")]
kentucky_2014_df.reset_index(drop=True, inplace=True)
kentucky_2014_df['Sum'] = kentucky_2014_df.Data_Value * kentucky_2014_df.Sample_Size
Sum = kentucky_2014_df['Sum'].sum()
Sum_Size = kentucky_2014_df['Sample_Size'].sum()
kentucky_2014_df['Sum_Sample_Size'] = Sum_Size
kentucky_2014_df['Percentage'] = Sum/Sum_Size
kentucky_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
kentucky_2014_df=kentucky_2014_df.drop(kentucky_2014_df.index[1:28])
kentucky_2014_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Kentucky,2014,KY,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(37.645970271, -84.774971048)",62514.0,31.740834

In [147]:
kentucky_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Kentucky")]
kentucky_2015_df.reset_index(drop=True, inplace=True)
kentucky_2015_df['Sum'] = kentucky_2015_df.Data_Value * kentucky_2015_df.Sample_Size
Sum = kentucky_2015_df['Sum'].sum()
Sum_Size = kentucky_2015_df['Sample_Size'].sum()
kentucky_2015_df['Sum_Sample_Size'] = Sum_Size
kentucky_2015_df['Percentage'] = Sum/Sum_Size
kentucky_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
kentucky_2015_df=kentucky_2015_df.drop(kentucky_2015_df.index[1:28])
kentucky_2015_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Kentucky,2015,KY,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(37.645970271, -84.774971048)",48606.0,34.648654

In [148]:
kentucky_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Kentucky")]
kentucky_2016_df.reset_index(drop=True, inplace=True)
kentucky_2016_df['Sum'] = kentucky_2016_df.Data_Value * kentucky_2016_df.Sample_Size
Sum = kentucky_2016_df['Sum'].sum()
Sum_Size = kentucky_2016_df['Sample_Size'].sum()
kentucky_2016_df['Sum_Sample_Size'] = Sum_Size
kentucky_2016_df['Percentage'] = Sum/Sum_Size
kentucky_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
kentucky_2016_df=kentucky_2016_df.drop(kentucky_2016_df.index[1:28])
kentucky_2016_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Kentucky,2016,KY,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(37.645970271, -84.774971048)",57317.0,34.212707

In [149]:
kentucky_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Kentucky")]
kentucky_2017_df.reset_index(drop=True, inplace=True)
kentucky_2017_df['Sum'] = kentucky_2017_df.Data_Value * kentucky_2017_df.Sample_Size
Sum = kentucky_2017_df['Sum'].sum()
Sum_Size = kentucky_2017_df['Sample_Size'].sum()
kentucky_2017_df['Sum_Sample_Size'] = Sum_Size
kentucky_2017_df['Percentage'] = Sum/Sum_Size
kentucky_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
kentucky_2017_df=kentucky_2017_df.drop(kentucky_2017_df.index[1:28])
kentucky_2017_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Kentucky,2017,KY,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(37.645970271, -84.774971048)",47941.0,34.222075

In [150]:
kentucky_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Kentucky")]
kentucky_2018_df.reset_index(drop=True, inplace=True)
kentucky_2018_df['Sum'] = kentucky_2018_df.Data_Value * kentucky_2018_df.Sample_Size
Sum = kentucky_2018_df['Sum'].sum()
Sum_Size = kentucky_2018_df['Sample_Size'].sum()
kentucky_2018_df['Sum_Sample_Size'] = Sum_Size
kentucky_2018_df['Percentage'] = Sum/Sum_Size
kentucky_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
kentucky_2018_df=kentucky_2018_df.drop(kentucky_2018_df.index[1:28])
kentucky_2018_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Kentucky,2018,KY,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(37.645970271000465, -84.77497104799966)",47881.0,36.725574

In [151]:
louisiana_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Louisiana")]
louisiana_2011_df.reset_index(drop=True, inplace=True)
louisiana_2011_df['Sum'] = louisiana_2011_df.Data_Value * louisiana_2011_df.Sample_Size
Sum = louisiana_2011_df['Sum'].sum()
Sum_Size = louisiana_2011_df['Sample_Size'].sum()
louisiana_2011_df['Sum_Sample_Size'] = Sum_Size
louisiana_2011_df['Percentage'] = Sum/Sum_Size
louisiana_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
louisiana_2011_df=louisiana_2011_df.drop(louisiana_2011_df.index[1:28])
louisiana_2011_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Louisiana,2011,LA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(31.312660644, -92.445680071)",62296.0,33.463388

In [152]:
louisiana_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Louisiana")]
louisiana_2012_df.reset_index(drop=True, inplace=True)
louisiana_2012_df['Sum'] = louisiana_2012_df.Data_Value * louisiana_2012_df.Sample_Size
Sum = louisiana_2012_df['Sum'].sum()
Sum_Size = louisiana_2012_df['Sample_Size'].sum()
louisiana_2012_df['Sum_Sample_Size'] = Sum_Size
louisiana_2012_df['Percentage'] = Sum/Sum_Size
louisiana_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
louisiana_2012_df=louisiana_2012_df.drop(louisiana_2012_df.index[1:28])
louisiana_2012_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Louisiana,2012,LA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(31.312660644, -92.445680071)",51809.0,34.785632

In [153]:
louisiana_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Louisiana")]
louisiana_2013_df.reset_index(drop=True, inplace=True)
louisiana_2013_df['Sum'] = louisiana_2013_df.Data_Value * louisiana_2013_df.Sample_Size
Sum = louisiana_2013_df['Sum'].sum()
Sum_Size = louisiana_2013_df['Sample_Size'].sum()
louisiana_2013_df['Sum_Sample_Size'] = Sum_Size
louisiana_2013_df['Percentage'] = Sum/Sum_Size
louisiana_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
louisiana_2013_df=louisiana_2013_df.drop(louisiana_2013_df.index[1:28])
louisiana_2013_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Louisiana,2013,LA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(31.312660644, -92.445680071)",29874.0,33.189265

In [154]:
louisiana_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Louisiana")]
louisiana_2014_df.reset_index(drop=True, inplace=True)
louisiana_2014_df['Sum'] = louisiana_2014_df.Data_Value * louisiana_2014_df.Sample_Size
Sum = louisiana_2014_df['Sum'].sum()
Sum_Size = louisiana_2014_df['Sample_Size'].sum()
louisiana_2014_df['Sum_Sample_Size'] = Sum_Size
louisiana_2014_df['Percentage'] = Sum/Sum_Size
louisiana_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
louisiana_2014_df=louisiana_2014_df.drop(louisiana_2014_df.index[1:28])
louisiana_2014_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Louisiana,2014,LA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(31.312660644, -92.445680071)",38082.0,34.920918

In [155]:
louisiana_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Louisiana")]
louisiana_2015_df.reset_index(drop=True, inplace=True)
louisiana_2015_df['Sum'] = louisiana_2015_df.Data_Value * louisiana_2015_df.Sample_Size
Sum = louisiana_2015_df['Sum'].sum()
Sum_Size = louisiana_2015_df['Sample_Size'].sum()
louisiana_2015_df['Sum_Sample_Size'] = Sum_Size
louisiana_2015_df['Percentage'] = Sum/Sum_Size
louisiana_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
louisiana_2015_df=louisiana_2015_df.drop(louisiana_2015_df.index[1:28])
louisiana_2015_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Louisiana,2015,LA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(31.312660644, -92.445680071)",25772.0,36.246116

In [156]:
louisiana_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Louisiana")]
louisiana_2016_df.reset_index(drop=True, inplace=True)
louisiana_2016_df['Sum'] = louisiana_2016_df.Data_Value * louisiana_2016_df.Sample_Size
Sum = louisiana_2016_df['Sum'].sum()
Sum_Size = louisiana_2016_df['Sample_Size'].sum()
louisiana_2016_df['Sum_Sample_Size'] = Sum_Size
louisiana_2016_df['Percentage'] = Sum/Sum_Size
louisiana_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
louisiana_2016_df=louisiana_2016_df.drop(louisiana_2016_df.index[1:28])
louisiana_2016_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Louisiana,2016,LA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(31.312660644, -92.445680071)",29075.0,35.443474

In [157]:
louisiana_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Louisiana")]
louisiana_2017_df.reset_index(drop=True, inplace=True)
louisiana_2017_df['Sum'] = louisiana_2017_df.Data_Value * louisiana_2017_df.Sample_Size
Sum = louisiana_2017_df['Sum'].sum()
Sum_Size = louisiana_2017_df['Sample_Size'].sum()
louisiana_2017_df['Sum_Sample_Size'] = Sum_Size
louisiana_2017_df['Percentage'] = Sum/Sum_Size
louisiana_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
louisiana_2017_df=louisiana_2017_df.drop(louisiana_2017_df.index[1:28])
louisiana_2017_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Louisiana,2017,LA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(31.312660644, -92.445680071)",26490.0,36.204081

In [158]:
louisiana_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Louisiana")]
louisiana_2018_df.reset_index(drop=True, inplace=True)
louisiana_2018_df['Sum'] = louisiana_2018_df.Data_Value * louisiana_2018_df.Sample_Size
Sum = louisiana_2018_df['Sum'].sum()
Sum_Size = louisiana_2018_df['Sample_Size'].sum()
louisiana_2018_df['Sum_Sample_Size'] = Sum_Size
louisiana_2018_df['Percentage'] = Sum/Sum_Size
louisiana_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
louisiana_2018_df=louisiana_2018_df.drop(louisiana_2018_df.index[1:28])
louisiana_2018_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Louisiana,2018,LA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(31.31266064400046, -92.44568007099969)",28128.0,36.668252

In [159]:
maine_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Maine")]
maine_2011_df.reset_index(drop=True, inplace=True)
maine_2011_df['Sum'] = maine_2011_df.Data_Value * maine_2011_df.Sample_Size
Sum = maine_2011_df['Sum'].sum()
Sum_Size = maine_2011_df['Sample_Size'].sum()
maine_2011_df['Sum_Sample_Size'] = Sum_Size
maine_2011_df['Percentage'] = Sum/Sum_Size
maine_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
maine_2011_df=maine_2011_df.drop(maine_2011_df.index[1:28])
maine_2011_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Maine,2011,ME,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(45.254228894001, -68.985031336)",75605.0,27.759144

In [160]:
maine_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Maine")]
maine_2012_df.reset_index(drop=True, inplace=True)
maine_2012_df['Sum'] = maine_2012_df.Data_Value * maine_2012_df.Sample_Size
Sum = maine_2012_df['Sum'].sum()
Sum_Size = maine_2012_df['Sample_Size'].sum()
maine_2012_df['Sum_Sample_Size'] = Sum_Size
maine_2012_df['Percentage'] = Sum/Sum_Size
maine_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
maine_2012_df=maine_2012_df.drop(maine_2012_df.index[1:28])
maine_2012_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Maine,2012,ME,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(45.254228894001, -68.985031336)",56794.0,28.236555

In [161]:
maine_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Maine")]
maine_2013_df.reset_index(drop=True, inplace=True)
maine_2013_df['Sum'] = maine_2013_df.Data_Value * maine_2013_df.Sample_Size
Sum = maine_2013_df['Sum'].sum()
Sum_Size = maine_2013_df['Sample_Size'].sum()
maine_2013_df['Sum_Sample_Size'] = Sum_Size
maine_2013_df['Percentage'] = Sum/Sum_Size
maine_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
maine_2013_df=maine_2013_df.drop(maine_2013_df.index[1:28])
maine_2013_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Maine,2013,ME,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(45.254228894001, -68.985031336)",46559.0,28.902599

In [162]:
maine_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Maine")]
maine_2014_df.reset_index(drop=True, inplace=True)
maine_2014_df['Sum'] = maine_2014_df.Data_Value * maine_2014_df.Sample_Size
Sum = maine_2014_df['Sum'].sum()
Sum_Size = maine_2014_df['Sample_Size'].sum()
maine_2014_df['Sum_Sample_Size'] = Sum_Size
maine_2014_df['Percentage'] = Sum/Sum_Size
maine_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
maine_2014_df=maine_2014_df.drop(maine_2014_df.index[1:28])
maine_2014_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Maine,2014,ME,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(45.254228894001, -68.985031336)",52014.0,28.141323

In [163]:
maine_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Maine")]
maine_2015_df.reset_index(drop=True, inplace=True)
maine_2015_df['Sum'] = maine_2015_df.Data_Value * maine_2015_df.Sample_Size
Sum = maine_2015_df['Sum'].sum()
Sum_Size = maine_2015_df['Sample_Size'].sum()
maine_2015_df['Sum_Sample_Size'] = Sum_Size
maine_2015_df['Percentage'] = Sum/Sum_Size
maine_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
maine_2015_df=maine_2015_df.drop(maine_2015_df.index[1:28])
maine_2015_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Maine,2015,ME,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(45.254228894001, -68.985031336)",51280.0,29.960852

In [164]:
maine_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Maine")]
maine_2016_df.reset_index(drop=True, inplace=True)
maine_2016_df['Sum'] = maine_2016_df.Data_Value * maine_2016_df.Sample_Size
Sum = maine_2016_df['Sum'].sum()
Sum_Size = maine_2016_df['Sample_Size'].sum()
maine_2016_df['Sum_Sample_Size'] = Sum_Size
maine_2016_df['Percentage'] = Sum/Sum_Size
maine_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
maine_2016_df=maine_2016_df.drop(maine_2016_df.index[1:28])
maine_2016_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Maine,2016,ME,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(45.254228894001, -68.985031336)",57112.0,29.886306

In [165]:
maine_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Maine")]
maine_2017_df.reset_index(drop=True, inplace=True)
maine_2017_df['Sum'] = maine_2017_df.Data_Value * maine_2017_df.Sample_Size
Sum = maine_2017_df['Sum'].sum()
Sum_Size = maine_2017_df['Sample_Size'].sum()
maine_2017_df['Sum_Sample_Size'] = Sum_Size
maine_2017_df['Percentage'] = Sum/Sum_Size
maine_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
maine_2017_df=maine_2017_df.drop(maine_2017_df.index[1:28])
maine_2017_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Maine,2017,ME,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(45.254228894001, -68.985031336)",55536.0,29.11322

In [166]:
maine_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Maine")]
maine_2018_df.reset_index(drop=True, inplace=True)
maine_2018_df['Sum'] = maine_2018_df.Data_Value * maine_2018_df.Sample_Size
Sum = maine_2018_df['Sum'].sum()
Sum_Size = maine_2018_df['Sample_Size'].sum()
maine_2018_df['Sum_Sample_Size'] = Sum_Size
maine_2018_df['Percentage'] = Sum/Sum_Size
maine_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
maine_2018_df=maine_2018_df.drop(maine_2018_df.index[1:28])
maine_2018_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Maine,2018,ME,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(45.254228894000505, -68.98503133599962)",61020.0,30.176976

In [167]:
maryland_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Maryland")]
maryland_2011_df.reset_index(drop=True, inplace=True)
maryland_2011_df['Sum'] = maryland_2011_df.Data_Value * maryland_2011_df.Sample_Size
Sum = maryland_2011_df['Sum'].sum()
Sum_Size = maryland_2011_df['Sample_Size'].sum()
maryland_2011_df['Sum_Sample_Size'] = Sum_Size
maryland_2011_df['Percentage'] = Sum/Sum_Size
maryland_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
maryland_2011_df=maryland_2011_df.drop(maryland_2011_df.index[1:28])
maryland_2011_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Maryland,2011,MD,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(39.290580964, -76.609260111)",56513.0,28.200331

In [168]:
maryland_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Maryland")]
maryland_2012_df.reset_index(drop=True, inplace=True)
maryland_2012_df['Sum'] = maryland_2012_df.Data_Value * maryland_2012_df.Sample_Size
Sum = maryland_2012_df['Sum'].sum()
Sum_Size = maryland_2012_df['Sample_Size'].sum()
maryland_2012_df['Sum_Sample_Size'] = Sum_Size
maryland_2012_df['Percentage'] = Sum/Sum_Size
maryland_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
maryland_2012_df=maryland_2012_df.drop(maryland_2012_df.index[1:28])
maryland_2012_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Maryland,2012,MD,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(39.290580964, -76.609260111)",71374.0,27.674772

In [169]:
maryland_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Maryland")]
maryland_2013_df.reset_index(drop=True, inplace=True)
maryland_2013_df['Sum'] = maryland_2013_df.Data_Value * maryland_2013_df.Sample_Size
Sum = maryland_2013_df['Sum'].sum()
Sum_Size = maryland_2013_df['Sample_Size'].sum()
maryland_2013_df['Sum_Sample_Size'] = Sum_Size
maryland_2013_df['Percentage'] = Sum/Sum_Size
maryland_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
maryland_2013_df=maryland_2013_df.drop(maryland_2013_df.index[1:28])
maryland_2013_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Maryland,2013,MD,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(39.290580964, -76.609260111)",72820.0,28.266549

In [170]:
maryland_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Maryland")]
maryland_2014_df.reset_index(drop=True, inplace=True)
maryland_2014_df['Sum'] = maryland_2014_df.Data_Value * maryland_2014_df.Sample_Size
Sum = maryland_2014_df['Sum'].sum()
Sum_Size = maryland_2014_df['Sample_Size'].sum()
maryland_2014_df['Sum_Sample_Size'] = Sum_Size
maryland_2014_df['Percentage'] = Sum/Sum_Size
maryland_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
maryland_2014_df=maryland_2014_df.drop(maryland_2014_df.index[1:28])
maryland_2014_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Maryland,2014,MD,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(39.290580964, -76.609260111)",70040.0,29.7177

In [171]:
maryland_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Maryland")]
maryland_2015_df.reset_index(drop=True, inplace=True)
maryland_2015_df['Sum'] = maryland_2015_df.Data_Value * maryland_2015_df.Sample_Size
Sum = maryland_2015_df['Sum'].sum()
Sum_Size = maryland_2015_df['Sample_Size'].sum()
maryland_2015_df['Sum_Sample_Size'] = Sum_Size
maryland_2015_df['Percentage'] = Sum/Sum_Size
maryland_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
maryland_2015_df=maryland_2015_df.drop(maryland_2015_df.index[1:28])
maryland_2015_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Maryland,2015,MD,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(39.290580964, -76.609260111)",67897.0,28.994914

In [172]:
maryland_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Maryland")]
maryland_2016_df.reset_index(drop=True, inplace=True)
maryland_2016_df['Sum'] = maryland_2016_df.Data_Value * maryland_2016_df.Sample_Size
Sum = maryland_2016_df['Sum'].sum()
Sum_Size = maryland_2016_df['Sample_Size'].sum()
maryland_2016_df['Sum_Sample_Size'] = Sum_Size
maryland_2016_df['Percentage'] = Sum/Sum_Size
maryland_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
maryland_2016_df=maryland_2016_df.drop(maryland_2016_df.index[1:28])
maryland_2016_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Maryland,2016,MD,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(39.290580964, -76.609260111)",99890.0,30.03588

In [173]:
maryland_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Maryland")]
maryland_2017_df.reset_index(drop=True, inplace=True)
maryland_2017_df['Sum'] = maryland_2017_df.Data_Value * maryland_2017_df.Sample_Size
Sum = maryland_2017_df['Sum'].sum()
Sum_Size = maryland_2017_df['Sample_Size'].sum()
maryland_2017_df['Sum_Sample_Size'] = Sum_Size
maryland_2017_df['Percentage'] = Sum/Sum_Size
maryland_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
maryland_2017_df=maryland_2017_df.drop(maryland_2017_df.index[1:28])
maryland_2017_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Maryland,2017,MD,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(39.290580964, -76.609260111)",74068.0,31.292059

In [174]:
maryland_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Maryland")]
maryland_2018_df.reset_index(drop=True, inplace=True)
maryland_2018_df['Sum'] = maryland_2018_df.Data_Value * maryland_2018_df.Sample_Size
Sum = maryland_2018_df['Sum'].sum()
Sum_Size = maryland_2018_df['Sample_Size'].sum()
maryland_2018_df['Sum_Sample_Size'] = Sum_Size
maryland_2018_df['Percentage'] = Sum/Sum_Size
maryland_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
maryland_2018_df=maryland_2018_df.drop(maryland_2018_df.index[1:28])
maryland_2018_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Maryland,2018,MD,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(39.29058096400047, -76.60926011099963)",95848.0,30.82422

In [175]:
massachusetts_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Massachusetts")]
massachusetts_2011_df.reset_index(drop=True, inplace=True)
massachusetts_2011_df['Sum'] = massachusetts_2011_df.Data_Value * massachusetts_2011_df.Sample_Size
Sum = massachusetts_2011_df['Sum'].sum()
Sum_Size = massachusetts_2011_df['Sample_Size'].sum()
massachusetts_2011_df['Sum_Sample_Size'] = Sum_Size
massachusetts_2011_df['Percentage'] = Sum/Sum_Size
massachusetts_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
massachusetts_2011_df=massachusetts_2011_df.drop(massachusetts_2011_df.index[1:28])
massachusetts_2011_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Massachusetts,2011,MA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(42.27687047, -72.082690675)",122829.0,22.93328

In [176]:
massachusetts_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Massachusetts")]
massachusetts_2012_df.reset_index(drop=True, inplace=True)
massachusetts_2012_df['Sum'] = massachusetts_2012_df.Data_Value * massachusetts_2012_df.Sample_Size
Sum = massachusetts_2012_df['Sum'].sum()
Sum_Size = massachusetts_2012_df['Sample_Size'].sum()
massachusetts_2012_df['Sum_Sample_Size'] = Sum_Size
massachusetts_2012_df['Percentage'] = Sum/Sum_Size
massachusetts_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
massachusetts_2012_df=massachusetts_2012_df.drop(massachusetts_2012_df.index[1:28])
massachusetts_2012_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Massachusetts,2012,MA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(42.27687047, -72.082690675)",118873.0,23.058662

In [177]:
massachusetts_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Massachusetts")]
massachusetts_2013_df.reset_index(drop=True, inplace=True)
massachusetts_2013_df['Sum'] = massachusetts_2013_df.Data_Value * massachusetts_2013_df.Sample_Size
Sum = massachusetts_2013_df['Sum'].sum()
Sum_Size = massachusetts_2013_df['Sample_Size'].sum()
massachusetts_2013_df['Sum_Sample_Size'] = Sum_Size
massachusetts_2013_df['Percentage'] = Sum/Sum_Size
massachusetts_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
massachusetts_2013_df=massachusetts_2013_df.drop(massachusetts_2013_df.index[1:28])
massachusetts_2013_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Massachusetts,2013,MA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(42.27687047, -72.082690675)",83015.0,23.83027

In [178]:
massachusetts_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Massachusetts")]
massachusetts_2014_df.reset_index(drop=True, inplace=True)
massachusetts_2014_df['Sum'] = massachusetts_2014_df.Data_Value * massachusetts_2014_df.Sample_Size
Sum = massachusetts_2014_df['Sum'].sum()
Sum_Size = massachusetts_2014_df['Sample_Size'].sum()
massachusetts_2014_df['Sum_Sample_Size'] = Sum_Size
massachusetts_2014_df['Percentage'] = Sum/Sum_Size
massachusetts_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
massachusetts_2014_df=massachusetts_2014_df.drop(massachusetts_2014_df.index[1:28])
massachusetts_2014_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Massachusetts,2014,MA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(42.27687047, -72.082690675)",85994.0,23.524877

In [179]:
massachusetts_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Massachusetts")]
massachusetts_2015_df.reset_index(drop=True, inplace=True)
massachusetts_2015_df['Sum'] = massachusetts_2015_df.Data_Value * massachusetts_2015_df.Sample_Size
Sum = massachusetts_2015_df['Sum'].sum()
Sum_Size = massachusetts_2015_df['Sample_Size'].sum()
massachusetts_2015_df['Sum_Sample_Size'] = Sum_Size
massachusetts_2015_df['Percentage'] = Sum/Sum_Size
massachusetts_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
massachusetts_2015_df=massachusetts_2015_df.drop(massachusetts_2015_df.index[1:28])
massachusetts_2015_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Massachusetts,2015,MA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(42.27687047, -72.082690675)",49012.0,24.385455

In [180]:
massachusetts_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Massachusetts")]
massachusetts_2016_df.reset_index(drop=True, inplace=True)
massachusetts_2016_df['Sum'] = massachusetts_2016_df.Data_Value * massachusetts_2016_df.Sample_Size
Sum = massachusetts_2016_df['Sum'].sum()
Sum_Size = massachusetts_2016_df['Sample_Size'].sum()
massachusetts_2016_df['Sum_Sample_Size'] = Sum_Size
massachusetts_2016_df['Percentage'] = Sum/Sum_Size
massachusetts_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
massachusetts_2016_df=massachusetts_2016_df.drop(massachusetts_2016_df.index[1:28])
massachusetts_2016_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Massachusetts,2016,MA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(42.27687047, -72.082690675)",44648.0,23.587032

In [181]:
massachusetts_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Massachusetts")]
massachusetts_2017_df.reset_index(drop=True, inplace=True)
massachusetts_2017_df['Sum'] = massachusetts_2017_df.Data_Value * massachusetts_2017_df.Sample_Size
Sum = massachusetts_2017_df['Sum'].sum()
Sum_Size = massachusetts_2017_df['Sample_Size'].sum()
massachusetts_2017_df['Sum_Sample_Size'] = Sum_Size
massachusetts_2017_df['Percentage'] = Sum/Sum_Size
massachusetts_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
massachusetts_2017_df=massachusetts_2017_df.drop(massachusetts_2017_df.index[1:28])
massachusetts_2017_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Massachusetts,2017,MA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(42.27687047, -72.082690675)",37364.0,25.833661

In [182]:
massachusetts_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Massachusetts")]
massachusetts_2018_df.reset_index(drop=True, inplace=True)
massachusetts_2018_df['Sum'] = massachusetts_2018_df.Data_Value * massachusetts_2018_df.Sample_Size
Sum = massachusetts_2018_df['Sum'].sum()
Sum_Size = massachusetts_2018_df['Sample_Size'].sum()
massachusetts_2018_df['Sum_Sample_Size'] = Sum_Size
massachusetts_2018_df['Percentage'] = Sum/Sum_Size
massachusetts_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
massachusetts_2018_df=massachusetts_2018_df.drop(massachusetts_2018_df.index[1:28])
massachusetts_2018_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Massachusetts,2018,MA,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(42.27687047000046, -72.08269067499964)",36341.0,25.68437

In [183]:
michigan_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Michigan")]
michigan_2011_df.reset_index(drop=True, inplace=True)
michigan_2011_df['Sum'] = michigan_2011_df.Data_Value * michigan_2011_df.Sample_Size
Sum = michigan_2011_df['Sum'].sum()
Sum_Size = michigan_2011_df['Sample_Size'].sum()
michigan_2011_df['Sum_Sample_Size'] = Sum_Size
michigan_2011_df['Percentage'] = Sum/Sum_Size
michigan_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
michigan_2011_df=michigan_2011_df.drop(michigan_2011_df.index[1:28])
michigan_2011_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Michigan,2011,MI,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(44.661319543001, -84.71439027)",63289.0,31.342326

In [184]:
michigan_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Michigan")]
michigan_2012_df.reset_index(drop=True, inplace=True)
michigan_2012_df['Sum'] = michigan_2012_df.Data_Value * michigan_2012_df.Sample_Size
Sum = michigan_2012_df['Sum'].sum()
Sum_Size = michigan_2012_df['Sample_Size'].sum()
michigan_2012_df['Sum_Sample_Size'] = Sum_Size
michigan_2012_df['Percentage'] = Sum/Sum_Size
michigan_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
michigan_2012_df=michigan_2012_df.drop(michigan_2012_df.index[1:28])
michigan_2012_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Michigan,2012,MI,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(44.661319543001, -84.71439027)",60064.0,31.124685

In [185]:
michigan_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Michigan")]
michigan_2013_df.reset_index(drop=True, inplace=True)
michigan_2013_df['Sum'] = michigan_2013_df.Data_Value * michigan_2013_df.Sample_Size
Sum = michigan_2013_df['Sum'].sum()
Sum_Size = michigan_2013_df['Sample_Size'].sum()
michigan_2013_df['Sum_Sample_Size'] = Sum_Size
michigan_2013_df['Percentage'] = Sum/Sum_Size
michigan_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
michigan_2013_df=michigan_2013_df.drop(michigan_2013_df.index[1:28])
michigan_2013_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Michigan,2013,MI,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(44.661319543001, -84.71439027)",72835.0,31.486748

In [186]:
michigan_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Michigan")]
michigan_2014_df.reset_index(drop=True, inplace=True)
michigan_2014_df['Sum'] = michigan_2014_df.Data_Value * michigan_2014_df.Sample_Size
Sum = michigan_2014_df['Sum'].sum()
Sum_Size = michigan_2014_df['Sample_Size'].sum()
michigan_2014_df['Sum_Sample_Size'] = Sum_Size
michigan_2014_df['Percentage'] = Sum/Sum_Size
michigan_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
michigan_2014_df=michigan_2014_df.drop(michigan_2014_df.index[1:28])
michigan_2014_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Michigan,2014,MI,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(44.661319543001, -84.71439027)",47990.0,30.829452

In [187]:
michigan_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Michigan")]
michigan_2015_df.reset_index(drop=True, inplace=True)
michigan_2015_df['Sum'] = michigan_2015_df.Data_Value * michigan_2015_df.Sample_Size
Sum = michigan_2015_df['Sum'].sum()
Sum_Size = michigan_2015_df['Sample_Size'].sum()
michigan_2015_df['Sum_Sample_Size'] = Sum_Size
michigan_2015_df['Percentage'] = Sum/Sum_Size
michigan_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
michigan_2015_df=michigan_2015_df.drop(michigan_2015_df.index[1:28])
michigan_2015_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Michigan,2015,MI,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(44.661319543001, -84.71439027)",49846.0,31.089999

In [188]:
michigan_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Michigan")]
michigan_2016_df.reset_index(drop=True, inplace=True)
michigan_2016_df['Sum'] = michigan_2016_df.Data_Value * michigan_2016_df.Sample_Size
Sum = michigan_2016_df['Sum'].sum()
Sum_Size = michigan_2016_df['Sample_Size'].sum()
michigan_2016_df['Sum_Sample_Size'] = Sum_Size
michigan_2016_df['Percentage'] = Sum/Sum_Size
michigan_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
michigan_2016_df=michigan_2016_df.drop(michigan_2016_df.index[1:28])
michigan_2016_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Michigan,2016,MI,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(44.661319543001, -84.71439027)",66541.0,32.436992

In [189]:
michigan_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Michigan")]
michigan_2017_df.reset_index(drop=True, inplace=True)
michigan_2017_df['Sum'] = michigan_2017_df.Data_Value * michigan_2017_df.Sample_Size
Sum = michigan_2017_df['Sum'].sum()
Sum_Size = michigan_2017_df['Sample_Size'].sum()
michigan_2017_df['Sum_Sample_Size'] = Sum_Size
michigan_2017_df['Percentage'] = Sum/Sum_Size
michigan_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
michigan_2017_df=michigan_2017_df.drop(michigan_2017_df.index[1:28])
michigan_2017_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Michigan,2017,MI,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(44.661319543001, -84.71439027)",60531.0,32.1806

In [190]:
michigan_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Michigan")]
michigan_2018_df.reset_index(drop=True, inplace=True)
michigan_2018_df['Sum'] = michigan_2018_df.Data_Value * michigan_2018_df.Sample_Size
Sum = michigan_2018_df['Sum'].sum()
Sum_Size = michigan_2018_df['Sample_Size'].sum()
michigan_2018_df['Sum_Sample_Size'] = Sum_Size
michigan_2018_df['Percentage'] = Sum/Sum_Size
michigan_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
michigan_2018_df=michigan_2018_df.drop(michigan_2018_df.index[1:28])
michigan_2018_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Michigan,2018,MI,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(44.6613195430005, -84.71439026999968)",57332.0,32.90998

In [191]:
minnesota_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Minnesota")]
minnesota_2011_df.reset_index(drop=True, inplace=True)
minnesota_2011_df['Sum'] = minnesota_2011_df.Data_Value * minnesota_2011_df.Sample_Size
Sum = minnesota_2011_df['Sum'].sum()
Sum_Size = minnesota_2011_df['Sample_Size'].sum()
minnesota_2011_df['Sum_Sample_Size'] = Sum_Size
minnesota_2011_df['Percentage'] = Sum/Sum_Size
minnesota_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
minnesota_2011_df=minnesota_2011_df.drop(minnesota_2011_df.index[1:28])
minnesota_2011_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Minnesota,2011,MN,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(46.355648736, -94.794200503)",86161.0,25.732085

In [192]:
minnesota_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Minnesota")]
minnesota_2012_df.reset_index(drop=True, inplace=True)
minnesota_2012_df['Sum'] = minnesota_2012_df.Data_Value * minnesota_2012_df.Sample_Size
Sum = minnesota_2012_df['Sum'].sum()
Sum_Size = minnesota_2012_df['Sample_Size'].sum()
minnesota_2012_df['Sum_Sample_Size'] = Sum_Size
minnesota_2012_df['Percentage'] = Sum/Sum_Size
minnesota_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
minnesota_2012_df=minnesota_2012_df.drop(minnesota_2012_df.index[1:28])
minnesota_2012_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Minnesota,2012,MN,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(46.355648736, -94.794200503)",68381.0,25.708723

In [193]:
minnesota_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Minnesota")]
minnesota_2013_df.reset_index(drop=True, inplace=True)
minnesota_2013_df['Sum'] = minnesota_2013_df.Data_Value * minnesota_2013_df.Sample_Size
Sum = minnesota_2013_df['Sum'].sum()
Sum_Size = minnesota_2013_df['Sample_Size'].sum()
minnesota_2013_df['Sum_Sample_Size'] = Sum_Size
minnesota_2013_df['Percentage'] = Sum/Sum_Size
minnesota_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
minnesota_2013_df=minnesota_2013_df.drop(minnesota_2013_df.index[1:28])
minnesota_2013_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Minnesota,2013,MN,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(46.355648736, -94.794200503)",80537.0,25.531253

In [194]:
minnesota_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Minnesota")]
minnesota_2014_df.reset_index(drop=True, inplace=True)
minnesota_2014_df['Sum'] = minnesota_2014_df.Data_Value * minnesota_2014_df.Sample_Size
Sum = minnesota_2014_df['Sum'].sum()
Sum_Size = minnesota_2014_df['Sample_Size'].sum()
minnesota_2014_df['Sum_Sample_Size'] = Sum_Size
minnesota_2014_df['Percentage'] = Sum/Sum_Size
minnesota_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
minnesota_2014_df=minnesota_2014_df.drop(minnesota_2014_df.index[1:28])
minnesota_2014_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Minnesota,2014,MN,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(46.355648736, -94.794200503)",91619.0,27.700084

In [195]:
minnesota_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Minnesota")]
minnesota_2015_df.reset_index(drop=True, inplace=True)
minnesota_2015_df['Sum'] = minnesota_2015_df.Data_Value * minnesota_2015_df.Sample_Size
Sum = minnesota_2015_df['Sum'].sum()
Sum_Size = minnesota_2015_df['Sample_Size'].sum()
minnesota_2015_df['Sum_Sample_Size'] = Sum_Size
minnesota_2015_df['Percentage'] = Sum/Sum_Size
minnesota_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
minnesota_2015_df=minnesota_2015_df.drop(minnesota_2015_df.index[1:28])
minnesota_2015_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Minnesota,2015,MN,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(46.355648736, -94.794200503)",91801.0,26.326578

In [196]:
minnesota_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Minnesota")]
minnesota_2016_df.reset_index(drop=True, inplace=True)
minnesota_2016_df['Sum'] = minnesota_2016_df.Data_Value * minnesota_2016_df.Sample_Size
Sum = minnesota_2016_df['Sum'].sum()
Sum_Size = minnesota_2016_df['Sample_Size'].sum()
minnesota_2016_df['Sum_Sample_Size'] = Sum_Size
minnesota_2016_df['Percentage'] = Sum/Sum_Size
minnesota_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
minnesota_2016_df=minnesota_2016_df.drop(minnesota_2016_df.index[1:28])
minnesota_2016_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Minnesota,2016,MN,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(46.355648736, -94.794200503)",92272.0,27.838719

In [197]:
minnesota_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Minnesota")]
minnesota_2017_df.reset_index(drop=True, inplace=True)
minnesota_2017_df['Sum'] = minnesota_2017_df.Data_Value * minnesota_2017_df.Sample_Size
Sum = minnesota_2017_df['Sum'].sum()
Sum_Size = minnesota_2017_df['Sample_Size'].sum()
minnesota_2017_df['Sum_Sample_Size'] = Sum_Size
minnesota_2017_df['Percentage'] = Sum/Sum_Size
minnesota_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
minnesota_2017_df=minnesota_2017_df.drop(minnesota_2017_df.index[1:28])
minnesota_2017_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Minnesota,2017,MN,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(46.355648736, -94.794200503)",92355.0,28.526432

In [198]:
minnesota_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Minnesota")]
minnesota_2018_df.reset_index(drop=True, inplace=True)
minnesota_2018_df['Sum'] = minnesota_2018_df.Data_Value * minnesota_2018_df.Sample_Size
Sum = minnesota_2018_df['Sum'].sum()
Sum_Size = minnesota_2018_df['Sample_Size'].sum()
minnesota_2018_df['Sum_Sample_Size'] = Sum_Size
minnesota_2018_df['Percentage'] = Sum/Sum_Size
minnesota_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
minnesota_2018_df=minnesota_2018_df.drop(minnesota_2018_df.index[1:28])
minnesota_2018_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Minnesota,2018,MN,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(46.35564873600049, -94.79420050299967)",93478.0,30.093993

In [199]:
mississippi_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Mississippi")]
mississippi_2011_df.reset_index(drop=True, inplace=True)
mississippi_2011_df['Sum'] = mississippi_2011_df.Data_Value * mississippi_2011_df.Sample_Size
Sum = mississippi_2011_df['Sum'].sum()
Sum_Size = mississippi_2011_df['Sample_Size'].sum()
mississippi_2011_df['Sum_Sample_Size'] = Sum_Size
mississippi_2011_df['Percentage'] = Sum/Sum_Size
mississippi_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
mississippi_2011_df=mississippi_2011_df.drop(mississippi_2011_df.index[1:28])
mississippi_2011_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Mississippi,2011,MS,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(32.745510099, -89.538030825)",50817.0,34.844212

In [200]:
mississippi_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Mississippi")]
mississippi_2012_df.reset_index(drop=True, inplace=True)
mississippi_2012_df['Sum'] = mississippi_2012_df.Data_Value * mississippi_2012_df.Sample_Size
Sum = mississippi_2012_df['Sum'].sum()
Sum_Size = mississippi_2012_df['Sample_Size'].sum()
mississippi_2012_df['Sum_Sample_Size'] = Sum_Size
mississippi_2012_df['Percentage'] = Sum/Sum_Size
mississippi_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
mississippi_2012_df=mississippi_2012_df.drop(mississippi_2012_df.index[1:28])
mississippi_2012_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Mississippi,2012,MS,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(32.745510099, -89.538030825)",44395.0,34.604796

In [201]:
mississippi_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Mississippi")]
mississippi_2013_df.reset_index(drop=True, inplace=True)
mississippi_2013_df['Sum'] = mississippi_2013_df.Data_Value * mississippi_2013_df.Sample_Size
Sum = mississippi_2013_df['Sum'].sum()
Sum_Size = mississippi_2013_df['Sample_Size'].sum()
mississippi_2013_df['Sum_Sample_Size'] = Sum_Size
mississippi_2013_df['Percentage'] = Sum/Sum_Size
mississippi_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
mississippi_2013_df=mississippi_2013_df.drop(mississippi_2013_df.index[1:28])
mississippi_2013_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Mississippi,2013,MS,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(32.745510099, -89.538030825)",41995.0,35.023779

In [202]:
mississippi_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Mississippi")]
mississippi_2014_df.reset_index(drop=True, inplace=True)
mississippi_2014_df['Sum'] = mississippi_2014_df.Data_Value * mississippi_2014_df.Sample_Size
Sum = mississippi_2014_df['Sum'].sum()
Sum_Size = mississippi_2014_df['Sample_Size'].sum()
mississippi_2014_df['Sum_Sample_Size'] = Sum_Size
mississippi_2014_df['Percentage'] = Sum/Sum_Size
mississippi_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
mississippi_2014_df=mississippi_2014_df.drop(mississippi_2014_df.index[1:28])
mississippi_2014_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Mississippi,2014,MS,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(32.745510099, -89.538030825)",23714.0,35.482162

In [203]:
mississippi_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Mississippi")]
mississippi_2015_df.reset_index(drop=True, inplace=True)
mississippi_2015_df['Sum'] = mississippi_2015_df.Data_Value * mississippi_2015_df.Sample_Size
Sum = mississippi_2015_df['Sum'].sum()
Sum_Size = mississippi_2015_df['Sample_Size'].sum()
mississippi_2015_df['Sum_Sample_Size'] = Sum_Size
mississippi_2015_df['Percentage'] = Sum/Sum_Size
mississippi_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
mississippi_2015_df=mississippi_2015_df.drop(mississippi_2015_df.index[1:28])
mississippi_2015_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Mississippi,2015,MS,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(32.745510099, -89.538030825)",33844.0,35.364289

In [204]:
mississippi_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Mississippi")]
mississippi_2016_df.reset_index(drop=True, inplace=True)
mississippi_2016_df['Sum'] = mississippi_2016_df.Data_Value * mississippi_2016_df.Sample_Size
Sum = mississippi_2016_df['Sum'].sum()
Sum_Size = mississippi_2016_df['Sample_Size'].sum()
mississippi_2016_df['Sum_Sample_Size'] = Sum_Size
mississippi_2016_df['Percentage'] = Sum/Sum_Size
mississippi_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
mississippi_2016_df=mississippi_2016_df.drop(mississippi_2016_df.index[1:28])
mississippi_2016_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Mississippi,2016,MS,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(32.745510099, -89.538030825)",28785.0,37.343307

In [205]:
mississippi_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Mississippi")]
mississippi_2017_df.reset_index(drop=True, inplace=True)
mississippi_2017_df['Sum'] = mississippi_2017_df.Data_Value * mississippi_2017_df.Sample_Size
Sum = mississippi_2017_df['Sum'].sum()
Sum_Size = mississippi_2017_df['Sample_Size'].sum()
mississippi_2017_df['Sum_Sample_Size'] = Sum_Size
mississippi_2017_df['Percentage'] = Sum/Sum_Size
mississippi_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
mississippi_2017_df=mississippi_2017_df.drop(mississippi_2017_df.index[1:28])
mississippi_2017_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Mississippi,2017,MS,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(32.745510099, -89.538030825)",28319.0,37.117822

In [206]:
mississippi_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Mississippi")]
mississippi_2018_df.reset_index(drop=True, inplace=True)
mississippi_2018_df['Sum'] = mississippi_2018_df.Data_Value * mississippi_2018_df.Sample_Size
Sum = mississippi_2018_df['Sum'].sum()
Sum_Size = mississippi_2018_df['Sample_Size'].sum()
mississippi_2018_df['Sum_Sample_Size'] = Sum_Size
mississippi_2018_df['Percentage'] = Sum/Sum_Size
mississippi_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
mississippi_2018_df=mississippi_2018_df.drop(mississippi_2018_df.index[1:28])
mississippi_2018_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Mississippi,2018,MS,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(32.745510099000455, -89.53803082499968)",32643.0,39.633526

In [207]:
missouri_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Missouri")]
missouri_2011_df.reset_index(drop=True, inplace=True)
missouri_2011_df['Sum'] = missouri_2011_df.Data_Value * missouri_2011_df.Sample_Size
Sum = missouri_2011_df['Sum'].sum()
Sum_Size = missouri_2011_df['Sample_Size'].sum()
missouri_2011_df['Sum_Sample_Size'] = Sum_Size
missouri_2011_df['Percentage'] = Sum/Sum_Size
missouri_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
missouri_2011_df=missouri_2011_df.drop(missouri_2011_df.index[1:28])
missouri_2011_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Missouri,2011,MO,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(38.635790776, -92.566300053)",36447.0,30.411197

In [208]:
missouri_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Missouri")]
missouri_2012_df.reset_index(drop=True, inplace=True)
missouri_2012_df['Sum'] = missouri_2012_df.Data_Value * missouri_2012_df.Sample_Size
Sum = missouri_2012_df['Sum'].sum()
Sum_Size = missouri_2012_df['Sample_Size'].sum()
missouri_2012_df['Sum_Sample_Size'] = Sum_Size
missouri_2012_df['Percentage'] = Sum/Sum_Size
missouri_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
missouri_2012_df=missouri_2012_df.drop(missouri_2012_df.index[1:28])
missouri_2012_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Missouri,2012,MO,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(38.635790776, -92.566300053)",38456.0,29.854007

In [209]:
missouri_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Missouri")]
missouri_2013_df.reset_index(drop=True, inplace=True)
missouri_2013_df['Sum'] = missouri_2013_df.Data_Value * missouri_2013_df.Sample_Size
Sum = missouri_2013_df['Sum'].sum()
Sum_Size = missouri_2013_df['Sample_Size'].sum()
missouri_2013_df['Sum_Sample_Size'] = Sum_Size
missouri_2013_df['Percentage'] = Sum/Sum_Size
missouri_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
missouri_2013_df=missouri_2013_df.drop(missouri_2013_df.index[1:28])
missouri_2013_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Missouri,2013,MO,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(38.635790776, -92.566300053)",39751.0,30.460436

In [210]:
missouri_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Missouri")]
missouri_2014_df.reset_index(drop=True, inplace=True)
missouri_2014_df['Sum'] = missouri_2014_df.Data_Value * missouri_2014_df.Sample_Size
Sum = missouri_2014_df['Sum'].sum()
Sum_Size = missouri_2014_df['Sample_Size'].sum()
missouri_2014_df['Sum_Sample_Size'] = Sum_Size
missouri_2014_df['Percentage'] = Sum/Sum_Size
missouri_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
missouri_2014_df=missouri_2014_df.drop(missouri_2014_df.index[1:28])
missouri_2014_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Missouri,2014,MO,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(38.635790776, -92.566300053)",40066.0,30.351819

In [211]:
missouri_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Missouri")]
missouri_2015_df.reset_index(drop=True, inplace=True)
missouri_2015_df['Sum'] = missouri_2015_df.Data_Value * missouri_2015_df.Sample_Size
Sum = missouri_2015_df['Sum'].sum()
Sum_Size = missouri_2015_df['Sample_Size'].sum()
missouri_2015_df['Sum_Sample_Size'] = Sum_Size
missouri_2015_df['Percentage'] = Sum/Sum_Size
missouri_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
missouri_2015_df=missouri_2015_df.drop(missouri_2015_df.index[1:28])
missouri_2015_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Missouri,2015,MO,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(38.635790776, -92.566300053)",40434.0,32.328226

In [212]:
missouri_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Missouri")]
missouri_2016_df.reset_index(drop=True, inplace=True)
missouri_2016_df['Sum'] = missouri_2016_df.Data_Value * missouri_2016_df.Sample_Size
Sum = missouri_2016_df['Sum'].sum()
Sum_Size = missouri_2016_df['Sample_Size'].sum()
missouri_2016_df['Sum_Sample_Size'] = Sum_Size
missouri_2016_df['Percentage'] = Sum/Sum_Size
missouri_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
missouri_2016_df=missouri_2016_df.drop(missouri_2016_df.index[1:28])
missouri_2016_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Missouri,2016,MO,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(38.635790776, -92.566300053)",39378.0,31.779146

In [213]:
missouri_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Missouri")]
missouri_2017_df.reset_index(drop=True, inplace=True)
missouri_2017_df['Sum'] = missouri_2017_df.Data_Value * missouri_2017_df.Sample_Size
Sum = missouri_2017_df['Sum'].sum()
Sum_Size = missouri_2017_df['Sample_Size'].sum()
missouri_2017_df['Sum_Sample_Size'] = Sum_Size
missouri_2017_df['Percentage'] = Sum/Sum_Size
missouri_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
missouri_2017_df=missouri_2017_df.drop(missouri_2017_df.index[1:28])
missouri_2017_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Missouri,2017,MO,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(38.635790776, -92.566300053)",41924.0,32.475553

In [214]:
missouri_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Missouri")]
missouri_2018_df.reset_index(drop=True, inplace=True)
missouri_2018_df['Sum'] = missouri_2018_df.Data_Value * missouri_2018_df.Sample_Size
Sum = missouri_2018_df['Sum'].sum()
Sum_Size = missouri_2018_df['Sample_Size'].sum()
missouri_2018_df['Sum_Sample_Size'] = Sum_Size
missouri_2018_df['Percentage'] = Sum/Sum_Size
missouri_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
missouri_2018_df=missouri_2018_df.drop(missouri_2018_df.index[1:28])
missouri_2018_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Missouri,2018,MO,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(38.635790776000476, -92.56630005299968)",34648.0,34.863585

In [215]:
montana_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Montana")]
montana_2011_df.reset_index(drop=True, inplace=True)
montana_2011_df['Sum'] = montana_2011_df.Data_Value * montana_2011_df.Sample_Size
Sum = montana_2011_df['Sum'].sum()
Sum_Size = montana_2011_df['Sample_Size'].sum()
montana_2011_df['Sum_Sample_Size'] = Sum_Size
montana_2011_df['Percentage'] = Sum/Sum_Size
montana_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
montana_2011_df=montana_2011_df.drop(montana_2011_df.index[1:28])
montana_2011_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Montana,2011,MT,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(47.066528972, -109.424420645)",59190.0,24.689603

In [216]:
montana_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Montana")]
montana_2012_df.reset_index(drop=True, inplace=True)
montana_2012_df['Sum'] = montana_2012_df.Data_Value * montana_2012_df.Sample_Size
Sum = montana_2012_df['Sum'].sum()
Sum_Size = montana_2012_df['Sample_Size'].sum()
montana_2012_df['Sum_Sample_Size'] = Sum_Size
montana_2012_df['Percentage'] = Sum/Sum_Size
montana_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
montana_2012_df=montana_2012_df.drop(montana_2012_df.index[1:28])
montana_2012_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Montana,2012,MT,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(47.066528972, -109.424420645)",49933.0,24.345163

In [217]:
montana_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Montana")]
montana_2013_df.reset_index(drop=True, inplace=True)
montana_2013_df['Sum'] = montana_2013_df.Data_Value * montana_2013_df.Sample_Size
Sum = montana_2013_df['Sum'].sum()
Sum_Size = montana_2013_df['Sample_Size'].sum()
montana_2013_df['Sum_Sample_Size'] = Sum_Size
montana_2013_df['Percentage'] = Sum/Sum_Size
montana_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
montana_2013_df=montana_2013_df.drop(montana_2013_df.index[1:28])
montana_2013_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Montana,2013,MT,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(47.066528972, -109.424420645)",55770.0,24.713661

In [218]:
montana_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Montana")]
montana_2014_df.reset_index(drop=True, inplace=True)
montana_2014_df['Sum'] = montana_2014_df.Data_Value * montana_2014_df.Sample_Size
Sum = montana_2014_df['Sum'].sum()
Sum_Size = montana_2014_df['Sample_Size'].sum()
montana_2014_df['Sum_Sample_Size'] = Sum_Size
montana_2014_df['Percentage'] = Sum/Sum_Size
montana_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
montana_2014_df=montana_2014_df.drop(montana_2014_df.index[1:28])
montana_2014_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Montana,2014,MT,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(47.066528972, -109.424420645)",42203.0,26.479817

In [219]:
montana_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Montana")]
montana_2015_df.reset_index(drop=True, inplace=True)
montana_2015_df['Sum'] = montana_2015_df.Data_Value * montana_2015_df.Sample_Size
Sum = montana_2015_df['Sum'].sum()
Sum_Size = montana_2015_df['Sample_Size'].sum()
montana_2015_df['Sum_Sample_Size'] = Sum_Size
montana_2015_df['Percentage'] = Sum/Sum_Size
montana_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
montana_2015_df=montana_2015_df.drop(montana_2015_df.index[1:28])
montana_2015_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Montana,2015,MT,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(47.066528972, -109.424420645)",33240.0,23.710623

In [220]:
montana_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Montana")]
montana_2016_df.reset_index(drop=True, inplace=True)
montana_2016_df['Sum'] = montana_2016_df.Data_Value * montana_2016_df.Sample_Size
Sum = montana_2016_df['Sum'].sum()
Sum_Size = montana_2016_df['Sample_Size'].sum()
montana_2016_df['Sum_Sample_Size'] = Sum_Size
montana_2016_df['Percentage'] = Sum/Sum_Size
montana_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
montana_2016_df=montana_2016_df.drop(montana_2016_df.index[1:28])
montana_2016_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Montana,2016,MT,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(47.066528972, -109.424420645)",32799.0,25.653825

In [221]:
montana_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Montana")]
montana_2017_df.reset_index(drop=True, inplace=True)
montana_2017_df['Sum'] = montana_2017_df.Data_Value * montana_2017_df.Sample_Size
Sum = montana_2017_df['Sum'].sum()
Sum_Size = montana_2017_df['Sample_Size'].sum()
montana_2017_df['Sum_Sample_Size'] = Sum_Size
montana_2017_df['Percentage'] = Sum/Sum_Size
montana_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
montana_2017_df=montana_2017_df.drop(montana_2017_df.index[1:28])
montana_2017_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Montana,2017,MT,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(47.066528972, -109.424420645)",32902.0,25.538958

In [222]:
montana_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Montana")]
montana_2018_df.reset_index(drop=True, inplace=True)
montana_2018_df['Sum'] = montana_2018_df.Data_Value * montana_2018_df.Sample_Size
Sum = montana_2018_df['Sum'].sum()
Sum_Size = montana_2018_df['Sample_Size'].sum()
montana_2018_df['Sum_Sample_Size'] = Sum_Size
montana_2018_df['Percentage'] = Sum/Sum_Size
montana_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
montana_2018_df=montana_2018_df.drop(montana_2018_df.index[1:28])
montana_2018_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Montana,2018,MT,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(47.06652897200047, -109.42442064499971)",28662.0,27.104487

In [223]:
nebraska_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Nebraska")]
nebraska_2011_df.reset_index(drop=True, inplace=True)
nebraska_2011_df['Sum'] = nebraska_2011_df.Data_Value * nebraska_2011_df.Sample_Size
Sum = nebraska_2011_df['Sum'].sum()
Sum_Size = nebraska_2011_df['Sample_Size'].sum()
nebraska_2011_df['Sum_Sample_Size'] = Sum_Size
nebraska_2011_df['Percentage'] = Sum/Sum_Size
nebraska_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
nebraska_2011_df=nebraska_2011_df.drop(nebraska_2011_df.index[1:28])
nebraska_2011_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Nebraska,2011,NE,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(41.641040988001, -99.365720623)",146021.0,28.611735

In [224]:
nebraska_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Nebraska")]
nebraska_2012_df.reset_index(drop=True, inplace=True)
nebraska_2012_df['Sum'] = nebraska_2012_df.Data_Value * nebraska_2012_df.Sample_Size
Sum = nebraska_2012_df['Sum'].sum()
Sum_Size = nebraska_2012_df['Sample_Size'].sum()
nebraska_2012_df['Sum_Sample_Size'] = Sum_Size
nebraska_2012_df['Percentage'] = Sum/Sum_Size
nebraska_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
nebraska_2012_df=nebraska_2012_df.drop(nebraska_2012_df.index[1:28])
nebraska_2012_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Nebraska,2012,NE,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(41.641040988001, -99.365720623)",110127.0,28.805384

In [225]:
nebraska_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Nebraska")]
nebraska_2013_df.reset_index(drop=True, inplace=True)
nebraska_2013_df['Sum'] = nebraska_2013_df.Data_Value * nebraska_2013_df.Sample_Size
Sum = nebraska_2013_df['Sum'].sum()
Sum_Size = nebraska_2013_df['Sample_Size'].sum()
nebraska_2013_df['Sum_Sample_Size'] = Sum_Size
nebraska_2013_df['Percentage'] = Sum/Sum_Size
nebraska_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
nebraska_2013_df=nebraska_2013_df.drop(nebraska_2013_df.index[1:28])
nebraska_2013_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Nebraska,2013,NE,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(41.641040988001, -99.365720623)",97336.0,29.743762

In [226]:
nebraska_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Nebraska")]
nebraska_2014_df.reset_index(drop=True, inplace=True)
nebraska_2014_df['Sum'] = nebraska_2014_df.Data_Value * nebraska_2014_df.Sample_Size
Sum = nebraska_2014_df['Sum'].sum()
Sum_Size = nebraska_2014_df['Sample_Size'].sum()
nebraska_2014_df['Sum_Sample_Size'] = Sum_Size
nebraska_2014_df['Percentage'] = Sum/Sum_Size
nebraska_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
nebraska_2014_df=nebraska_2014_df.drop(nebraska_2014_df.index[1:28])
nebraska_2014_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Nebraska,2014,NE,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(41.641040988001, -99.365720623)",126550.0,30.267096

In [227]:
nebraska_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Nebraska")]
nebraska_2015_df.reset_index(drop=True, inplace=True)
nebraska_2015_df['Sum'] = nebraska_2015_df.Data_Value * nebraska_2015_df.Sample_Size
Sum = nebraska_2015_df['Sum'].sum()
Sum_Size = nebraska_2015_df['Sample_Size'].sum()
nebraska_2015_df['Sum_Sample_Size'] = Sum_Size
nebraska_2015_df['Percentage'] = Sum/Sum_Size
nebraska_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
nebraska_2015_df=nebraska_2015_df.drop(nebraska_2015_df.index[1:28])
nebraska_2015_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Nebraska,2015,NE,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(41.641040988001, -99.365720623)",97418.0,31.626023

In [228]:
nebraska_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Nebraska")]
nebraska_2016_df.reset_index(drop=True, inplace=True)
nebraska_2016_df['Sum'] = nebraska_2016_df.Data_Value * nebraska_2016_df.Sample_Size
Sum = nebraska_2016_df['Sum'].sum()
Sum_Size = nebraska_2016_df['Sample_Size'].sum()
nebraska_2016_df['Sum_Sample_Size'] = Sum_Size
nebraska_2016_df['Percentage'] = Sum/Sum_Size
nebraska_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
nebraska_2016_df=nebraska_2016_df.drop(nebraska_2016_df.index[1:28])
nebraska_2016_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Nebraska,2016,NE,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(41.641040988001, -99.365720623)",84910.0,32.121377

In [229]:
nebraska_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Nebraska")]
nebraska_2017_df.reset_index(drop=True, inplace=True)
nebraska_2017_df['Sum'] = nebraska_2017_df.Data_Value * nebraska_2017_df.Sample_Size
Sum = nebraska_2017_df['Sum'].sum()
Sum_Size = nebraska_2017_df['Sample_Size'].sum()
nebraska_2017_df['Sum_Sample_Size'] = Sum_Size
nebraska_2017_df['Percentage'] = Sum/Sum_Size
nebraska_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
nebraska_2017_df=nebraska_2017_df.drop(nebraska_2017_df.index[1:28])
nebraska_2017_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Nebraska,2017,NE,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(41.641040988001, -99.365720623)",85832.0,32.937089

In [230]:
nebraska_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Nebraska")]
nebraska_2018_df.reset_index(drop=True, inplace=True)
nebraska_2018_df['Sum'] = nebraska_2018_df.Data_Value * nebraska_2018_df.Sample_Size
Sum = nebraska_2018_df['Sum'].sum()
Sum_Size = nebraska_2018_df['Sample_Size'].sum()
nebraska_2018_df['Sum_Sample_Size'] = Sum_Size
nebraska_2018_df['Percentage'] = Sum/Sum_Size
nebraska_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
nebraska_2018_df=nebraska_2018_df.drop(nebraska_2018_df.index[1:28])
nebraska_2018_df

,Location,Year,LocationAbbr,Topic,Question,GeoLocation,Sum_Sample_Size,Percentage
0,Nebraska,2018,NE,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,"(41.6410409880005, -99.36572062299967)",81848.0,34.305125

In [231]:
nevada_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Nevada")]
nevada_2011_df.reset_index(drop=True, inplace=True)
nevada_2011_df['Sum'] = nevada_2011_df.Data_Value * nevada_2011_df.Sample_Size
Sum = nevada_2011_df['Sum'].sum()
Sum_Size = nevada_2011_df['Sample_Size'].sum()
nevada_2011_df['Sum_Sample_Size'] = Sum_Size
nevada_2011_df['Percentage'] = Sum/Sum_Size
nevada_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
nevada_2011_df=nevada_2011_df.drop(nevada_2011_df.index[1:28])

nevada_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Nevada")]
nevada_2012_df.reset_index(drop=True, inplace=True)
nevada_2012_df['Sum'] = nevada_2012_df.Data_Value * nevada_2012_df.Sample_Size
Sum = nevada_2012_df['Sum'].sum()
Sum_Size = nevada_2012_df['Sample_Size'].sum()
nevada_2012_df['Sum_Sample_Size'] = Sum_Size
nevada_2012_df['Percentage'] = Sum/Sum_Size
nevada_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
nevada_2012_df=nevada_2012_df.drop(nevada_2012_df.index[1:28])

nevada_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Nevada")]
nevada_2013_df.reset_index(drop=True, inplace=True)
nevada_2013_df['Sum'] = nevada_2013_df.Data_Value * nevada_2013_df.Sample_Size
Sum = nevada_2013_df['Sum'].sum()
Sum_Size = nevada_2013_df['Sample_Size'].sum()
nevada_2013_df['Sum_Sample_Size'] = Sum_Size
nevada_2013_df['Percentage'] = Sum/Sum_Size
nevada_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
nevada_2013_df=nevada_2013_df.drop(nevada_2013_df.index[1:28])

nevada_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Nevada")]
nevada_2014_df.reset_index(drop=True, inplace=True)
nevada_2014_df['Sum'] = nevada_2014_df.Data_Value * nevada_2014_df.Sample_Size
Sum = nevada_2014_df['Sum'].sum()
Sum_Size = nevada_2014_df['Sample_Size'].sum()
nevada_2014_df['Sum_Sample_Size'] = Sum_Size
nevada_2014_df['Percentage'] = Sum/Sum_Size
nevada_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
nevada_2014_df=nevada_2014_df.drop(nevada_2014_df.index[1:28])

nevada_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Nevada")]
nevada_2015_df.reset_index(drop=True, inplace=True)
nevada_2015_df['Sum'] = nevada_2015_df.Data_Value * nevada_2015_df.Sample_Size
Sum = nevada_2015_df['Sum'].sum()
Sum_Size = nevada_2015_df['Sample_Size'].sum()
nevada_2015_df['Sum_Sample_Size'] = Sum_Size
nevada_2015_df['Percentage'] = Sum/Sum_Size
nevada_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
nevada_2015_df=nevada_2015_df.drop(nevada_2015_df.index[1:28])

nevada_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Nevada")]
nevada_2016_df.reset_index(drop=True, inplace=True)
nevada_2016_df['Sum'] = nevada_2016_df.Data_Value * nevada_2016_df.Sample_Size
Sum = nevada_2016_df['Sum'].sum()
Sum_Size = nevada_2016_df['Sample_Size'].sum()
nevada_2016_df['Sum_Sample_Size'] = Sum_Size
nevada_2016_df['Percentage'] = Sum/Sum_Size
nevada_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
nevada_2016_df=nevada_2016_df.drop(nevada_2016_df.index[1:28])

nevada_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Nevada")]
nevada_2017_df.reset_index(drop=True, inplace=True)
nevada_2017_df['Sum'] = nevada_2017_df.Data_Value * nevada_2017_df.Sample_Size
Sum = nevada_2017_df['Sum'].sum()
Sum_Size = nevada_2017_df['Sample_Size'].sum()
nevada_2017_df['Sum_Sample_Size'] = Sum_Size
nevada_2017_df['Percentage'] = Sum/Sum_Size
nevada_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
nevada_2017_df=nevada_2017_df.drop(nevada_2017_df.index[1:28])

nevada_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Nevada")]
nevada_2018_df.reset_index(drop=True, inplace=True)
nevada_2018_df['Sum'] = nevada_2018_df.Data_Value * nevada_2018_df.Sample_Size
Sum = nevada_2018_df['Sum'].sum()
Sum_Size = nevada_2018_df['Sample_Size'].sum()
nevada_2018_df['Sum_Sample_Size'] = Sum_Size
nevada_2018_df['Percentage'] = Sum/Sum_Size
nevada_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
nevada_2018_df=nevada_2018_df.drop(nevada_2018_df.index[1:28])

In [232]:
new_hampshire_2011_df = year_2011_df[year_2011_df['Location'].str.contains("New Hampshire")]
new_hampshire_2011_df.reset_index(drop=True, inplace=True)
new_hampshire_2011_df['Sum'] = new_hampshire_2011_df.Data_Value * new_hampshire_2011_df.Sample_Size
Sum = new_hampshire_2011_df['Sum'].sum()
Sum_Size = new_hampshire_2011_df['Sample_Size'].sum()
new_hampshire_2011_df['Sum_Sample_Size'] = Sum_Size
new_hampshire_2011_df['Percentage'] = Sum/Sum_Size
new_hampshire_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_hampshire_2011_df=new_hampshire_2011_df.drop(new_hampshire_2011_df.index[1:28])

new_hampshire_2012_df = year_2012_df[year_2012_df['Location'].str.contains("New Hampshire")]
new_hampshire_2012_df.reset_index(drop=True, inplace=True)
new_hampshire_2012_df['Sum'] = new_hampshire_2012_df.Data_Value * new_hampshire_2012_df.Sample_Size
Sum = new_hampshire_2012_df['Sum'].sum()
Sum_Size = new_hampshire_2012_df['Sample_Size'].sum()
new_hampshire_2012_df['Sum_Sample_Size'] = Sum_Size
new_hampshire_2012_df['Percentage'] = Sum/Sum_Size
new_hampshire_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_hampshire_2012_df=new_hampshire_2012_df.drop(new_hampshire_2012_df.index[1:28])

new_hampshire_2013_df = year_2013_df[year_2013_df['Location'].str.contains("New Hampshire")]
new_hampshire_2013_df.reset_index(drop=True, inplace=True)
new_hampshire_2013_df['Sum'] = new_hampshire_2013_df.Data_Value * new_hampshire_2013_df.Sample_Size
Sum = new_hampshire_2013_df['Sum'].sum()
Sum_Size = new_hampshire_2013_df['Sample_Size'].sum()
new_hampshire_2013_df['Sum_Sample_Size'] = Sum_Size
new_hampshire_2013_df['Percentage'] = Sum/Sum_Size
new_hampshire_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_hampshire_2013_df=new_hampshire_2013_df.drop(new_hampshire_2013_df.index[1:28])

new_hampshire_2014_df = year_2014_df[year_2014_df['Location'].str.contains("New Hampshire")]
new_hampshire_2014_df.reset_index(drop=True, inplace=True)
new_hampshire_2014_df['Sum'] = new_hampshire_2014_df.Data_Value * new_hampshire_2014_df.Sample_Size
Sum = new_hampshire_2014_df['Sum'].sum()
Sum_Size = new_hampshire_2014_df['Sample_Size'].sum()
new_hampshire_2014_df['Sum_Sample_Size'] = Sum_Size
new_hampshire_2014_df['Percentage'] = Sum/Sum_Size
new_hampshire_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_hampshire_2014_df=new_hampshire_2014_df.drop(new_hampshire_2014_df.index[1:28])

new_hampshire_2015_df = year_2015_df[year_2015_df['Location'].str.contains("New Hampshire")]
new_hampshire_2015_df.reset_index(drop=True, inplace=True)
new_hampshire_2015_df['Sum'] = new_hampshire_2015_df.Data_Value * new_hampshire_2015_df.Sample_Size
Sum = new_hampshire_2015_df['Sum'].sum()
Sum_Size = new_hampshire_2015_df['Sample_Size'].sum()
new_hampshire_2015_df['Sum_Sample_Size'] = Sum_Size
new_hampshire_2015_df['Percentage'] = Sum/Sum_Size
new_hampshire_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_hampshire_2015_df=new_hampshire_2015_df.drop(new_hampshire_2015_df.index[1:28])

new_hampshire_2016_df = year_2016_df[year_2016_df['Location'].str.contains("New Hampshire")]
new_hampshire_2016_df.reset_index(drop=True, inplace=True)
new_hampshire_2016_df['Sum'] = new_hampshire_2016_df.Data_Value * new_hampshire_2016_df.Sample_Size
Sum = new_hampshire_2016_df['Sum'].sum()
Sum_Size = new_hampshire_2016_df['Sample_Size'].sum()
new_hampshire_2016_df['Sum_Sample_Size'] = Sum_Size
new_hampshire_2016_df['Percentage'] = Sum/Sum_Size
new_hampshire_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_hampshire_2016_df=new_hampshire_2016_df.drop(new_hampshire_2016_df.index[1:28])

new_hampshire_2017_df = year_2017_df[year_2017_df['Location'].str.contains("New Hampshire")]
new_hampshire_2017_df.reset_index(drop=True, inplace=True)
new_hampshire_2017_df['Sum'] = new_hampshire_2017_df.Data_Value * new_hampshire_2017_df.Sample_Size
Sum = new_hampshire_2017_df['Sum'].sum()
Sum_Size = new_hampshire_2017_df['Sample_Size'].sum()
new_hampshire_2017_df['Sum_Sample_Size'] = Sum_Size
new_hampshire_2017_df['Percentage'] = Sum/Sum_Size
new_hampshire_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_hampshire_2017_df=new_hampshire_2017_df.drop(new_hampshire_2017_df.index[1:28])

new_hampshire_2018_df = year_2018_df[year_2018_df['Location'].str.contains("New Hampshire")]
new_hampshire_2018_df.reset_index(drop=True, inplace=True)
new_hampshire_2018_df['Sum'] = new_hampshire_2018_df.Data_Value * new_hampshire_2018_df.Sample_Size
Sum = new_hampshire_2018_df['Sum'].sum()
Sum_Size = new_hampshire_2018_df['Sample_Size'].sum()
new_hampshire_2018_df['Sum_Sample_Size'] = Sum_Size
new_hampshire_2018_df['Percentage'] = Sum/Sum_Size
new_hampshire_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_hampshire_2018_df=new_hampshire_2018_df.drop(new_hampshire_2018_df.index[1:28])

In [233]:
new_jersey_2011_df = year_2011_df[year_2011_df['Location'].str.contains("New Jersey")]
new_jersey_2011_df.reset_index(drop=True, inplace=True)
new_jersey_2011_df['Sum'] = new_jersey_2011_df.Data_Value * new_jersey_2011_df.Sample_Size
Sum = new_jersey_2011_df['Sum'].sum()
Sum_Size = new_jersey_2011_df['Sample_Size'].sum()
new_jersey_2011_df['Sum_Sample_Size'] = Sum_Size
new_jersey_2011_df['Percentage'] = Sum/Sum_Size
new_jersey_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_jersey_2011_df=new_jersey_2011_df.drop(new_jersey_2011_df.index[1:28])

new_jersey_2012_df = year_2012_df[year_2012_df['Location'].str.contains("New Jersey")]
new_jersey_2012_df.reset_index(drop=True, inplace=True)
new_jersey_2012_df['Sum'] = new_jersey_2012_df.Data_Value * new_jersey_2012_df.Sample_Size
Sum = new_jersey_2012_df['Sum'].sum()
Sum_Size = new_jersey_2012_df['Sample_Size'].sum()
new_jersey_2012_df['Sum_Sample_Size'] = Sum_Size
new_jersey_2012_df['Percentage'] = Sum/Sum_Size
new_jersey_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_jersey_2012_df=new_jersey_2012_df.drop(new_jersey_2012_df.index[1:28])

new_jersey_2013_df = year_2013_df[year_2013_df['Location'].str.contains("New Jersey")]
new_jersey_2013_df.reset_index(drop=True, inplace=True)
new_jersey_2013_df['Sum'] = new_jersey_2013_df.Data_Value * new_jersey_2013_df.Sample_Size
Sum = new_jersey_2013_df['Sum'].sum()
Sum_Size = new_jersey_2013_df['Sample_Size'].sum()
new_jersey_2013_df['Sum_Sample_Size'] = Sum_Size
new_jersey_2013_df['Percentage'] = Sum/Sum_Size
new_jersey_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_jersey_2013_df=new_jersey_2013_df.drop(new_jersey_2013_df.index[1:28])

new_jersey_2014_df = year_2014_df[year_2014_df['Location'].str.contains("New Jersey")]
new_jersey_2014_df.reset_index(drop=True, inplace=True)
new_jersey_2014_df['Sum'] = new_jersey_2014_df.Data_Value * new_jersey_2014_df.Sample_Size
Sum = new_jersey_2014_df['Sum'].sum()
Sum_Size = new_jersey_2014_df['Sample_Size'].sum()
new_jersey_2014_df['Sum_Sample_Size'] = Sum_Size
new_jersey_2014_df['Percentage'] = Sum/Sum_Size
new_jersey_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_jersey_2014_df=new_jersey_2014_df.drop(new_jersey_2014_df.index[1:28])

new_jersey_2015_df = year_2015_df[year_2015_df['Location'].str.contains("New Jersey")]
new_jersey_2015_df.reset_index(drop=True, inplace=True)
new_jersey_2015_df['Sum'] = new_jersey_2015_df.Data_Value * new_jersey_2015_df.Sample_Size
Sum = new_jersey_2015_df['Sum'].sum()
Sum_Size = new_jersey_2015_df['Sample_Size'].sum()
new_jersey_2015_df['Sum_Sample_Size'] = Sum_Size
new_jersey_2015_df['Percentage'] = Sum/Sum_Size
new_jersey_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_jersey_2015_df=new_jersey_2015_df.drop(new_jersey_2015_df.index[1:28])

new_jersey_2016_df = year_2016_df[year_2016_df['Location'].str.contains("New Jersey")]
new_jersey_2016_df.reset_index(drop=True, inplace=True)
new_jersey_2016_df['Sum'] = new_jersey_2016_df.Data_Value * new_jersey_2016_df.Sample_Size
Sum = new_jersey_2016_df['Sum'].sum()
Sum_Size = new_jersey_2016_df['Sample_Size'].sum()
new_jersey_2016_df['Sum_Sample_Size'] = Sum_Size
new_jersey_2016_df['Percentage'] = Sum/Sum_Size
new_jersey_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_jersey_2016_df=new_jersey_2016_df.drop(new_jersey_2016_df.index[1:28])

new_jersey_2017_df = year_2017_df[year_2017_df['Location'].str.contains("New Jersey")]
new_jersey_2017_df.reset_index(drop=True, inplace=True)
new_jersey_2017_df['Sum'] = new_jersey_2017_df.Data_Value * new_jersey_2017_df.Sample_Size
Sum = new_jersey_2017_df['Sum'].sum()
Sum_Size = new_jersey_2017_df['Sample_Size'].sum()
new_jersey_2017_df['Sum_Sample_Size'] = Sum_Size
new_jersey_2017_df['Percentage'] = Sum/Sum_Size
new_jersey_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_jersey_2017_df=new_jersey_2017_df.drop(new_jersey_2017_df.index[1:28])

new_jersey_2018_df = year_2018_df[year_2018_df['Location'].str.contains("New Jersey")]
new_jersey_2018_df.reset_index(drop=True, inplace=True)
new_jersey_2018_df['Sum'] = new_jersey_2018_df.Data_Value * new_jersey_2018_df.Sample_Size
Sum = new_jersey_2018_df['Sum'].sum()
Sum_Size = new_jersey_2018_df['Sample_Size'].sum()
new_jersey_2018_df['Sum_Sample_Size'] = Sum_Size
new_jersey_2018_df['Percentage'] = Sum/Sum_Size
new_jersey_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_jersey_2018_df=new_jersey_2018_df.drop(new_jersey_2018_df.index[1:28])

In [234]:
new_mexico_2011_df = year_2011_df[year_2011_df['Location'].str.contains("New Mexico")]
new_mexico_2011_df.reset_index(drop=True, inplace=True)
new_mexico_2011_df['Sum'] = new_mexico_2011_df.Data_Value * new_mexico_2011_df.Sample_Size
Sum = new_mexico_2011_df['Sum'].sum()
Sum_Size = new_mexico_2011_df['Sample_Size'].sum()
new_mexico_2011_df['Sum_Sample_Size'] = Sum_Size
new_mexico_2011_df['Percentage'] = Sum/Sum_Size
new_mexico_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_mexico_2011_df=new_mexico_2011_df.drop(new_mexico_2011_df.index[1:28])

new_mexico_2012_df = year_2012_df[year_2012_df['Location'].str.contains("New Mexico")]
new_mexico_2012_df.reset_index(drop=True, inplace=True)
new_mexico_2012_df['Sum'] = new_mexico_2012_df.Data_Value * new_mexico_2012_df.Sample_Size
Sum = new_mexico_2012_df['Sum'].sum()
Sum_Size = new_mexico_2012_df['Sample_Size'].sum()
new_mexico_2012_df['Sum_Sample_Size'] = Sum_Size
new_mexico_2012_df['Percentage'] = Sum/Sum_Size
new_mexico_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_mexico_2012_df=new_mexico_2012_df.drop(new_mexico_2012_df.index[1:28])

new_mexico_2013_df = year_2013_df[year_2013_df['Location'].str.contains("New Mexico")]
new_mexico_2013_df.reset_index(drop=True, inplace=True)
new_mexico_2013_df['Sum'] = new_mexico_2013_df.Data_Value * new_mexico_2013_df.Sample_Size
Sum = new_mexico_2013_df['Sum'].sum()
Sum_Size = new_mexico_2013_df['Sample_Size'].sum()
new_mexico_2013_df['Sum_Sample_Size'] = Sum_Size
new_mexico_2013_df['Percentage'] = Sum/Sum_Size
new_mexico_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_mexico_2013_df=new_mexico_2013_df.drop(new_mexico_2013_df.index[1:28])

new_mexico_2014_df = year_2014_df[year_2014_df['Location'].str.contains("New Mexico")]
new_mexico_2014_df.reset_index(drop=True, inplace=True)
new_mexico_2014_df['Sum'] = new_mexico_2014_df.Data_Value * new_mexico_2014_df.Sample_Size
Sum = new_mexico_2014_df['Sum'].sum()
Sum_Size = new_mexico_2014_df['Sample_Size'].sum()
new_mexico_2014_df['Sum_Sample_Size'] = Sum_Size
new_mexico_2014_df['Percentage'] = Sum/Sum_Size
new_mexico_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_mexico_2014_df=new_mexico_2014_df.drop(new_mexico_2014_df.index[1:28])

new_mexico_2015_df = year_2015_df[year_2015_df['Location'].str.contains("New Mexico")]
new_mexico_2015_df.reset_index(drop=True, inplace=True)
new_mexico_2015_df['Sum'] = new_mexico_2015_df.Data_Value * new_mexico_2015_df.Sample_Size
Sum = new_mexico_2015_df['Sum'].sum()
Sum_Size = new_mexico_2015_df['Sample_Size'].sum()
new_mexico_2015_df['Sum_Sample_Size'] = Sum_Size
new_mexico_2015_df['Percentage'] = Sum/Sum_Size
new_mexico_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_mexico_2015_df=new_mexico_2015_df.drop(new_mexico_2015_df.index[1:28])

new_mexico_2016_df = year_2016_df[year_2016_df['Location'].str.contains("New Mexico")]
new_mexico_2016_df.reset_index(drop=True, inplace=True)
new_mexico_2016_df['Sum'] = new_mexico_2016_df.Data_Value * new_mexico_2016_df.Sample_Size
Sum = new_mexico_2016_df['Sum'].sum()
Sum_Size = new_mexico_2016_df['Sample_Size'].sum()
new_mexico_2016_df['Sum_Sample_Size'] = Sum_Size
new_mexico_2016_df['Percentage'] = Sum/Sum_Size
new_mexico_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_mexico_2016_df=new_mexico_2016_df.drop(new_mexico_2016_df.index[1:28])

new_mexico_2017_df = year_2017_df[year_2017_df['Location'].str.contains("New Mexico")]
new_mexico_2017_df.reset_index(drop=True, inplace=True)
new_mexico_2017_df['Sum'] = new_mexico_2017_df.Data_Value * new_mexico_2017_df.Sample_Size
Sum = new_mexico_2017_df['Sum'].sum()
Sum_Size = new_mexico_2017_df['Sample_Size'].sum()
new_mexico_2017_df['Sum_Sample_Size'] = Sum_Size
new_mexico_2017_df['Percentage'] = Sum/Sum_Size
new_mexico_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_mexico_2017_df=new_mexico_2017_df.drop(new_mexico_2017_df.index[1:28])

new_mexico_2018_df = year_2018_df[year_2018_df['Location'].str.contains("New Mexico")]
new_mexico_2018_df.reset_index(drop=True, inplace=True)
new_mexico_2018_df['Sum'] = new_mexico_2018_df.Data_Value * new_mexico_2018_df.Sample_Size
Sum = new_mexico_2018_df['Sum'].sum()
Sum_Size = new_mexico_2018_df['Sample_Size'].sum()
new_mexico_2018_df['Sum_Sample_Size'] = Sum_Size
new_mexico_2018_df['Percentage'] = Sum/Sum_Size
new_mexico_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_mexico_2018_df=new_mexico_2018_df.drop(new_mexico_2018_df.index[1:28])

In [235]:
new_york_2011_df = year_2011_df[year_2011_df['Location'].str.contains("New York")]
new_york_2011_df.reset_index(drop=True, inplace=True)
new_york_2011_df['Sum'] = new_york_2011_df.Data_Value * new_york_2011_df.Sample_Size
Sum = new_york_2011_df['Sum'].sum()
Sum_Size = new_york_2011_df['Sample_Size'].sum()
new_york_2011_df['Sum_Sample_Size'] = Sum_Size
new_york_2011_df['Percentage'] = Sum/Sum_Size
new_york_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_york_2011_df=new_york_2011_df.drop(new_york_2011_df.index[1:28])

new_york_2012_df = year_2012_df[year_2012_df['Location'].str.contains("New York")]
new_york_2012_df.reset_index(drop=True, inplace=True)
new_york_2012_df['Sum'] = new_york_2012_df.Data_Value * new_york_2012_df.Sample_Size
Sum = new_york_2012_df['Sum'].sum()
Sum_Size = new_york_2012_df['Sample_Size'].sum()
new_york_2012_df['Sum_Sample_Size'] = Sum_Size
new_york_2012_df['Percentage'] = Sum/Sum_Size
new_york_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_york_2012_df=new_york_2012_df.drop(new_york_2012_df.index[1:28])

new_york_2013_df = year_2013_df[year_2013_df['Location'].str.contains("New York")]
new_york_2013_df.reset_index(drop=True, inplace=True)
new_york_2013_df['Sum'] = new_york_2013_df.Data_Value * new_york_2013_df.Sample_Size
Sum = new_york_2013_df['Sum'].sum()
Sum_Size = new_york_2013_df['Sample_Size'].sum()
new_york_2013_df['Sum_Sample_Size'] = Sum_Size
new_york_2013_df['Percentage'] = Sum/Sum_Size
new_york_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_york_2013_df=new_york_2013_df.drop(new_york_2013_df.index[1:28])

new_york_2014_df = year_2014_df[year_2014_df['Location'].str.contains("New York")]
new_york_2014_df.reset_index(drop=True, inplace=True)
new_york_2014_df['Sum'] = new_york_2014_df.Data_Value * new_york_2014_df.Sample_Size
Sum = new_york_2014_df['Sum'].sum()
Sum_Size = new_york_2014_df['Sample_Size'].sum()
new_york_2014_df['Sum_Sample_Size'] = Sum_Size
new_york_2014_df['Percentage'] = Sum/Sum_Size
new_york_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_york_2014_df=new_york_2014_df.drop(new_york_2014_df.index[1:28])

new_york_2015_df = year_2015_df[year_2015_df['Location'].str.contains("New York")]
new_york_2015_df.reset_index(drop=True, inplace=True)
new_york_2015_df['Sum'] = new_york_2015_df.Data_Value * new_york_2015_df.Sample_Size
Sum = new_york_2015_df['Sum'].sum()
Sum_Size = new_york_2015_df['Sample_Size'].sum()
new_york_2015_df['Sum_Sample_Size'] = Sum_Size
new_york_2015_df['Percentage'] = Sum/Sum_Size
new_york_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_york_2015_df=new_york_2015_df.drop(new_york_2015_df.index[1:28])

new_york_2016_df = year_2016_df[year_2016_df['Location'].str.contains("New York")]
new_york_2016_df.reset_index(drop=True, inplace=True)
new_york_2016_df['Sum'] = new_york_2016_df.Data_Value * new_york_2016_df.Sample_Size
Sum = new_york_2016_df['Sum'].sum()
Sum_Size = new_york_2016_df['Sample_Size'].sum()
new_york_2016_df['Sum_Sample_Size'] = Sum_Size
new_york_2016_df['Percentage'] = Sum/Sum_Size
new_york_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_york_2016_df=new_york_2016_df.drop(new_york_2016_df.index[1:28])

new_york_2017_df = year_2017_df[year_2017_df['Location'].str.contains("New York")]
new_york_2017_df.reset_index(drop=True, inplace=True)
new_york_2017_df['Sum'] = new_york_2017_df.Data_Value * new_york_2017_df.Sample_Size
Sum = new_york_2017_df['Sum'].sum()
Sum_Size = new_york_2017_df['Sample_Size'].sum()
new_york_2017_df['Sum_Sample_Size'] = Sum_Size
new_york_2017_df['Percentage'] = Sum/Sum_Size
new_york_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_york_2017_df=new_york_2017_df.drop(new_york_2017_df.index[1:28])

new_york_2018_df = year_2018_df[year_2018_df['Location'].str.contains("New York")]
new_york_2018_df.reset_index(drop=True, inplace=True)
new_york_2018_df['Sum'] = new_york_2018_df.Data_Value * new_york_2018_df.Sample_Size
Sum = new_york_2018_df['Sum'].sum()
Sum_Size = new_york_2018_df['Sample_Size'].sum()
new_york_2018_df['Sum_Sample_Size'] = Sum_Size
new_york_2018_df['Percentage'] = Sum/Sum_Size
new_york_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
new_york_2018_df=new_york_2018_df.drop(new_york_2018_df.index[1:28])

In [236]:
north_carolina_2011_df = year_2011_df[year_2011_df['Location'].str.contains("North Carolina")]
north_carolina_2011_df.reset_index(drop=True, inplace=True)
north_carolina_2011_df['Sum'] = north_carolina_2011_df.Data_Value * north_carolina_2011_df.Sample_Size
Sum = north_carolina_2011_df['Sum'].sum()
Sum_Size = north_carolina_2011_df['Sample_Size'].sum()
north_carolina_2011_df['Sum_Sample_Size'] = Sum_Size
north_carolina_2011_df['Percentage'] = Sum/Sum_Size
north_carolina_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
north_carolina_2011_df=north_carolina_2011_df.drop(north_carolina_2011_df.index[1:28])

north_carolina_2012_df = year_2012_df[year_2012_df['Location'].str.contains("North Carolina")]
north_carolina_2012_df.reset_index(drop=True, inplace=True)
north_carolina_2012_df['Sum'] = north_carolina_2012_df.Data_Value * north_carolina_2012_df.Sample_Size
Sum = north_carolina_2012_df['Sum'].sum()
Sum_Size = north_carolina_2012_df['Sample_Size'].sum()
north_carolina_2012_df['Sum_Sample_Size'] = Sum_Size
north_carolina_2012_df['Percentage'] = Sum/Sum_Size
north_carolina_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
north_carolina_2012_df=north_carolina_2012_df.drop(north_carolina_2012_df.index[1:28])

north_carolina_2013_df = year_2013_df[year_2013_df['Location'].str.contains("North Carolina")]
north_carolina_2013_df.reset_index(drop=True, inplace=True)
north_carolina_2013_df['Sum'] = north_carolina_2013_df.Data_Value * north_carolina_2013_df.Sample_Size
Sum = north_carolina_2013_df['Sum'].sum()
Sum_Size = north_carolina_2013_df['Sample_Size'].sum()
north_carolina_2013_df['Sum_Sample_Size'] = Sum_Size
north_carolina_2013_df['Percentage'] = Sum/Sum_Size
north_carolina_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
north_carolina_2013_df=north_carolina_2013_df.drop(north_carolina_2013_df.index[1:28])

north_carolina_2014_df = year_2014_df[year_2014_df['Location'].str.contains("North Carolina")]
north_carolina_2014_df.reset_index(drop=True, inplace=True)
north_carolina_2014_df['Sum'] = north_carolina_2014_df.Data_Value * north_carolina_2014_df.Sample_Size
Sum = north_carolina_2014_df['Sum'].sum()
Sum_Size = north_carolina_2014_df['Sample_Size'].sum()
north_carolina_2014_df['Sum_Sample_Size'] = Sum_Size
north_carolina_2014_df['Percentage'] = Sum/Sum_Size
north_carolina_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
north_carolina_2014_df=north_carolina_2014_df.drop(north_carolina_2014_df.index[1:28])

north_carolina_2015_df = year_2015_df[year_2015_df['Location'].str.contains("North Carolina")]
north_carolina_2015_df.reset_index(drop=True, inplace=True)
north_carolina_2015_df['Sum'] = north_carolina_2015_df.Data_Value * north_carolina_2015_df.Sample_Size
Sum = north_carolina_2015_df['Sum'].sum()
Sum_Size = north_carolina_2015_df['Sample_Size'].sum()
north_carolina_2015_df['Sum_Sample_Size'] = Sum_Size
north_carolina_2015_df['Percentage'] = Sum/Sum_Size
north_carolina_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
north_carolina_2015_df=north_carolina_2015_df.drop(north_carolina_2015_df.index[1:28])

north_carolina_2016_df = year_2016_df[year_2016_df['Location'].str.contains("North Carolina")]
north_carolina_2016_df.reset_index(drop=True, inplace=True)
north_carolina_2016_df['Sum'] = north_carolina_2016_df.Data_Value * north_carolina_2016_df.Sample_Size
Sum = north_carolina_2016_df['Sum'].sum()
Sum_Size = north_carolina_2016_df['Sample_Size'].sum()
north_carolina_2016_df['Sum_Sample_Size'] = Sum_Size
north_carolina_2016_df['Percentage'] = Sum/Sum_Size
north_carolina_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
north_carolina_2016_df=north_carolina_2016_df.drop(north_carolina_2016_df.index[1:28])

north_carolina_2017_df = year_2017_df[year_2017_df['Location'].str.contains("North Carolina")]
north_carolina_2017_df.reset_index(drop=True, inplace=True)
north_carolina_2017_df['Sum'] = north_carolina_2017_df.Data_Value * north_carolina_2017_df.Sample_Size
Sum = north_carolina_2017_df['Sum'].sum()
Sum_Size = north_carolina_2017_df['Sample_Size'].sum()
north_carolina_2017_df['Sum_Sample_Size'] = Sum_Size
north_carolina_2017_df['Percentage'] = Sum/Sum_Size
north_carolina_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
north_carolina_2017_df=north_carolina_2017_df.drop(north_carolina_2017_df.index[1:28])

north_carolina_2018_df = year_2018_df[year_2018_df['Location'].str.contains("North Carolina")]
north_carolina_2018_df.reset_index(drop=True, inplace=True)
north_carolina_2018_df['Sum'] = north_carolina_2018_df.Data_Value * north_carolina_2018_df.Sample_Size
Sum = north_carolina_2018_df['Sum'].sum()
Sum_Size = north_carolina_2018_df['Sample_Size'].sum()
north_carolina_2018_df['Sum_Sample_Size'] = Sum_Size
north_carolina_2018_df['Percentage'] = Sum/Sum_Size
north_carolina_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
north_carolina_2018_df=north_carolina_2018_df.drop(north_carolina_2018_df.index[1:28])

In [237]:
north_dakota_2011_df = year_2011_df[year_2011_df['Location'].str.contains("North Dakota")]
north_dakota_2011_df.reset_index(drop=True, inplace=True)
north_dakota_2011_df['Sum'] = north_dakota_2011_df.Data_Value * north_dakota_2011_df.Sample_Size
Sum = north_dakota_2011_df['Sum'].sum()
Sum_Size = north_dakota_2011_df['Sample_Size'].sum()
north_dakota_2011_df['Sum_Sample_Size'] = Sum_Size
north_dakota_2011_df['Percentage'] = Sum/Sum_Size
north_dakota_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
north_dakota_2011_df=north_dakota_2011_df.drop(north_dakota_2011_df.index[1:28])

north_dakota_2012_df = year_2012_df[year_2012_df['Location'].str.contains("North Dakota")]
north_dakota_2012_df.reset_index(drop=True, inplace=True)
north_dakota_2012_df['Sum'] = north_dakota_2012_df.Data_Value * north_dakota_2012_df.Sample_Size
Sum = north_dakota_2012_df['Sum'].sum()
Sum_Size = north_dakota_2012_df['Sample_Size'].sum()
north_dakota_2012_df['Sum_Sample_Size'] = Sum_Size
north_dakota_2012_df['Percentage'] = Sum/Sum_Size
north_dakota_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
north_dakota_2012_df=north_dakota_2012_df.drop(north_dakota_2012_df.index[1:28])

north_dakota_2013_df = year_2013_df[year_2013_df['Location'].str.contains("North Dakota")]
north_dakota_2013_df.reset_index(drop=True, inplace=True)
north_dakota_2013_df['Sum'] = north_dakota_2013_df.Data_Value * north_dakota_2013_df.Sample_Size
Sum = north_dakota_2013_df['Sum'].sum()
Sum_Size = north_dakota_2013_df['Sample_Size'].sum()
north_dakota_2013_df['Sum_Sample_Size'] = Sum_Size
north_dakota_2013_df['Percentage'] = Sum/Sum_Size
north_dakota_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
north_dakota_2013_df=north_dakota_2013_df.drop(north_dakota_2013_df.index[1:28])

north_dakota_2014_df = year_2014_df[year_2014_df['Location'].str.contains("North Dakota")]
north_dakota_2014_df.reset_index(drop=True, inplace=True)
north_dakota_2014_df['Sum'] = north_dakota_2014_df.Data_Value * north_dakota_2014_df.Sample_Size
Sum = north_dakota_2014_df['Sum'].sum()
Sum_Size = north_dakota_2014_df['Sample_Size'].sum()
north_dakota_2014_df['Sum_Sample_Size'] = Sum_Size
north_dakota_2014_df['Percentage'] = Sum/Sum_Size
north_dakota_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
north_dakota_2014_df=north_dakota_2014_df.drop(north_dakota_2014_df.index[1:28])

north_dakota_2015_df = year_2015_df[year_2015_df['Location'].str.contains("North Dakota")]
north_dakota_2015_df.reset_index(drop=True, inplace=True)
north_dakota_2015_df['Sum'] = north_dakota_2015_df.Data_Value * north_dakota_2015_df.Sample_Size
Sum = north_dakota_2015_df['Sum'].sum()
Sum_Size = north_dakota_2015_df['Sample_Size'].sum()
north_dakota_2015_df['Sum_Sample_Size'] = Sum_Size
north_dakota_2015_df['Percentage'] = Sum/Sum_Size
north_dakota_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
north_dakota_2015_df=north_dakota_2015_df.drop(north_dakota_2015_df.index[1:28])

north_dakota_2016_df = year_2016_df[year_2016_df['Location'].str.contains("North Dakota")]
north_dakota_2016_df.reset_index(drop=True, inplace=True)
north_dakota_2016_df['Sum'] = north_dakota_2016_df.Data_Value * north_dakota_2016_df.Sample_Size
Sum = north_dakota_2016_df['Sum'].sum()
Sum_Size = north_dakota_2016_df['Sample_Size'].sum()
north_dakota_2016_df['Sum_Sample_Size'] = Sum_Size
north_dakota_2016_df['Percentage'] = Sum/Sum_Size
north_dakota_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
north_dakota_2016_df=north_dakota_2016_df.drop(north_dakota_2016_df.index[1:28])

north_dakota_2017_df = year_2017_df[year_2017_df['Location'].str.contains("North Dakota")]
north_dakota_2017_df.reset_index(drop=True, inplace=True)
north_dakota_2017_df['Sum'] = north_dakota_2017_df.Data_Value * north_dakota_2017_df.Sample_Size
Sum = north_dakota_2017_df['Sum'].sum()
Sum_Size = north_dakota_2017_df['Sample_Size'].sum()
north_dakota_2017_df['Sum_Sample_Size'] = Sum_Size
north_dakota_2017_df['Percentage'] = Sum/Sum_Size
north_dakota_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
north_dakota_2017_df=north_dakota_2017_df.drop(north_dakota_2017_df.index[1:28])

north_dakota_2018_df = year_2018_df[year_2018_df['Location'].str.contains("North Dakota")]
north_dakota_2018_df.reset_index(drop=True, inplace=True)
north_dakota_2018_df['Sum'] = north_dakota_2018_df.Data_Value * north_dakota_2018_df.Sample_Size
Sum = north_dakota_2018_df['Sum'].sum()
Sum_Size = north_dakota_2018_df['Sample_Size'].sum()
north_dakota_2018_df['Sum_Sample_Size'] = Sum_Size
north_dakota_2018_df['Percentage'] = Sum/Sum_Size
north_dakota_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
north_dakota_2018_df=north_dakota_2018_df.drop(north_dakota_2018_df.index[1:28])

In [238]:
ohio_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Ohio")]
ohio_2011_df.reset_index(drop=True, inplace=True)
ohio_2011_df['Sum'] = ohio_2011_df.Data_Value * ohio_2011_df.Sample_Size
Sum = ohio_2011_df['Sum'].sum()
Sum_Size = ohio_2011_df['Sample_Size'].sum()
ohio_2011_df['Sum_Sample_Size'] = Sum_Size
ohio_2011_df['Percentage'] = Sum/Sum_Size
ohio_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
ohio_2011_df=ohio_2011_df.drop(ohio_2011_df.index[1:28])

ohio_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Ohio")]
ohio_2012_df.reset_index(drop=True, inplace=True)
ohio_2012_df['Sum'] = ohio_2012_df.Data_Value * ohio_2012_df.Sample_Size
Sum = ohio_2012_df['Sum'].sum()
Sum_Size = ohio_2012_df['Sample_Size'].sum()
ohio_2012_df['Sum_Sample_Size'] = Sum_Size
ohio_2012_df['Percentage'] = Sum/Sum_Size
ohio_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
ohio_2012_df=ohio_2012_df.drop(ohio_2012_df.index[1:28])

ohio_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Ohio")]
ohio_2013_df.reset_index(drop=True, inplace=True)
ohio_2013_df['Sum'] = ohio_2013_df.Data_Value * ohio_2013_df.Sample_Size
Sum = ohio_2013_df['Sum'].sum()
Sum_Size = ohio_2013_df['Sample_Size'].sum()
ohio_2013_df['Sum_Sample_Size'] = Sum_Size
ohio_2013_df['Percentage'] = Sum/Sum_Size
ohio_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
ohio_2013_df=ohio_2013_df.drop(ohio_2013_df.index[1:28])

ohio_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Ohio")]
ohio_2014_df.reset_index(drop=True, inplace=True)
ohio_2014_df['Sum'] = ohio_2014_df.Data_Value * ohio_2014_df.Sample_Size
Sum = ohio_2014_df['Sum'].sum()
Sum_Size = ohio_2014_df['Sample_Size'].sum()
ohio_2014_df['Sum_Sample_Size'] = Sum_Size
ohio_2014_df['Percentage'] = Sum/Sum_Size
ohio_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
ohio_2014_df=ohio_2014_df.drop(ohio_2014_df.index[1:28])

ohio_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Ohio")]
ohio_2015_df.reset_index(drop=True, inplace=True)
ohio_2015_df['Sum'] = ohio_2015_df.Data_Value * ohio_2015_df.Sample_Size
Sum = ohio_2015_df['Sum'].sum()
Sum_Size = ohio_2015_df['Sample_Size'].sum()
ohio_2015_df['Sum_Sample_Size'] = Sum_Size
ohio_2015_df['Percentage'] = Sum/Sum_Size
ohio_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
ohio_2015_df=ohio_2015_df.drop(ohio_2015_df.index[1:28])

ohio_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Ohio")]
ohio_2016_df.reset_index(drop=True, inplace=True)
ohio_2016_df['Sum'] = ohio_2016_df.Data_Value * ohio_2016_df.Sample_Size
Sum = ohio_2016_df['Sum'].sum()
Sum_Size = ohio_2016_df['Sample_Size'].sum()
ohio_2016_df['Sum_Sample_Size'] = Sum_Size
ohio_2016_df['Percentage'] = Sum/Sum_Size
ohio_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
ohio_2016_df=ohio_2016_df.drop(ohio_2016_df.index[1:28])

ohio_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Ohio")]
ohio_2017_df.reset_index(drop=True, inplace=True)
ohio_2017_df['Sum'] = ohio_2017_df.Data_Value * ohio_2017_df.Sample_Size
Sum = ohio_2017_df['Sum'].sum()
Sum_Size = ohio_2017_df['Sample_Size'].sum()
ohio_2017_df['Sum_Sample_Size'] = Sum_Size
ohio_2017_df['Percentage'] = Sum/Sum_Size
ohio_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
ohio_2017_df=ohio_2017_df.drop(ohio_2017_df.index[1:28])

ohio_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Ohio")]
ohio_2018_df.reset_index(drop=True, inplace=True)
ohio_2018_df['Sum'] = ohio_2018_df.Data_Value * ohio_2018_df.Sample_Size
Sum = ohio_2018_df['Sum'].sum()
Sum_Size = ohio_2018_df['Sample_Size'].sum()
ohio_2018_df['Sum_Sample_Size'] = Sum_Size
ohio_2018_df['Percentage'] = Sum/Sum_Size
ohio_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
ohio_2018_df=ohio_2018_df.drop(ohio_2018_df.index[1:28])

In [239]:
oklahoma_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Oklahoma")]
oklahoma_2011_df.reset_index(drop=True, inplace=True)
oklahoma_2011_df['Sum'] = oklahoma_2011_df.Data_Value * oklahoma_2011_df.Sample_Size
Sum = oklahoma_2011_df['Sum'].sum()
Sum_Size = oklahoma_2011_df['Sample_Size'].sum()
oklahoma_2011_df['Sum_Sample_Size'] = Sum_Size
oklahoma_2011_df['Percentage'] = Sum/Sum_Size
oklahoma_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
oklahoma_2011_df=oklahoma_2011_df.drop(oklahoma_2011_df.index[1:28])

oklahoma_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Oklahoma")]
oklahoma_2012_df.reset_index(drop=True, inplace=True)
oklahoma_2012_df['Sum'] = oklahoma_2012_df.Data_Value * oklahoma_2012_df.Sample_Size
Sum = oklahoma_2012_df['Sum'].sum()
Sum_Size = oklahoma_2012_df['Sample_Size'].sum()
oklahoma_2012_df['Sum_Sample_Size'] = Sum_Size
oklahoma_2012_df['Percentage'] = Sum/Sum_Size
oklahoma_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
oklahoma_2012_df=oklahoma_2012_df.drop(oklahoma_2012_df.index[1:28])

oklahoma_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Oklahoma")]
oklahoma_2013_df.reset_index(drop=True, inplace=True)
oklahoma_2013_df['Sum'] = oklahoma_2013_df.Data_Value * oklahoma_2013_df.Sample_Size
Sum = oklahoma_2013_df['Sum'].sum()
Sum_Size = oklahoma_2013_df['Sample_Size'].sum()
oklahoma_2013_df['Sum_Sample_Size'] = Sum_Size
oklahoma_2013_df['Percentage'] = Sum/Sum_Size
oklahoma_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
oklahoma_2013_df=oklahoma_2013_df.drop(oklahoma_2013_df.index[1:28])

oklahoma_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Oklahoma")]
oklahoma_2014_df.reset_index(drop=True, inplace=True)
oklahoma_2014_df['Sum'] = oklahoma_2014_df.Data_Value * oklahoma_2014_df.Sample_Size
Sum = oklahoma_2014_df['Sum'].sum()
Sum_Size = oklahoma_2014_df['Sample_Size'].sum()
oklahoma_2014_df['Sum_Sample_Size'] = Sum_Size
oklahoma_2014_df['Percentage'] = Sum/Sum_Size
oklahoma_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
oklahoma_2014_df=oklahoma_2014_df.drop(oklahoma_2014_df.index[1:28])

oklahoma_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Oklahoma")]
oklahoma_2015_df.reset_index(drop=True, inplace=True)
oklahoma_2015_df['Sum'] = oklahoma_2015_df.Data_Value * oklahoma_2015_df.Sample_Size
Sum = oklahoma_2015_df['Sum'].sum()
Sum_Size = oklahoma_2015_df['Sample_Size'].sum()
oklahoma_2015_df['Sum_Sample_Size'] = Sum_Size
oklahoma_2015_df['Percentage'] = Sum/Sum_Size
oklahoma_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
oklahoma_2015_df=oklahoma_2015_df.drop(oklahoma_2015_df.index[1:28])

oklahoma_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Oklahoma")]
oklahoma_2016_df.reset_index(drop=True, inplace=True)
oklahoma_2016_df['Sum'] = oklahoma_2016_df.Data_Value * oklahoma_2016_df.Sample_Size
Sum = oklahoma_2016_df['Sum'].sum()
Sum_Size = oklahoma_2016_df['Sample_Size'].sum()
oklahoma_2016_df['Sum_Sample_Size'] = Sum_Size
oklahoma_2016_df['Percentage'] = Sum/Sum_Size
oklahoma_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
oklahoma_2016_df=oklahoma_2016_df.drop(oklahoma_2016_df.index[1:28])

oklahoma_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Oklahoma")]
oklahoma_2017_df.reset_index(drop=True, inplace=True)
oklahoma_2017_df['Sum'] = oklahoma_2017_df.Data_Value * oklahoma_2017_df.Sample_Size
Sum = oklahoma_2017_df['Sum'].sum()
Sum_Size = oklahoma_2017_df['Sample_Size'].sum()
oklahoma_2017_df['Sum_Sample_Size'] = Sum_Size
oklahoma_2017_df['Percentage'] = Sum/Sum_Size
oklahoma_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
oklahoma_2017_df=oklahoma_2017_df.drop(oklahoma_2017_df.index[1:28])

oklahoma_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Oklahoma")]
oklahoma_2018_df.reset_index(drop=True, inplace=True)
oklahoma_2018_df['Sum'] = oklahoma_2018_df.Data_Value * oklahoma_2018_df.Sample_Size
Sum = oklahoma_2018_df['Sum'].sum()
Sum_Size = oklahoma_2018_df['Sample_Size'].sum()
oklahoma_2018_df['Sum_Sample_Size'] = Sum_Size
oklahoma_2018_df['Percentage'] = Sum/Sum_Size
oklahoma_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
oklahoma_2018_df=oklahoma_2018_df.drop(oklahoma_2018_df.index[1:28])

In [240]:
oregon_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Oregon")]
oregon_2011_df.reset_index(drop=True, inplace=True)
oregon_2011_df['Sum'] = oregon_2011_df.Data_Value * oregon_2011_df.Sample_Size
Sum = oregon_2011_df['Sum'].sum()
Sum_Size = oregon_2011_df['Sample_Size'].sum()
oregon_2011_df['Sum_Sample_Size'] = Sum_Size
oregon_2011_df['Percentage'] = Sum/Sum_Size
oregon_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
oregon_2011_df=oregon_2011_df.drop(oregon_2011_df.index[1:28])

oregon_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Oregon")]
oregon_2012_df.reset_index(drop=True, inplace=True)
oregon_2012_df['Sum'] = oregon_2012_df.Data_Value * oregon_2012_df.Sample_Size
Sum = oregon_2012_df['Sum'].sum()
Sum_Size = oregon_2012_df['Sample_Size'].sum()
oregon_2012_df['Sum_Sample_Size'] = Sum_Size
oregon_2012_df['Percentage'] = Sum/Sum_Size
oregon_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
oregon_2012_df=oregon_2012_df.drop(oregon_2012_df.index[1:28])

oregon_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Oregon")]
oregon_2013_df.reset_index(drop=True, inplace=True)
oregon_2013_df['Sum'] = oregon_2013_df.Data_Value * oregon_2013_df.Sample_Size
Sum = oregon_2013_df['Sum'].sum()
Sum_Size = oregon_2013_df['Sample_Size'].sum()
oregon_2013_df['Sum_Sample_Size'] = Sum_Size
oregon_2013_df['Percentage'] = Sum/Sum_Size
oregon_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
oregon_2013_df=oregon_2013_df.drop(oregon_2013_df.index[1:28])

oregon_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Oregon")]
oregon_2014_df.reset_index(drop=True, inplace=True)
oregon_2014_df['Sum'] = oregon_2014_df.Data_Value * oregon_2014_df.Sample_Size
Sum = oregon_2014_df['Sum'].sum()
Sum_Size = oregon_2014_df['Sample_Size'].sum()
oregon_2014_df['Sum_Sample_Size'] = Sum_Size
oregon_2014_df['Percentage'] = Sum/Sum_Size
oregon_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
oregon_2014_df=oregon_2014_df.drop(oregon_2014_df.index[1:28])

oregon_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Oregon")]
oregon_2015_df.reset_index(drop=True, inplace=True)
oregon_2015_df['Sum'] = oregon_2015_df.Data_Value * oregon_2015_df.Sample_Size
Sum = oregon_2015_df['Sum'].sum()
Sum_Size = oregon_2015_df['Sample_Size'].sum()
oregon_2015_df['Sum_Sample_Size'] = Sum_Size
oregon_2015_df['Percentage'] = Sum/Sum_Size
oregon_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
oregon_2015_df=oregon_2015_df.drop(oregon_2015_df.index[1:28])

oregon_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Oregon")]
oregon_2016_df.reset_index(drop=True, inplace=True)
oregon_2016_df['Sum'] = oregon_2016_df.Data_Value * oregon_2016_df.Sample_Size
Sum = oregon_2016_df['Sum'].sum()
Sum_Size = oregon_2016_df['Sample_Size'].sum()
oregon_2016_df['Sum_Sample_Size'] = Sum_Size
oregon_2016_df['Percentage'] = Sum/Sum_Size
oregon_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
oregon_2016_df=oregon_2016_df.drop(oregon_2016_df.index[1:28])

oregon_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Oregon")]
oregon_2017_df.reset_index(drop=True, inplace=True)
oregon_2017_df['Sum'] = oregon_2017_df.Data_Value * oregon_2017_df.Sample_Size
Sum = oregon_2017_df['Sum'].sum()
Sum_Size = oregon_2017_df['Sample_Size'].sum()
oregon_2017_df['Sum_Sample_Size'] = Sum_Size
oregon_2017_df['Percentage'] = Sum/Sum_Size
oregon_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
oregon_2017_df=oregon_2017_df.drop(oregon_2017_df.index[1:28])

oregon_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Oregon")]
oregon_2018_df.reset_index(drop=True, inplace=True)
oregon_2018_df['Sum'] = oregon_2018_df.Data_Value * oregon_2018_df.Sample_Size
Sum = oregon_2018_df['Sum'].sum()
Sum_Size = oregon_2018_df['Sample_Size'].sum()
oregon_2018_df['Sum_Sample_Size'] = Sum_Size
oregon_2018_df['Percentage'] = Sum/Sum_Size
oregon_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
oregon_2018_df=oregon_2018_df.drop(oregon_2018_df.index[1:28])

In [241]:
pennsylvania_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Pennsylvania")]
pennsylvania_2011_df.reset_index(drop=True, inplace=True)
pennsylvania_2011_df['Sum'] = pennsylvania_2011_df.Data_Value * pennsylvania_2011_df.Sample_Size
Sum = pennsylvania_2011_df['Sum'].sum()
Sum_Size = pennsylvania_2011_df['Sample_Size'].sum()
pennsylvania_2011_df['Sum_Sample_Size'] = Sum_Size
pennsylvania_2011_df['Percentage'] = Sum/Sum_Size
pennsylvania_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
pennsylvania_2011_df=pennsylvania_2011_df.drop(pennsylvania_2011_df.index[1:28])

pennsylvania_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Pennsylvania")]
pennsylvania_2012_df.reset_index(drop=True, inplace=True)
pennsylvania_2012_df['Sum'] = pennsylvania_2012_df.Data_Value * pennsylvania_2012_df.Sample_Size
Sum = pennsylvania_2012_df['Sum'].sum()
Sum_Size = pennsylvania_2012_df['Sample_Size'].sum()
pennsylvania_2012_df['Sum_Sample_Size'] = Sum_Size
pennsylvania_2012_df['Percentage'] = Sum/Sum_Size
pennsylvania_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
pennsylvania_2012_df=pennsylvania_2012_df.drop(pennsylvania_2012_df.index[1:28])

pennsylvania_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Pennsylvania")]
pennsylvania_2013_df.reset_index(drop=True, inplace=True)
pennsylvania_2013_df['Sum'] = pennsylvania_2013_df.Data_Value * pennsylvania_2013_df.Sample_Size
Sum = pennsylvania_2013_df['Sum'].sum()
Sum_Size = pennsylvania_2013_df['Sample_Size'].sum()
pennsylvania_2013_df['Sum_Sample_Size'] = Sum_Size
pennsylvania_2013_df['Percentage'] = Sum/Sum_Size
pennsylvania_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
pennsylvania_2013_df=pennsylvania_2013_df.drop(pennsylvania_2013_df.index[1:28])

pennsylvania_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Pennsylvania")]
pennsylvania_2014_df.reset_index(drop=True, inplace=True)
pennsylvania_2014_df['Sum'] = pennsylvania_2014_df.Data_Value * pennsylvania_2014_df.Sample_Size
Sum = pennsylvania_2014_df['Sum'].sum()
Sum_Size = pennsylvania_2014_df['Sample_Size'].sum()
pennsylvania_2014_df['Sum_Sample_Size'] = Sum_Size
pennsylvania_2014_df['Percentage'] = Sum/Sum_Size
pennsylvania_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
pennsylvania_2014_df=pennsylvania_2014_df.drop(pennsylvania_2014_df.index[1:28])

pennsylvania_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Pennsylvania")]
pennsylvania_2015_df.reset_index(drop=True, inplace=True)
pennsylvania_2015_df['Sum'] = pennsylvania_2015_df.Data_Value * pennsylvania_2015_df.Sample_Size
Sum = pennsylvania_2015_df['Sum'].sum()
Sum_Size = pennsylvania_2015_df['Sample_Size'].sum()
pennsylvania_2015_df['Sum_Sample_Size'] = Sum_Size
pennsylvania_2015_df['Percentage'] = Sum/Sum_Size
pennsylvania_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
pennsylvania_2015_df=pennsylvania_2015_df.drop(pennsylvania_2015_df.index[1:28])

pennsylvania_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Pennsylvania")]
pennsylvania_2016_df.reset_index(drop=True, inplace=True)
pennsylvania_2016_df['Sum'] = pennsylvania_2016_df.Data_Value * pennsylvania_2016_df.Sample_Size
Sum = pennsylvania_2016_df['Sum'].sum()
Sum_Size = pennsylvania_2016_df['Sample_Size'].sum()
pennsylvania_2016_df['Sum_Sample_Size'] = Sum_Size
pennsylvania_2016_df['Percentage'] = Sum/Sum_Size
pennsylvania_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
pennsylvania_2016_df=pennsylvania_2016_df.drop(pennsylvania_2016_df.index[1:28])

pennsylvania_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Pennsylvania")]
pennsylvania_2017_df.reset_index(drop=True, inplace=True)
pennsylvania_2017_df['Sum'] = pennsylvania_2017_df.Data_Value * pennsylvania_2017_df.Sample_Size
Sum = pennsylvania_2017_df['Sum'].sum()
Sum_Size = pennsylvania_2017_df['Sample_Size'].sum()
pennsylvania_2017_df['Sum_Sample_Size'] = Sum_Size
pennsylvania_2017_df['Percentage'] = Sum/Sum_Size
pennsylvania_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
pennsylvania_2017_df=pennsylvania_2017_df.drop(pennsylvania_2017_df.index[1:28])

pennsylvania_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Pennsylvania")]
pennsylvania_2018_df.reset_index(drop=True, inplace=True)
pennsylvania_2018_df['Sum'] = pennsylvania_2018_df.Data_Value * pennsylvania_2018_df.Sample_Size
Sum = pennsylvania_2018_df['Sum'].sum()
Sum_Size = pennsylvania_2018_df['Sample_Size'].sum()
pennsylvania_2018_df['Sum_Sample_Size'] = Sum_Size
pennsylvania_2018_df['Percentage'] = Sum/Sum_Size
pennsylvania_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
pennsylvania_2018_df=pennsylvania_2018_df.drop(pennsylvania_2018_df.index[1:28])

In [242]:
rhode_island_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Rhode Island")]
rhode_island_2011_df.reset_index(drop=True, inplace=True)
rhode_island_2011_df['Sum'] = rhode_island_2011_df.Data_Value * rhode_island_2011_df.Sample_Size
Sum = rhode_island_2011_df['Sum'].sum()
Sum_Size = rhode_island_2011_df['Sample_Size'].sum()
rhode_island_2011_df['Sum_Sample_Size'] = Sum_Size
rhode_island_2011_df['Percentage'] = Sum/Sum_Size
rhode_island_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
rhode_island_2011_df=rhode_island_2011_df.drop(rhode_island_2011_df.index[1:28])

rhode_island_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Rhode Island")]
rhode_island_2012_df.reset_index(drop=True, inplace=True)
rhode_island_2012_df['Sum'] = rhode_island_2012_df.Data_Value * rhode_island_2012_df.Sample_Size
Sum = rhode_island_2012_df['Sum'].sum()
Sum_Size = rhode_island_2012_df['Sample_Size'].sum()
rhode_island_2012_df['Sum_Sample_Size'] = Sum_Size
rhode_island_2012_df['Percentage'] = Sum/Sum_Size
rhode_island_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
rhode_island_2012_df=rhode_island_2012_df.drop(rhode_island_2012_df.index[1:28])

rhode_island_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Rhode Island")]
rhode_island_2013_df.reset_index(drop=True, inplace=True)
rhode_island_2013_df['Sum'] = rhode_island_2013_df.Data_Value * rhode_island_2013_df.Sample_Size
Sum = rhode_island_2013_df['Sum'].sum()
Sum_Size = rhode_island_2013_df['Sample_Size'].sum()
rhode_island_2013_df['Sum_Sample_Size'] = Sum_Size
rhode_island_2013_df['Percentage'] = Sum/Sum_Size
rhode_island_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
rhode_island_2013_df=rhode_island_2013_df.drop(rhode_island_2013_df.index[1:28])

rhode_island_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Rhode Island")]
rhode_island_2014_df.reset_index(drop=True, inplace=True)
rhode_island_2014_df['Sum'] = rhode_island_2014_df.Data_Value * rhode_island_2014_df.Sample_Size
Sum = rhode_island_2014_df['Sum'].sum()
Sum_Size = rhode_island_2014_df['Sample_Size'].sum()
rhode_island_2014_df['Sum_Sample_Size'] = Sum_Size
rhode_island_2014_df['Percentage'] = Sum/Sum_Size
rhode_island_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
rhode_island_2014_df=rhode_island_2014_df.drop(rhode_island_2014_df.index[1:28])

rhode_island_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Rhode Island")]
rhode_island_2015_df.reset_index(drop=True, inplace=True)
rhode_island_2015_df['Sum'] = rhode_island_2015_df.Data_Value * rhode_island_2015_df.Sample_Size
Sum = rhode_island_2015_df['Sum'].sum()
Sum_Size = rhode_island_2015_df['Sample_Size'].sum()
rhode_island_2015_df['Sum_Sample_Size'] = Sum_Size
rhode_island_2015_df['Percentage'] = Sum/Sum_Size
rhode_island_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
rhode_island_2015_df=rhode_island_2015_df.drop(rhode_island_2015_df.index[1:28])

rhode_island_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Rhode Island")]
rhode_island_2016_df.reset_index(drop=True, inplace=True)
rhode_island_2016_df['Sum'] = rhode_island_2016_df.Data_Value * rhode_island_2016_df.Sample_Size
Sum = rhode_island_2016_df['Sum'].sum()
Sum_Size = rhode_island_2016_df['Sample_Size'].sum()
rhode_island_2016_df['Sum_Sample_Size'] = Sum_Size
rhode_island_2016_df['Percentage'] = Sum/Sum_Size
rhode_island_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
rhode_island_2016_df=rhode_island_2016_df.drop(rhode_island_2016_df.index[1:28])

rhode_island_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Rhode Island")]
rhode_island_2017_df.reset_index(drop=True, inplace=True)
rhode_island_2017_df['Sum'] = rhode_island_2017_df.Data_Value * rhode_island_2017_df.Sample_Size
Sum = rhode_island_2017_df['Sum'].sum()
Sum_Size = rhode_island_2017_df['Sample_Size'].sum()
rhode_island_2017_df['Sum_Sample_Size'] = Sum_Size
rhode_island_2017_df['Percentage'] = Sum/Sum_Size
rhode_island_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
rhode_island_2017_df=rhode_island_2017_df.drop(rhode_island_2017_df.index[1:28])

rhode_island_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Rhode Island")]
rhode_island_2018_df.reset_index(drop=True, inplace=True)
rhode_island_2018_df['Sum'] = rhode_island_2018_df.Data_Value * rhode_island_2018_df.Sample_Size
Sum = rhode_island_2018_df['Sum'].sum()
Sum_Size = rhode_island_2018_df['Sample_Size'].sum()
rhode_island_2018_df['Sum_Sample_Size'] = Sum_Size
rhode_island_2018_df['Percentage'] = Sum/Sum_Size
rhode_island_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
rhode_island_2018_df=rhode_island_2018_df.drop(rhode_island_2018_df.index[1:28])

In [243]:
south_carolina_2011_df = year_2011_df[year_2011_df['Location'].str.contains("South Carolina")]
south_carolina_2011_df.reset_index(drop=True, inplace=True)
south_carolina_2011_df['Sum'] = south_carolina_2011_df.Data_Value * south_carolina_2011_df.Sample_Size
Sum = south_carolina_2011_df['Sum'].sum()
Sum_Size = south_carolina_2011_df['Sample_Size'].sum()
south_carolina_2011_df['Sum_Sample_Size'] = Sum_Size
south_carolina_2011_df['Percentage'] = Sum/Sum_Size
south_carolina_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
south_carolina_2011_df=south_carolina_2011_df.drop(south_carolina_2011_df.index[1:28])

south_carolina_2012_df = year_2012_df[year_2012_df['Location'].str.contains("South Carolina")]
south_carolina_2012_df.reset_index(drop=True, inplace=True)
south_carolina_2012_df['Sum'] = south_carolina_2012_df.Data_Value * south_carolina_2012_df.Sample_Size
Sum = south_carolina_2012_df['Sum'].sum()
Sum_Size = south_carolina_2012_df['Sample_Size'].sum()
south_carolina_2012_df['Sum_Sample_Size'] = Sum_Size
south_carolina_2012_df['Percentage'] = Sum/Sum_Size
south_carolina_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
south_carolina_2012_df=south_carolina_2012_df.drop(south_carolina_2012_df.index[1:28])

south_carolina_2013_df = year_2013_df[year_2013_df['Location'].str.contains("South Carolina")]
south_carolina_2013_df.reset_index(drop=True, inplace=True)
south_carolina_2013_df['Sum'] = south_carolina_2013_df.Data_Value * south_carolina_2013_df.Sample_Size
Sum = south_carolina_2013_df['Sum'].sum()
Sum_Size = south_carolina_2013_df['Sample_Size'].sum()
south_carolina_2013_df['Sum_Sample_Size'] = Sum_Size
south_carolina_2013_df['Percentage'] = Sum/Sum_Size
south_carolina_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
south_carolina_2013_df=south_carolina_2013_df.drop(south_carolina_2013_df.index[1:28])

south_carolina_2014_df = year_2014_df[year_2014_df['Location'].str.contains("South Carolina")]
south_carolina_2014_df.reset_index(drop=True, inplace=True)
south_carolina_2014_df['Sum'] = south_carolina_2014_df.Data_Value * south_carolina_2014_df.Sample_Size
Sum = south_carolina_2014_df['Sum'].sum()
Sum_Size = south_carolina_2014_df['Sample_Size'].sum()
south_carolina_2014_df['Sum_Sample_Size'] = Sum_Size
south_carolina_2014_df['Percentage'] = Sum/Sum_Size
south_carolina_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
south_carolina_2014_df=south_carolina_2014_df.drop(south_carolina_2014_df.index[1:28])

south_carolina_2015_df = year_2015_df[year_2015_df['Location'].str.contains("South Carolina")]
south_carolina_2015_df.reset_index(drop=True, inplace=True)
south_carolina_2015_df['Sum'] = south_carolina_2015_df.Data_Value * south_carolina_2015_df.Sample_Size
Sum = south_carolina_2015_df['Sum'].sum()
Sum_Size = south_carolina_2015_df['Sample_Size'].sum()
south_carolina_2015_df['Sum_Sample_Size'] = Sum_Size
south_carolina_2015_df['Percentage'] = Sum/Sum_Size
south_carolina_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
south_carolina_2015_df=south_carolina_2015_df.drop(south_carolina_2015_df.index[1:28])

south_carolina_2016_df = year_2016_df[year_2016_df['Location'].str.contains("South Carolina")]
south_carolina_2016_df.reset_index(drop=True, inplace=True)
south_carolina_2016_df['Sum'] = south_carolina_2016_df.Data_Value * south_carolina_2016_df.Sample_Size
Sum = south_carolina_2016_df['Sum'].sum()
Sum_Size = south_carolina_2016_df['Sample_Size'].sum()
south_carolina_2016_df['Sum_Sample_Size'] = Sum_Size
south_carolina_2016_df['Percentage'] = Sum/Sum_Size
south_carolina_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
south_carolina_2016_df=south_carolina_2016_df.drop(south_carolina_2016_df.index[1:28])

south_carolina_2017_df = year_2017_df[year_2017_df['Location'].str.contains("South Carolina")]
south_carolina_2017_df.reset_index(drop=True, inplace=True)
south_carolina_2017_df['Sum'] = south_carolina_2017_df.Data_Value * south_carolina_2017_df.Sample_Size
Sum = south_carolina_2017_df['Sum'].sum()
Sum_Size = south_carolina_2017_df['Sample_Size'].sum()
south_carolina_2017_df['Sum_Sample_Size'] = Sum_Size
south_carolina_2017_df['Percentage'] = Sum/Sum_Size
south_carolina_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
south_carolina_2017_df=south_carolina_2017_df.drop(south_carolina_2017_df.index[1:28])

south_carolina_2018_df = year_2018_df[year_2018_df['Location'].str.contains("South Carolina")]
south_carolina_2018_df.reset_index(drop=True, inplace=True)
south_carolina_2018_df['Sum'] = south_carolina_2018_df.Data_Value * south_carolina_2018_df.Sample_Size
Sum = south_carolina_2018_df['Sum'].sum()
Sum_Size = south_carolina_2018_df['Sample_Size'].sum()
south_carolina_2018_df['Sum_Sample_Size'] = Sum_Size
south_carolina_2018_df['Percentage'] = Sum/Sum_Size
south_carolina_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
south_carolina_2018_df=south_carolina_2018_df.drop(south_carolina_2018_df.index[1:28])

In [244]:
south_dakota_2011_df = year_2011_df[year_2011_df['Location'].str.contains("South Dakota")]
south_dakota_2011_df.reset_index(drop=True, inplace=True)
south_dakota_2011_df['Sum'] = south_dakota_2011_df.Data_Value * south_dakota_2011_df.Sample_Size
Sum = south_dakota_2011_df['Sum'].sum()
Sum_Size = south_dakota_2011_df['Sample_Size'].sum()
south_dakota_2011_df['Sum_Sample_Size'] = Sum_Size
south_dakota_2011_df['Percentage'] = Sum/Sum_Size
south_dakota_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
south_dakota_2011_df=south_dakota_2011_df.drop(south_dakota_2011_df.index[1:28])

south_dakota_2012_df = year_2012_df[year_2012_df['Location'].str.contains("South Dakota")]
south_dakota_2012_df.reset_index(drop=True, inplace=True)
south_dakota_2012_df['Sum'] = south_dakota_2012_df.Data_Value * south_dakota_2012_df.Sample_Size
Sum = south_dakota_2012_df['Sum'].sum()
Sum_Size = south_dakota_2012_df['Sample_Size'].sum()
south_dakota_2012_df['Sum_Sample_Size'] = Sum_Size
south_dakota_2012_df['Percentage'] = Sum/Sum_Size
south_dakota_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
south_dakota_2012_df=south_dakota_2012_df.drop(south_dakota_2012_df.index[1:28])

south_dakota_2013_df = year_2013_df[year_2013_df['Location'].str.contains("South Dakota")]
south_dakota_2013_df.reset_index(drop=True, inplace=True)
south_dakota_2013_df['Sum'] = south_dakota_2013_df.Data_Value * south_dakota_2013_df.Sample_Size
Sum = south_dakota_2013_df['Sum'].sum()
Sum_Size = south_dakota_2013_df['Sample_Size'].sum()
south_dakota_2013_df['Sum_Sample_Size'] = Sum_Size
south_dakota_2013_df['Percentage'] = Sum/Sum_Size
south_dakota_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
south_dakota_2013_df=south_dakota_2013_df.drop(south_dakota_2013_df.index[1:28])

south_dakota_2014_df = year_2014_df[year_2014_df['Location'].str.contains("South Dakota")]
south_dakota_2014_df.reset_index(drop=True, inplace=True)
south_dakota_2014_df['Sum'] = south_dakota_2014_df.Data_Value * south_dakota_2014_df.Sample_Size
Sum = south_dakota_2014_df['Sum'].sum()
Sum_Size = south_dakota_2014_df['Sample_Size'].sum()
south_dakota_2014_df['Sum_Sample_Size'] = Sum_Size
south_dakota_2014_df['Percentage'] = Sum/Sum_Size
south_dakota_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
south_dakota_2014_df=south_dakota_2014_df.drop(south_dakota_2014_df.index[1:28])

south_dakota_2015_df = year_2015_df[year_2015_df['Location'].str.contains("South Dakota")]
south_dakota_2015_df.reset_index(drop=True, inplace=True)
south_dakota_2015_df['Sum'] = south_dakota_2015_df.Data_Value * south_dakota_2015_df.Sample_Size
Sum = south_dakota_2015_df['Sum'].sum()
Sum_Size = south_dakota_2015_df['Sample_Size'].sum()
south_dakota_2015_df['Sum_Sample_Size'] = Sum_Size
south_dakota_2015_df['Percentage'] = Sum/Sum_Size
south_dakota_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
south_dakota_2015_df=south_dakota_2015_df.drop(south_dakota_2015_df.index[1:28])

south_dakota_2016_df = year_2016_df[year_2016_df['Location'].str.contains("South Dakota")]
south_dakota_2016_df.reset_index(drop=True, inplace=True)
south_dakota_2016_df['Sum'] = south_dakota_2016_df.Data_Value * south_dakota_2016_df.Sample_Size
Sum = south_dakota_2016_df['Sum'].sum()
Sum_Size = south_dakota_2016_df['Sample_Size'].sum()
south_dakota_2016_df['Sum_Sample_Size'] = Sum_Size
south_dakota_2016_df['Percentage'] = Sum/Sum_Size
south_dakota_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
south_dakota_2016_df=south_dakota_2016_df.drop(south_dakota_2016_df.index[1:28])

south_dakota_2017_df = year_2017_df[year_2017_df['Location'].str.contains("South Dakota")]
south_dakota_2017_df.reset_index(drop=True, inplace=True)
south_dakota_2017_df['Sum'] = south_dakota_2017_df.Data_Value * south_dakota_2017_df.Sample_Size
Sum = south_dakota_2017_df['Sum'].sum()
Sum_Size = south_dakota_2017_df['Sample_Size'].sum()
south_dakota_2017_df['Sum_Sample_Size'] = Sum_Size
south_dakota_2017_df['Percentage'] = Sum/Sum_Size
south_dakota_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
south_dakota_2017_df=south_dakota_2017_df.drop(south_dakota_2017_df.index[1:28])

south_dakota_2018_df = year_2018_df[year_2018_df['Location'].str.contains("South Dakota")]
south_dakota_2018_df.reset_index(drop=True, inplace=True)
south_dakota_2018_df['Sum'] = south_dakota_2018_df.Data_Value * south_dakota_2018_df.Sample_Size
Sum = south_dakota_2018_df['Sum'].sum()
Sum_Size = south_dakota_2018_df['Sample_Size'].sum()
south_dakota_2018_df['Sum_Sample_Size'] = Sum_Size
south_dakota_2018_df['Percentage'] = Sum/Sum_Size
south_dakota_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
south_dakota_2018_df=south_dakota_2018_df.drop(south_dakota_2018_df.index[1:28])

In [245]:
tennessee_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Tennessee")]
tennessee_2011_df.reset_index(drop=True, inplace=True)
tennessee_2011_df['Sum'] = tennessee_2011_df.Data_Value * tennessee_2011_df.Sample_Size
Sum = tennessee_2011_df['Sum'].sum()
Sum_Size = tennessee_2011_df['Sample_Size'].sum()
tennessee_2011_df['Sum_Sample_Size'] = Sum_Size
tennessee_2011_df['Percentage'] = Sum/Sum_Size
tennessee_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
tennessee_2011_df=tennessee_2011_df.drop(tennessee_2011_df.index[1:28])

tennessee_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Tennessee")]
tennessee_2012_df.reset_index(drop=True, inplace=True)
tennessee_2012_df['Sum'] = tennessee_2012_df.Data_Value * tennessee_2012_df.Sample_Size
Sum = tennessee_2012_df['Sum'].sum()
Sum_Size = tennessee_2012_df['Sample_Size'].sum()
tennessee_2012_df['Sum_Sample_Size'] = Sum_Size
tennessee_2012_df['Percentage'] = Sum/Sum_Size
tennessee_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
tennessee_2012_df=tennessee_2012_df.drop(tennessee_2012_df.index[1:28])

tennessee_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Tennessee")]
tennessee_2013_df.reset_index(drop=True, inplace=True)
tennessee_2013_df['Sum'] = tennessee_2013_df.Data_Value * tennessee_2013_df.Sample_Size
Sum = tennessee_2013_df['Sum'].sum()
Sum_Size = tennessee_2013_df['Sample_Size'].sum()
tennessee_2013_df['Sum_Sample_Size'] = Sum_Size
tennessee_2013_df['Percentage'] = Sum/Sum_Size
tennessee_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
tennessee_2013_df=tennessee_2013_df.drop(tennessee_2013_df.index[1:28])

tennessee_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Tennessee")]
tennessee_2014_df.reset_index(drop=True, inplace=True)
tennessee_2014_df['Sum'] = tennessee_2014_df.Data_Value * tennessee_2014_df.Sample_Size
Sum = tennessee_2014_df['Sum'].sum()
Sum_Size = tennessee_2014_df['Sample_Size'].sum()
tennessee_2014_df['Sum_Sample_Size'] = Sum_Size
tennessee_2014_df['Percentage'] = Sum/Sum_Size
tennessee_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
tennessee_2014_df=tennessee_2014_df.drop(tennessee_2014_df.index[1:28])

tennessee_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Tennessee")]
tennessee_2015_df.reset_index(drop=True, inplace=True)
tennessee_2015_df['Sum'] = tennessee_2015_df.Data_Value * tennessee_2015_df.Sample_Size
Sum = tennessee_2015_df['Sum'].sum()
Sum_Size = tennessee_2015_df['Sample_Size'].sum()
tennessee_2015_df['Sum_Sample_Size'] = Sum_Size
tennessee_2015_df['Percentage'] = Sum/Sum_Size
tennessee_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
tennessee_2015_df=tennessee_2015_df.drop(tennessee_2015_df.index[1:28])

tennessee_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Tennessee")]
tennessee_2016_df.reset_index(drop=True, inplace=True)
tennessee_2016_df['Sum'] = tennessee_2016_df.Data_Value * tennessee_2016_df.Sample_Size
Sum = tennessee_2016_df['Sum'].sum()
Sum_Size = tennessee_2016_df['Sample_Size'].sum()
tennessee_2016_df['Sum_Sample_Size'] = Sum_Size
tennessee_2016_df['Percentage'] = Sum/Sum_Size
tennessee_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
tennessee_2016_df=tennessee_2016_df.drop(tennessee_2016_df.index[1:28])

tennessee_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Tennessee")]
tennessee_2017_df.reset_index(drop=True, inplace=True)
tennessee_2017_df['Sum'] = tennessee_2017_df.Data_Value * tennessee_2017_df.Sample_Size
Sum = tennessee_2017_df['Sum'].sum()
Sum_Size = tennessee_2017_df['Sample_Size'].sum()
tennessee_2017_df['Sum_Sample_Size'] = Sum_Size
tennessee_2017_df['Percentage'] = Sum/Sum_Size
tennessee_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
tennessee_2017_df=tennessee_2017_df.drop(tennessee_2017_df.index[1:28])

tennessee_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Tennessee")]
tennessee_2018_df.reset_index(drop=True, inplace=True)
tennessee_2018_df['Sum'] = tennessee_2018_df.Data_Value * tennessee_2018_df.Sample_Size
Sum = tennessee_2018_df['Sum'].sum()
Sum_Size = tennessee_2018_df['Sample_Size'].sum()
tennessee_2018_df['Sum_Sample_Size'] = Sum_Size
tennessee_2018_df['Percentage'] = Sum/Sum_Size
tennessee_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
tennessee_2018_df=tennessee_2018_df.drop(tennessee_2018_df.index[1:28])

In [246]:
texas_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Texas")]
texas_2011_df.reset_index(drop=True, inplace=True)
texas_2011_df['Sum'] = texas_2011_df.Data_Value * texas_2011_df.Sample_Size
Sum = texas_2011_df['Sum'].sum()
Sum_Size = texas_2011_df['Sample_Size'].sum()
texas_2011_df['Sum_Sample_Size'] = Sum_Size
texas_2011_df['Percentage'] = Sum/Sum_Size
texas_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
texas_2011_df=texas_2011_df.drop(texas_2011_df.index[1:28])

texas_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Texas")]
texas_2012_df.reset_index(drop=True, inplace=True)
texas_2012_df['Sum'] = texas_2012_df.Data_Value * texas_2012_df.Sample_Size
Sum = texas_2012_df['Sum'].sum()
Sum_Size = texas_2012_df['Sample_Size'].sum()
texas_2012_df['Sum_Sample_Size'] = Sum_Size
texas_2012_df['Percentage'] = Sum/Sum_Size
texas_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
texas_2012_df=texas_2012_df.drop(texas_2012_df.index[1:28])

texas_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Texas")]
texas_2013_df.reset_index(drop=True, inplace=True)
texas_2013_df['Sum'] = texas_2013_df.Data_Value * texas_2013_df.Sample_Size
Sum = texas_2013_df['Sum'].sum()
Sum_Size = texas_2013_df['Sample_Size'].sum()
texas_2013_df['Sum_Sample_Size'] = Sum_Size
texas_2013_df['Percentage'] = Sum/Sum_Size
texas_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
texas_2013_df=texas_2013_df.drop(texas_2013_df.index[1:28])

texas_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Texas")]
texas_2014_df.reset_index(drop=True, inplace=True)
texas_2014_df['Sum'] = texas_2014_df.Data_Value * texas_2014_df.Sample_Size
Sum = texas_2014_df['Sum'].sum()
Sum_Size = texas_2014_df['Sample_Size'].sum()
texas_2014_df['Sum_Sample_Size'] = Sum_Size
texas_2014_df['Percentage'] = Sum/Sum_Size
texas_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
texas_2014_df=texas_2014_df.drop(texas_2014_df.index[1:28])

texas_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Texas")]
texas_2015_df.reset_index(drop=True, inplace=True)
texas_2015_df['Sum'] = texas_2015_df.Data_Value * texas_2015_df.Sample_Size
Sum = texas_2015_df['Sum'].sum()
Sum_Size = texas_2015_df['Sample_Size'].sum()
texas_2015_df['Sum_Sample_Size'] = Sum_Size
texas_2015_df['Percentage'] = Sum/Sum_Size
texas_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
texas_2015_df=texas_2015_df.drop(texas_2015_df.index[1:28])

texas_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Texas")]
texas_2016_df.reset_index(drop=True, inplace=True)
texas_2016_df['Sum'] = texas_2016_df.Data_Value * texas_2016_df.Sample_Size
Sum = texas_2016_df['Sum'].sum()
Sum_Size = texas_2016_df['Sample_Size'].sum()
texas_2016_df['Sum_Sample_Size'] = Sum_Size
texas_2016_df['Percentage'] = Sum/Sum_Size
texas_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
texas_2016_df=texas_2016_df.drop(texas_2016_df.index[1:28])

texas_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Texas")]
texas_2017_df.reset_index(drop=True, inplace=True)
texas_2017_df['Sum'] = texas_2017_df.Data_Value * texas_2017_df.Sample_Size
Sum = texas_2017_df['Sum'].sum()
Sum_Size = texas_2017_df['Sample_Size'].sum()
texas_2017_df['Sum_Sample_Size'] = Sum_Size
texas_2017_df['Percentage'] = Sum/Sum_Size
texas_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
texas_2017_df=texas_2017_df.drop(texas_2017_df.index[1:28])

texas_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Texas")]
texas_2018_df.reset_index(drop=True, inplace=True)
texas_2018_df['Sum'] = texas_2018_df.Data_Value * texas_2018_df.Sample_Size
Sum = texas_2018_df['Sum'].sum()
Sum_Size = texas_2018_df['Sample_Size'].sum()
texas_2018_df['Sum_Sample_Size'] = Sum_Size
texas_2018_df['Percentage'] = Sum/Sum_Size
texas_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
texas_2018_df=texas_2018_df.drop(texas_2018_df.index[1:28])

In [247]:
utah_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Utah")]
utah_2011_df.reset_index(drop=True, inplace=True)
utah_2011_df['Sum'] = utah_2011_df.Data_Value * utah_2011_df.Sample_Size
Sum = utah_2011_df['Sum'].sum()
Sum_Size = utah_2011_df['Sample_Size'].sum()
utah_2011_df['Sum_Sample_Size'] = Sum_Size
utah_2011_df['Percentage'] = Sum/Sum_Size
utah_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
utah_2011_df=utah_2011_df.drop(utah_2011_df.index[1:28])

utah_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Utah")]
utah_2012_df.reset_index(drop=True, inplace=True)
utah_2012_df['Sum'] = utah_2012_df.Data_Value * utah_2012_df.Sample_Size
Sum = utah_2012_df['Sum'].sum()
Sum_Size = utah_2012_df['Sample_Size'].sum()
utah_2012_df['Sum_Sample_Size'] = Sum_Size
utah_2012_df['Percentage'] = Sum/Sum_Size
utah_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
utah_2012_df=utah_2012_df.drop(utah_2012_df.index[1:28])

utah_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Utah")]
utah_2013_df.reset_index(drop=True, inplace=True)
utah_2013_df['Sum'] = utah_2013_df.Data_Value * utah_2013_df.Sample_Size
Sum = utah_2013_df['Sum'].sum()
Sum_Size = utah_2013_df['Sample_Size'].sum()
utah_2013_df['Sum_Sample_Size'] = Sum_Size
utah_2013_df['Percentage'] = Sum/Sum_Size
utah_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
utah_2013_df=utah_2013_df.drop(utah_2013_df.index[1:28])

utah_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Utah")]
utah_2014_df.reset_index(drop=True, inplace=True)
utah_2014_df['Sum'] = utah_2014_df.Data_Value * utah_2014_df.Sample_Size
Sum = utah_2014_df['Sum'].sum()
Sum_Size = utah_2014_df['Sample_Size'].sum()
utah_2014_df['Sum_Sample_Size'] = Sum_Size
utah_2014_df['Percentage'] = Sum/Sum_Size
utah_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
utah_2014_df=utah_2014_df.drop(utah_2014_df.index[1:28])

utah_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Utah")]
utah_2015_df.reset_index(drop=True, inplace=True)
utah_2015_df['Sum'] = utah_2015_df.Data_Value * utah_2015_df.Sample_Size
Sum = utah_2015_df['Sum'].sum()
Sum_Size = utah_2015_df['Sample_Size'].sum()
utah_2015_df['Sum_Sample_Size'] = Sum_Size
utah_2015_df['Percentage'] = Sum/Sum_Size
utah_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
utah_2015_df=utah_2015_df.drop(utah_2015_df.index[1:28])

utah_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Utah")]
utah_2016_df.reset_index(drop=True, inplace=True)
utah_2016_df['Sum'] = utah_2016_df.Data_Value * utah_2016_df.Sample_Size
Sum = utah_2016_df['Sum'].sum()
Sum_Size = utah_2016_df['Sample_Size'].sum()
utah_2016_df['Sum_Sample_Size'] = Sum_Size
utah_2016_df['Percentage'] = Sum/Sum_Size
utah_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
utah_2016_df=utah_2016_df.drop(utah_2016_df.index[1:28])

utah_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Utah")]
utah_2017_df.reset_index(drop=True, inplace=True)
utah_2017_df['Sum'] = utah_2017_df.Data_Value * utah_2017_df.Sample_Size
Sum = utah_2017_df['Sum'].sum()
Sum_Size = utah_2017_df['Sample_Size'].sum()
utah_2017_df['Sum_Sample_Size'] = Sum_Size
utah_2017_df['Percentage'] = Sum/Sum_Size
utah_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
utah_2017_df=utah_2017_df.drop(utah_2017_df.index[1:28])

utah_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Utah")]
utah_2018_df.reset_index(drop=True, inplace=True)
utah_2018_df['Sum'] = utah_2018_df.Data_Value * utah_2018_df.Sample_Size
Sum = utah_2018_df['Sum'].sum()
Sum_Size = utah_2018_df['Sample_Size'].sum()
utah_2018_df['Sum_Sample_Size'] = Sum_Size
utah_2018_df['Percentage'] = Sum/Sum_Size
utah_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
utah_2018_df=utah_2018_df.drop(utah_2018_df.index[1:28])

In [248]:
vermont_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Vermont")]
vermont_2011_df.reset_index(drop=True, inplace=True)
vermont_2011_df['Sum'] = vermont_2011_df.Data_Value * vermont_2011_df.Sample_Size
Sum = vermont_2011_df['Sum'].sum()
Sum_Size = vermont_2011_df['Sample_Size'].sum()
vermont_2011_df['Sum_Sample_Size'] = Sum_Size
vermont_2011_df['Percentage'] = Sum/Sum_Size
vermont_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
vermont_2011_df=vermont_2011_df.drop(vermont_2011_df.index[1:28])

vermont_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Vermont")]
vermont_2012_df.reset_index(drop=True, inplace=True)
vermont_2012_df['Sum'] = vermont_2012_df.Data_Value * vermont_2012_df.Sample_Size
Sum = vermont_2012_df['Sum'].sum()
Sum_Size = vermont_2012_df['Sample_Size'].sum()
vermont_2012_df['Sum_Sample_Size'] = Sum_Size
vermont_2012_df['Percentage'] = Sum/Sum_Size
vermont_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
vermont_2012_df=vermont_2012_df.drop(vermont_2012_df.index[1:28])

vermont_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Vermont")]
vermont_2013_df.reset_index(drop=True, inplace=True)
vermont_2013_df['Sum'] = vermont_2013_df.Data_Value * vermont_2013_df.Sample_Size
Sum = vermont_2013_df['Sum'].sum()
Sum_Size = vermont_2013_df['Sample_Size'].sum()
vermont_2013_df['Sum_Sample_Size'] = Sum_Size
vermont_2013_df['Percentage'] = Sum/Sum_Size
vermont_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
vermont_2013_df=vermont_2013_df.drop(vermont_2013_df.index[1:28])

vermont_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Vermont")]
vermont_2014_df.reset_index(drop=True, inplace=True)
vermont_2014_df['Sum'] = vermont_2014_df.Data_Value * vermont_2014_df.Sample_Size
Sum = vermont_2014_df['Sum'].sum()
Sum_Size = vermont_2014_df['Sample_Size'].sum()
vermont_2014_df['Sum_Sample_Size'] = Sum_Size
vermont_2014_df['Percentage'] = Sum/Sum_Size
vermont_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
vermont_2014_df=vermont_2014_df.drop(vermont_2014_df.index[1:28])

vermont_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Vermont")]
vermont_2015_df.reset_index(drop=True, inplace=True)
vermont_2015_df['Sum'] = vermont_2015_df.Data_Value * vermont_2015_df.Sample_Size
Sum = vermont_2015_df['Sum'].sum()
Sum_Size = vermont_2015_df['Sample_Size'].sum()
vermont_2015_df['Sum_Sample_Size'] = Sum_Size
vermont_2015_df['Percentage'] = Sum/Sum_Size
vermont_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
vermont_2015_df=vermont_2015_df.drop(vermont_2015_df.index[1:28])

vermont_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Vermont")]
vermont_2016_df.reset_index(drop=True, inplace=True)
vermont_2016_df['Sum'] = vermont_2016_df.Data_Value * vermont_2016_df.Sample_Size
Sum = vermont_2016_df['Sum'].sum()
Sum_Size = vermont_2016_df['Sample_Size'].sum()
vermont_2016_df['Sum_Sample_Size'] = Sum_Size
vermont_2016_df['Percentage'] = Sum/Sum_Size
vermont_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
vermont_2016_df=vermont_2016_df.drop(vermont_2016_df.index[1:28])

vermont_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Vermont")]
vermont_2017_df.reset_index(drop=True, inplace=True)
vermont_2017_df['Sum'] = vermont_2017_df.Data_Value * vermont_2017_df.Sample_Size
Sum = vermont_2017_df['Sum'].sum()
Sum_Size = vermont_2017_df['Sample_Size'].sum()
vermont_2017_df['Sum_Sample_Size'] = Sum_Size
vermont_2017_df['Percentage'] = Sum/Sum_Size
vermont_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
vermont_2017_df=vermont_2017_df.drop(vermont_2017_df.index[1:28])

vermont_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Vermont")]
vermont_2018_df.reset_index(drop=True, inplace=True)
vermont_2018_df['Sum'] = vermont_2018_df.Data_Value * vermont_2018_df.Sample_Size
Sum = vermont_2018_df['Sum'].sum()
Sum_Size = vermont_2018_df['Sample_Size'].sum()
vermont_2018_df['Sum_Sample_Size'] = Sum_Size
vermont_2018_df['Percentage'] = Sum/Sum_Size
vermont_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
vermont_2018_df=vermont_2018_df.drop(vermont_2018_df.index[1:28])

In [249]:
virginia_2011_df = year_2011_df[year_2011_df['LocationAbbr'].str.contains("VA")]
virginia_2011_df.reset_index(drop=True, inplace=True)
virginia_2011_df['Sum'] = virginia_2011_df.Data_Value * virginia_2011_df.Sample_Size
Sum = virginia_2011_df['Sum'].sum()
Sum_Size = virginia_2011_df['Sample_Size'].sum()
virginia_2011_df['Sum_Sample_Size'] = Sum_Size
virginia_2011_df['Percentage'] = Sum/Sum_Size
virginia_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
virginia_2011_df=virginia_2011_df.drop(virginia_2011_df.index[1:28])

virginia_2012_df = year_2012_df[year_2012_df['LocationAbbr'].str.contains("VA")]
virginia_2012_df.reset_index(drop=True, inplace=True)
virginia_2012_df['Sum'] = virginia_2012_df.Data_Value * virginia_2012_df.Sample_Size
Sum = virginia_2012_df['Sum'].sum()
Sum_Size = virginia_2012_df['Sample_Size'].sum()
virginia_2012_df['Sum_Sample_Size'] = Sum_Size
virginia_2012_df['Percentage'] = Sum/Sum_Size
virginia_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
virginia_2012_df=virginia_2012_df.drop(virginia_2012_df.index[1:28])

virginia_2013_df = year_2013_df[year_2013_df['LocationAbbr'].str.contains("VA")]
virginia_2013_df.reset_index(drop=True, inplace=True)
virginia_2013_df['Sum'] = virginia_2013_df.Data_Value * virginia_2013_df.Sample_Size
Sum = virginia_2013_df['Sum'].sum()
Sum_Size = virginia_2013_df['Sample_Size'].sum()
virginia_2013_df['Sum_Sample_Size'] = Sum_Size
virginia_2013_df['Percentage'] = Sum/Sum_Size
virginia_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
virginia_2013_df=virginia_2013_df.drop(virginia_2013_df.index[1:28])

virginia_2014_df = year_2014_df[year_2014_df['LocationAbbr'].str.contains("VA")]
virginia_2014_df.reset_index(drop=True, inplace=True)
virginia_2014_df['Sum'] = virginia_2014_df.Data_Value * virginia_2014_df.Sample_Size
Sum = virginia_2014_df['Sum'].sum()
Sum_Size = virginia_2014_df['Sample_Size'].sum()
virginia_2014_df['Sum_Sample_Size'] = Sum_Size
virginia_2014_df['Percentage'] = Sum/Sum_Size
virginia_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
virginia_2014_df=virginia_2014_df.drop(virginia_2014_df.index[1:28])

virginia_2015_df = year_2015_df[year_2015_df['LocationAbbr'].str.contains("VA")]
virginia_2015_df.reset_index(drop=True, inplace=True)
virginia_2015_df['Sum'] = virginia_2015_df.Data_Value * virginia_2015_df.Sample_Size
Sum = virginia_2015_df['Sum'].sum()
Sum_Size = virginia_2015_df['Sample_Size'].sum()
virginia_2015_df['Sum_Sample_Size'] = Sum_Size
virginia_2015_df['Percentage'] = Sum/Sum_Size
virginia_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
virginia_2015_df=virginia_2015_df.drop(virginia_2015_df.index[1:28])

virginia_2016_df = year_2016_df[year_2016_df['LocationAbbr'].str.contains("VA")]
virginia_2016_df.reset_index(drop=True, inplace=True)
virginia_2016_df['Sum'] = virginia_2016_df.Data_Value * virginia_2016_df.Sample_Size
Sum = virginia_2016_df['Sum'].sum()
Sum_Size = virginia_2016_df['Sample_Size'].sum()
virginia_2016_df['Sum_Sample_Size'] = Sum_Size
virginia_2016_df['Percentage'] = Sum/Sum_Size
virginia_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
virginia_2016_df=virginia_2016_df.drop(virginia_2016_df.index[1:28])

virginia_2017_df = year_2017_df[year_2017_df['LocationAbbr'].str.contains("VA")]
virginia_2017_df.reset_index(drop=True, inplace=True)
virginia_2017_df['Sum'] = virginia_2017_df.Data_Value * virginia_2017_df.Sample_Size
Sum = virginia_2017_df['Sum'].sum()
Sum_Size = virginia_2017_df['Sample_Size'].sum()
virginia_2017_df['Sum_Sample_Size'] = Sum_Size
virginia_2017_df['Percentage'] = Sum/Sum_Size
virginia_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
virginia_2017_df=virginia_2017_df.drop(virginia_2017_df.index[1:28])

virginia_2018_df = year_2018_df[year_2018_df['LocationAbbr'].str.contains("VA")]
virginia_2018_df.reset_index(drop=True, inplace=True)
virginia_2018_df['Sum'] = virginia_2018_df.Data_Value * virginia_2018_df.Sample_Size
Sum = virginia_2018_df['Sum'].sum()
Sum_Size = virginia_2018_df['Sample_Size'].sum()
virginia_2018_df['Sum_Sample_Size'] = Sum_Size
virginia_2018_df['Percentage'] = Sum/Sum_Size
virginia_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
virginia_2018_df=virginia_2018_df.drop(virginia_2018_df.index[1:28])

In [250]:
washington_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Washington")]
washington_2011_df.reset_index(drop=True, inplace=True)
washington_2011_df['Sum'] = washington_2011_df.Data_Value * washington_2011_df.Sample_Size
Sum = washington_2011_df['Sum'].sum()
Sum_Size = washington_2011_df['Sample_Size'].sum()
washington_2011_df['Sum_Sample_Size'] = Sum_Size
washington_2011_df['Percentage'] = Sum/Sum_Size
washington_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
washington_2011_df=washington_2011_df.drop(washington_2011_df.index[1:28])

washington_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Washington")]
washington_2012_df.reset_index(drop=True, inplace=True)
washington_2012_df['Sum'] = washington_2012_df.Data_Value * washington_2012_df.Sample_Size
Sum = washington_2012_df['Sum'].sum()
Sum_Size = washington_2012_df['Sample_Size'].sum()
washington_2012_df['Sum_Sample_Size'] = Sum_Size
washington_2012_df['Percentage'] = Sum/Sum_Size
washington_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
washington_2012_df=washington_2012_df.drop(washington_2012_df.index[1:28])

washington_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Washington")]
washington_2013_df.reset_index(drop=True, inplace=True)
washington_2013_df['Sum'] = washington_2013_df.Data_Value * washington_2013_df.Sample_Size
Sum = washington_2013_df['Sum'].sum()
Sum_Size = washington_2013_df['Sample_Size'].sum()
washington_2013_df['Sum_Sample_Size'] = Sum_Size
washington_2013_df['Percentage'] = Sum/Sum_Size
washington_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
washington_2013_df=washington_2013_df.drop(washington_2013_df.index[1:28])

washington_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Washington")]
washington_2014_df.reset_index(drop=True, inplace=True)
washington_2014_df['Sum'] = washington_2014_df.Data_Value * washington_2014_df.Sample_Size
Sum = washington_2014_df['Sum'].sum()
Sum_Size = washington_2014_df['Sample_Size'].sum()
washington_2014_df['Sum_Sample_Size'] = Sum_Size
washington_2014_df['Percentage'] = Sum/Sum_Size
washington_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
washington_2014_df=washington_2014_df.drop(washington_2014_df.index[1:28])

washington_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Washington")]
washington_2015_df.reset_index(drop=True, inplace=True)
washington_2015_df['Sum'] = washington_2015_df.Data_Value * washington_2015_df.Sample_Size
Sum = washington_2015_df['Sum'].sum()
Sum_Size = washington_2015_df['Sample_Size'].sum()
washington_2015_df['Sum_Sample_Size'] = Sum_Size
washington_2015_df['Percentage'] = Sum/Sum_Size
washington_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
washington_2015_df=washington_2015_df.drop(washington_2015_df.index[1:28])

washington_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Washington")]
washington_2016_df.reset_index(drop=True, inplace=True)
washington_2016_df['Sum'] = washington_2016_df.Data_Value * washington_2016_df.Sample_Size
Sum = washington_2016_df['Sum'].sum()
Sum_Size = washington_2016_df['Sample_Size'].sum()
washington_2016_df['Sum_Sample_Size'] = Sum_Size
washington_2016_df['Percentage'] = Sum/Sum_Size
washington_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
washington_2016_df=washington_2016_df.drop(washington_2016_df.index[1:28])

washington_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Washington")]
washington_2017_df.reset_index(drop=True, inplace=True)
washington_2017_df['Sum'] = washington_2017_df.Data_Value * washington_2017_df.Sample_Size
Sum = washington_2017_df['Sum'].sum()
Sum_Size = washington_2017_df['Sample_Size'].sum()
washington_2017_df['Sum_Sample_Size'] = Sum_Size
washington_2017_df['Percentage'] = Sum/Sum_Size
washington_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
washington_2017_df=washington_2017_df.drop(washington_2017_df.index[1:28])

washington_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Washington")]
washington_2018_df.reset_index(drop=True, inplace=True)
washington_2018_df['Sum'] = washington_2018_df.Data_Value * washington_2018_df.Sample_Size
Sum = washington_2018_df['Sum'].sum()
Sum_Size = washington_2018_df['Sample_Size'].sum()
washington_2018_df['Sum_Sample_Size'] = Sum_Size
washington_2018_df['Percentage'] = Sum/Sum_Size
washington_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
washington_2018_df=washington_2018_df.drop(washington_2018_df.index[1:28])

In [251]:
west_virginia_2011_df = year_2011_df[year_2011_df['LocationAbbr'].str.contains("WV")]
west_virginia_2011_df.reset_index(drop=True, inplace=True)
west_virginia_2011_df['Sum'] = west_virginia_2011_df.Data_Value * west_virginia_2011_df.Sample_Size
Sum = west_virginia_2011_df['Sum'].sum()
Sum_Size = west_virginia_2011_df['Sample_Size'].sum()
west_virginia_2011_df['Sum_Sample_Size'] = Sum_Size
west_virginia_2011_df['Percentage'] = Sum/Sum_Size
west_virginia_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
west_virginia_2011_df=west_virginia_2011_df.drop(west_virginia_2011_df.index[1:28])

west_virginia_2012_df = year_2012_df[year_2012_df['LocationAbbr'].str.contains("WV")]
west_virginia_2012_df.reset_index(drop=True, inplace=True)
west_virginia_2012_df['Sum'] = west_virginia_2012_df.Data_Value * west_virginia_2012_df.Sample_Size
Sum = west_virginia_2012_df['Sum'].sum()
Sum_Size = west_virginia_2012_df['Sample_Size'].sum()
west_virginia_2012_df['Sum_Sample_Size'] = Sum_Size
west_virginia_2012_df['Percentage'] = Sum/Sum_Size
west_virginia_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
west_virginia_2012_df=west_virginia_2012_df.drop(west_virginia_2012_df.index[1:28])

west_virginia_2013_df = year_2013_df[year_2013_df['LocationAbbr'].str.contains("WV")]
west_virginia_2013_df.reset_index(drop=True, inplace=True)
west_virginia_2013_df['Sum'] = west_virginia_2013_df.Data_Value * west_virginia_2013_df.Sample_Size
Sum = west_virginia_2013_df['Sum'].sum()
Sum_Size = west_virginia_2013_df['Sample_Size'].sum()
west_virginia_2013_df['Sum_Sample_Size'] = Sum_Size
west_virginia_2013_df['Percentage'] = Sum/Sum_Size
west_virginia_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
west_virginia_2013_df=west_virginia_2013_df.drop(west_virginia_2013_df.index[1:28])

west_virginia_2014_df = year_2014_df[year_2014_df['LocationAbbr'].str.contains("WV")]
west_virginia_2014_df.reset_index(drop=True, inplace=True)
west_virginia_2014_df['Sum'] = west_virginia_2014_df.Data_Value * west_virginia_2014_df.Sample_Size
Sum = west_virginia_2014_df['Sum'].sum()
Sum_Size = west_virginia_2014_df['Sample_Size'].sum()
west_virginia_2014_df['Sum_Sample_Size'] = Sum_Size
west_virginia_2014_df['Percentage'] = Sum/Sum_Size
west_virginia_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
west_virginia_2014_df=west_virginia_2014_df.drop(west_virginia_2014_df.index[1:28])

west_virginia_2015_df = year_2015_df[year_2015_df['LocationAbbr'].str.contains("WV")]
west_virginia_2015_df.reset_index(drop=True, inplace=True)
west_virginia_2015_df['Sum'] = west_virginia_2015_df.Data_Value * west_virginia_2015_df.Sample_Size
Sum = west_virginia_2015_df['Sum'].sum()
Sum_Size = west_virginia_2015_df['Sample_Size'].sum()
west_virginia_2015_df['Sum_Sample_Size'] = Sum_Size
west_virginia_2015_df['Percentage'] = Sum/Sum_Size
west_virginia_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
west_virginia_2015_df=west_virginia_2015_df.drop(west_virginia_2015_df.index[1:28])

west_virginia_2016_df = year_2016_df[year_2016_df['LocationAbbr'].str.contains("WV")]
west_virginia_2016_df.reset_index(drop=True, inplace=True)
west_virginia_2016_df['Sum'] = west_virginia_2016_df.Data_Value * west_virginia_2016_df.Sample_Size
Sum = west_virginia_2016_df['Sum'].sum()
Sum_Size = west_virginia_2016_df['Sample_Size'].sum()
west_virginia_2016_df['Sum_Sample_Size'] = Sum_Size
west_virginia_2016_df['Percentage'] = Sum/Sum_Size
west_virginia_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
west_virginia_2016_df=west_virginia_2016_df.drop(west_virginia_2016_df.index[1:28])

west_virginia_2017_df = year_2017_df[year_2017_df['LocationAbbr'].str.contains("WV")]
west_virginia_2017_df.reset_index(drop=True, inplace=True)
west_virginia_2017_df['Sum'] = west_virginia_2017_df.Data_Value * west_virginia_2017_df.Sample_Size
Sum = west_virginia_2017_df['Sum'].sum()
Sum_Size = west_virginia_2017_df['Sample_Size'].sum()
west_virginia_2017_df['Sum_Sample_Size'] = Sum_Size
west_virginia_2017_df['Percentage'] = Sum/Sum_Size
west_virginia_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
west_virginia_2017_df=west_virginia_2017_df.drop(west_virginia_2017_df.index[1:28])

west_virginia_2018_df = year_2018_df[year_2018_df['LocationAbbr'].str.contains("WV")]
west_virginia_2018_df.reset_index(drop=True, inplace=True)
west_virginia_2018_df['Sum'] = west_virginia_2018_df.Data_Value * west_virginia_2018_df.Sample_Size
Sum = west_virginia_2018_df['Sum'].sum()
Sum_Size = west_virginia_2018_df['Sample_Size'].sum()
west_virginia_2018_df['Sum_Sample_Size'] = Sum_Size
west_virginia_2018_df['Percentage'] = Sum/Sum_Size
west_virginia_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
west_virginia_2018_df=west_virginia_2018_df.drop(west_virginia_2018_df.index[1:28])

In [252]:
wisconsin_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Wisconsin")]
wisconsin_2011_df.reset_index(drop=True, inplace=True)
wisconsin_2011_df['Sum'] = wisconsin_2011_df.Data_Value * wisconsin_2011_df.Sample_Size
Sum = wisconsin_2011_df['Sum'].sum()
Sum_Size = wisconsin_2011_df['Sample_Size'].sum()
wisconsin_2011_df['Sum_Sample_Size'] = Sum_Size
wisconsin_2011_df['Percentage'] = Sum/Sum_Size
wisconsin_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
wisconsin_2011_df=wisconsin_2011_df.drop(wisconsin_2011_df.index[1:28])

wisconsin_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Wisconsin")]
wisconsin_2012_df.reset_index(drop=True, inplace=True)
wisconsin_2012_df['Sum'] = wisconsin_2012_df.Data_Value * wisconsin_2012_df.Sample_Size
Sum = wisconsin_2012_df['Sum'].sum()
Sum_Size = wisconsin_2012_df['Sample_Size'].sum()
wisconsin_2012_df['Sum_Sample_Size'] = Sum_Size
wisconsin_2012_df['Percentage'] = Sum/Sum_Size
wisconsin_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
wisconsin_2012_df=wisconsin_2012_df.drop(wisconsin_2012_df.index[1:28])

wisconsin_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Wisconsin")]
wisconsin_2013_df.reset_index(drop=True, inplace=True)
wisconsin_2013_df['Sum'] = wisconsin_2013_df.Data_Value * wisconsin_2013_df.Sample_Size
Sum = wisconsin_2013_df['Sum'].sum()
Sum_Size = wisconsin_2013_df['Sample_Size'].sum()
wisconsin_2013_df['Sum_Sample_Size'] = Sum_Size
wisconsin_2013_df['Percentage'] = Sum/Sum_Size
wisconsin_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
wisconsin_2013_df=wisconsin_2013_df.drop(wisconsin_2013_df.index[1:28])

wisconsin_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Wisconsin")]
wisconsin_2014_df.reset_index(drop=True, inplace=True)
wisconsin_2014_df['Sum'] = wisconsin_2014_df.Data_Value * wisconsin_2014_df.Sample_Size
Sum = wisconsin_2014_df['Sum'].sum()
Sum_Size = wisconsin_2014_df['Sample_Size'].sum()
wisconsin_2014_df['Sum_Sample_Size'] = Sum_Size
wisconsin_2014_df['Percentage'] = Sum/Sum_Size
wisconsin_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
wisconsin_2014_df=wisconsin_2014_df.drop(wisconsin_2014_df.index[1:28])

wisconsin_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Wisconsin")]
wisconsin_2015_df.reset_index(drop=True, inplace=True)
wisconsin_2015_df['Sum'] = wisconsin_2015_df.Data_Value * wisconsin_2015_df.Sample_Size
Sum = wisconsin_2015_df['Sum'].sum()
Sum_Size = wisconsin_2015_df['Sample_Size'].sum()
wisconsin_2015_df['Sum_Sample_Size'] = Sum_Size
wisconsin_2015_df['Percentage'] = Sum/Sum_Size
wisconsin_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
wisconsin_2015_df=wisconsin_2015_df.drop(wisconsin_2015_df.index[1:28])

wisconsin_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Wisconsin")]
wisconsin_2016_df.reset_index(drop=True, inplace=True)
wisconsin_2016_df['Sum'] = wisconsin_2016_df.Data_Value * wisconsin_2016_df.Sample_Size
Sum = wisconsin_2016_df['Sum'].sum()
Sum_Size = wisconsin_2016_df['Sample_Size'].sum()
wisconsin_2016_df['Sum_Sample_Size'] = Sum_Size
wisconsin_2016_df['Percentage'] = Sum/Sum_Size
wisconsin_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
wisconsin_2016_df=wisconsin_2016_df.drop(wisconsin_2016_df.index[1:28])

wisconsin_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Wisconsin")]
wisconsin_2017_df.reset_index(drop=True, inplace=True)
wisconsin_2017_df['Sum'] = wisconsin_2017_df.Data_Value * wisconsin_2017_df.Sample_Size
Sum = wisconsin_2017_df['Sum'].sum()
Sum_Size = wisconsin_2017_df['Sample_Size'].sum()
wisconsin_2017_df['Sum_Sample_Size'] = Sum_Size
wisconsin_2017_df['Percentage'] = Sum/Sum_Size
wisconsin_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
wisconsin_2017_df=wisconsin_2017_df.drop(wisconsin_2017_df.index[1:28])

wisconsin_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Wisconsin")]
wisconsin_2018_df.reset_index(drop=True, inplace=True)
wisconsin_2018_df['Sum'] = wisconsin_2018_df.Data_Value * wisconsin_2018_df.Sample_Size
Sum = wisconsin_2018_df['Sum'].sum()
Sum_Size = wisconsin_2018_df['Sample_Size'].sum()
wisconsin_2018_df['Sum_Sample_Size'] = Sum_Size
wisconsin_2018_df['Percentage'] = Sum/Sum_Size
wisconsin_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
wisconsin_2018_df=wisconsin_2018_df.drop(wisconsin_2018_df.index[1:28])

In [253]:
wyoming_2011_df = year_2011_df[year_2011_df['Location'].str.contains("Wyoming")]
wyoming_2011_df.reset_index(drop=True, inplace=True)
wyoming_2011_df['Sum'] = wyoming_2011_df.Data_Value * wyoming_2011_df.Sample_Size
Sum = wyoming_2011_df['Sum'].sum()
Sum_Size = wyoming_2011_df['Sample_Size'].sum()
wyoming_2011_df['Sum_Sample_Size'] = Sum_Size
wyoming_2011_df['Percentage'] = Sum/Sum_Size
wyoming_2011_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
wyoming_2011_df=wyoming_2011_df.drop(wyoming_2011_df.index[1:28])

wyoming_2012_df = year_2012_df[year_2012_df['Location'].str.contains("Wyoming")]
wyoming_2012_df.reset_index(drop=True, inplace=True)
wyoming_2012_df['Sum'] = wyoming_2012_df.Data_Value * wyoming_2012_df.Sample_Size
Sum = wyoming_2012_df['Sum'].sum()
Sum_Size = wyoming_2012_df['Sample_Size'].sum()
wyoming_2012_df['Sum_Sample_Size'] = Sum_Size
wyoming_2012_df['Percentage'] = Sum/Sum_Size
wyoming_2012_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
wyoming_2012_df=wyoming_2012_df.drop(wyoming_2012_df.index[1:28])

wyoming_2013_df = year_2013_df[year_2013_df['Location'].str.contains("Wyoming")]
wyoming_2013_df.reset_index(drop=True, inplace=True)
wyoming_2013_df['Sum'] = wyoming_2013_df.Data_Value * wyoming_2013_df.Sample_Size
Sum = wyoming_2013_df['Sum'].sum()
Sum_Size = wyoming_2013_df['Sample_Size'].sum()
wyoming_2013_df['Sum_Sample_Size'] = Sum_Size
wyoming_2013_df['Percentage'] = Sum/Sum_Size
wyoming_2013_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
wyoming_2013_df=wyoming_2013_df.drop(wyoming_2013_df.index[1:28])

wyoming_2014_df = year_2014_df[year_2014_df['Location'].str.contains("Wyoming")]
wyoming_2014_df.reset_index(drop=True, inplace=True)
wyoming_2014_df['Sum'] = wyoming_2014_df.Data_Value * wyoming_2014_df.Sample_Size
Sum = wyoming_2014_df['Sum'].sum()
Sum_Size = wyoming_2014_df['Sample_Size'].sum()
wyoming_2014_df['Sum_Sample_Size'] = Sum_Size
wyoming_2014_df['Percentage'] = Sum/Sum_Size
wyoming_2014_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
wyoming_2014_df=wyoming_2014_df.drop(wyoming_2014_df.index[1:28])

wyoming_2015_df = year_2015_df[year_2015_df['Location'].str.contains("Wyoming")]
wyoming_2015_df.reset_index(drop=True, inplace=True)
wyoming_2015_df['Sum'] = wyoming_2015_df.Data_Value * wyoming_2015_df.Sample_Size
Sum = wyoming_2015_df['Sum'].sum()
Sum_Size = wyoming_2015_df['Sample_Size'].sum()
wyoming_2015_df['Sum_Sample_Size'] = Sum_Size
wyoming_2015_df['Percentage'] = Sum/Sum_Size
wyoming_2015_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
wyoming_2015_df=wyoming_2015_df.drop(wyoming_2015_df.index[1:28])

wyoming_2016_df = year_2016_df[year_2016_df['Location'].str.contains("Wyoming")]
wyoming_2016_df.reset_index(drop=True, inplace=True)
wyoming_2016_df['Sum'] = wyoming_2016_df.Data_Value * wyoming_2016_df.Sample_Size
Sum = wyoming_2016_df['Sum'].sum()
Sum_Size = wyoming_2016_df['Sample_Size'].sum()
wyoming_2016_df['Sum_Sample_Size'] = Sum_Size
wyoming_2016_df['Percentage'] = Sum/Sum_Size
wyoming_2016_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
wyoming_2016_df=wyoming_2016_df.drop(wyoming_2016_df.index[1:28])

wyoming_2017_df = year_2017_df[year_2017_df['Location'].str.contains("Wyoming")]
wyoming_2017_df.reset_index(drop=True, inplace=True)
wyoming_2017_df['Sum'] = wyoming_2017_df.Data_Value * wyoming_2017_df.Sample_Size
Sum = wyoming_2017_df['Sum'].sum()
Sum_Size = wyoming_2017_df['Sample_Size'].sum()
wyoming_2017_df['Sum_Sample_Size'] = Sum_Size
wyoming_2017_df['Percentage'] = Sum/Sum_Size
wyoming_2017_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
wyoming_2017_df=wyoming_2017_df.drop(wyoming_2017_df.index[1:28])

wyoming_2018_df = year_2018_df[year_2018_df['Location'].str.contains("Wyoming")]
wyoming_2018_df.reset_index(drop=True, inplace=True)
wyoming_2018_df['Sum'] = wyoming_2018_df.Data_Value * wyoming_2018_df.Sample_Size
Sum = wyoming_2018_df['Sum'].sum()
Sum_Size = wyoming_2018_df['Sample_Size'].sum()
wyoming_2018_df['Sum_Sample_Size'] = Sum_Size
wyoming_2018_df['Percentage'] = Sum/Sum_Size
wyoming_2018_df.drop(columns = ['Sum', 'Sample_Size', 'Data_Value'], axis=1, inplace=True)
wyoming_2018_df=wyoming_2018_df.drop(wyoming_2018_df.index[1:28])

In [254]:
frames = [alabama_2011_df, alabama_2012_df, alabama_2013_df, alabama_2014_df, alabama_2015_df, alabama_2016_df, \
          alaska_2011_df, alaska_2012_df, alaska_2013_df, alaska_2014_df, alaska_2015_df, alaska_2016_df, \
          arizona_2011_df, arizona_2012_df, arizona_2013_df, arizona_2014_df, arizona_2015_df, arizona_2016_df, \
          arkansas_2011_df, arkansas_2012_df, arkansas_2013_df, arkansas_2014_df, arkansas_2015_df, arkansas_2016_df, \
          california_2011_df, california_2012_df, california_2013_df, california_2014_df, california_2015_df, \
          california_2016_df, colorado_2011_df, colorado_2012_df, colorado_2013_df, colorado_2014_df, \
          colorado_2015_df, colorado_2016_df, connecticut_2011_df, connecticut_2012_df, connecticut_2013_df, \
          connecticut_2014_df, connecticut_2015_df, connecticut_2016_df, delaware_2011_df, delaware_2012_df, \
          delaware_2013_df, delaware_2014_df, delaware_2015_df, delaware_2016_df, florida_2011_df, florida_2012_df, \
          florida_2013_df, florida_2014_df, florida_2015_df, florida_2016_df, georgia_2011_df, georgia_2012_df, \
          georgia_2013_df, georgia_2014_df, georgia_2015_df, georgia_2016_df, hawaii_2011_df, hawaii_2012_df, \
          hawaii_2013_df, hawaii_2014_df, hawaii_2015_df, hawaii_2016_df, idaho_2011_df, idaho_2012_df, idaho_2013_df, \
          idaho_2014_df, idaho_2015_df, idaho_2016_df, illinois_2011_df, illinois_2012_df, illinois_2013_df, \
          illinois_2014_df, illinois_2015_df, illinois_2016_df, indiana_2011_df, \
          indiana_2012_df, indiana_2013_df, indiana_2014_df, indiana_2015_df, indiana_2016_df, iowa_2011_df, \
          iowa_2012_df, iowa_2013_df, iowa_2014_df, iowa_2015_df, iowa_2016_df, kansas_2011_df, kansas_2012_df, \
          kansas_2013_df, kansas_2014_df, kansas_2015_df, kansas_2016_df, kentucky_2011_df, kentucky_2012_df, \
          kentucky_2013_df, kentucky_2014_df, kentucky_2015_df, kentucky_2016_df, louisiana_2011_df, \
          louisiana_2012_df, louisiana_2013_df, louisiana_2014_df, louisiana_2015_df, louisiana_2016_df, \
          maine_2011_df, maine_2012_df, maine_2013_df, maine_2014_df, maine_2015_df, maine_2016_df, \
          maryland_2011_df, maryland_2012_df, maryland_2013_df, maryland_2014_df, maryland_2015_df, maryland_2016_df, \
          massachusetts_2011_df, massachusetts_2012_df, massachusetts_2013_df, massachusetts_2014_df, \
          massachusetts_2015_df, massachusetts_2016_df, michigan_2011_df, michigan_2012_df, michigan_2013_df, \
          michigan_2014_df, michigan_2015_df, michigan_2016_df, minnesota_2011_df, minnesota_2012_df, \
          minnesota_2013_df, minnesota_2014_df, minnesota_2015_df, minnesota_2016_df, mississippi_2011_df, \
          mississippi_2012_df, mississippi_2013_df, mississippi_2014_df, mississippi_2015_df, mississippi_2016_df, \
          missouri_2011_df, missouri_2012_df, missouri_2013_df, missouri_2014_df, missouri_2015_df, missouri_2016_df, \
          montana_2011_df, montana_2012_df, montana_2013_df, montana_2014_df, montana_2015_df, montana_2016_df, \
          nebraska_2011_df, nebraska_2012_df, nebraska_2013_df, nebraska_2014_df, nebraska_2015_df, nebraska_2016_df, \
          nevada_2011_df, nevada_2012_df, nevada_2013_df, nevada_2014_df, nevada_2015_df, nevada_2016_df, \
          new_hampshire_2011_df, new_hampshire_2012_df, new_hampshire_2013_df, new_hampshire_2014_df, \
          new_hampshire_2015_df, new_hampshire_2016_df, new_jersey_2011_df, new_jersey_2012_df, new_jersey_2013_df, \
          new_jersey_2014_df, new_jersey_2015_df, new_jersey_2016_df, new_mexico_2011_df, new_mexico_2012_df, \
          new_mexico_2013_df, new_mexico_2014_df, new_mexico_2015_df, new_mexico_2016_df, new_york_2011_df, \
          new_york_2012_df, new_york_2013_df, new_york_2014_df, new_york_2015_df, new_york_2016_df, \
          north_carolina_2011_df, north_carolina_2012_df, north_carolina_2013_df, north_carolina_2014_df, \
          north_carolina_2015_df, north_carolina_2016_df, north_dakota_2011_df, north_dakota_2012_df, \
          north_dakota_2013_df, north_dakota_2014_df, north_dakota_2015_df, north_dakota_2016_df, ohio_2011_df, \
          ohio_2012_df, ohio_2013_df, ohio_2014_df, ohio_2015_df, ohio_2016_df, oklahoma_2011_df, oklahoma_2012_df, \
          oklahoma_2013_df, oklahoma_2014_df, oklahoma_2015_df, oklahoma_2016_df, \
          oregon_2011_df, oregon_2012_df, oregon_2013_df, oregon_2014_df, oregon_2015_df, oregon_2016_df, \
          pennsylvania_2011_df, pennsylvania_2012_df, pennsylvania_2013_df, pennsylvania_2014_df, \
          pennsylvania_2015_df, pennsylvania_2016_df, rhode_island_2011_df, rhode_island_2012_df, \
          rhode_island_2013_df, rhode_island_2014_df, rhode_island_2015_df, rhode_island_2016_df, \
          south_carolina_2011_df, south_carolina_2012_df, south_carolina_2013_df, south_carolina_2014_df, \
          south_carolina_2015_df, south_carolina_2016_df, south_dakota_2011_df, south_dakota_2012_df, \
          south_dakota_2013_df, south_dakota_2014_df, south_dakota_2015_df, south_dakota_2016_df, tennessee_2011_df, \
          tennessee_2012_df, tennessee_2013_df, tennessee_2014_df, tennessee_2015_df, tennessee_2016_df, \
          texas_2011_df, texas_2012_df, texas_2013_df, texas_2014_df, texas_2015_df, texas_2016_df, utah_2011_df, \
          utah_2012_df, utah_2013_df, utah_2014_df, utah_2015_df, utah_2016_df, vermont_2011_df, vermont_2012_df, \
          vermont_2013_df, vermont_2014_df, vermont_2015_df, vermont_2016_df, virginia_2011_df, virginia_2012_df, \
          virginia_2013_df, virginia_2014_df, virginia_2015_df, virginia_2016_df, washington_2011_df, \
          washington_2012_df, washington_2013_df, washington_2014_df, washington_2015_df, washington_2016_df, \
          west_virginia_2011_df, west_virginia_2012_df, west_virginia_2013_df, west_virginia_2014_df, \
          west_virginia_2015_df, west_virginia_2016_df, wisconsin_2011_df, wisconsin_2012_df, wisconsin_2013_df, \
          wisconsin_2014_df, wisconsin_2015_df, wisconsin_2016_df, wyoming_2011_df, wyoming_2012_df, wyoming_2013_df, \
          wyoming_2014_df, wyoming_2015_df, wyoming_2016_df]

result = pd.concat(frames)
result.drop(columns = ['LocationAbbr', 'Topic', 'Question', 'GeoLocation', 'Sum_Sample_Size'], axis=1, inplace=True)
result.rename(columns={"Percentage":"obesity_percentage"}, inplace=True)
result.rename(columns={"Location":"state"}, inplace=True)
result.rename(columns={"Year":"year"}, inplace=True)

In [255]:
decimals = pd.Series([2], index=['obesity_percentage'])
result = result.round(decimals)

In [256]:
result.reset_index(drop = True, inplace = True)
result.to_csv(r'../clean_datasets/clean_obesity.csv', index=None)
result

       state  year  obesity_percentage
0    Alabama  2011               32.10
1    Alabama  2012               33.07
2    Alabama  2013               32.59
3    Alabama  2014               33.57
4    Alabama  2015               35.67
..       ...   ...                 ...
295  Wyoming  2012               24.58
296  Wyoming  2013               27.59
297  Wyoming  2014               29.17
298  Wyoming  2015               28.81
299  Wyoming  2016               27.66

[300 rows x 3 columns]